<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<include file="Index:nav" />
<div class="container">
<div class="content">
   <div class="regbox">
       <h1><strong>Retrieve my password</strong></h1>
       <div class="reg">
        <form  action="{:U('Login/findpwd2')}" method="post" id="frm_find"  > 
         <table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2"><h4 class="fc_red">An email with a verification code was sent to the email: <span class="fc_blue">{$email}</span>, please check it and fill up the below boxes.</h4>  </td>
  </tr>
  <tr>
    <td align="right">Verification code：</td>
    <td><input type="text" class="reginput"  name="pwdcode" id="pwdcode"  placeholder="enter your received verification code" required="required" size="40" />
    <span class="zhushi">Please enter your account</span></td>
  </tr>
  <tr>
    <td align="right">Set new password：</td>
    <td><input type="password" class="reginput"  name="userpwd" id="userpwd"  placeholder="enter your password" required="required" size="40" />
      <span class="zhushi">Please enter a new password</span></td>
  </tr>
  <tr>
    <td align="right">Confirm password：</td>
    <td><input type="password" class="reginput"  name="userpwd1" id="userpwd1"  placeholder="enter your password again" required="required" size="40" />
      <span class="zhushi">Confirm new password</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
      <td><input type="submit" name="imageField" id="imageField" class="lgbtn" value="Submit" /></td>
   </tr>
</table>
</form>

      </div>
    </div>
    
</div>


  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
