<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<include file="Index:nav" />
<div class="container">
<div class="content">
   <div class="regbox">
       <h1><strong>Retrieve my password</strong></h1>
       <div class="reg">
        <form  action="{:U('Login/findpwd')}" method="post" id="frm_find" onsubmit="return checkfindform()"> 
         <table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right">User name：</td>
    <td><input type="text" class="reginput"  name="username" id="username"  placeholder="enter your user name" required="required" size="40" />
    <span class="zhushi">Please enter your account</span></td>
  </tr>
  <tr>
    <td align="right">Email：</td>
    <td><input type="text" class="reginput"  name="email" id="email"  placeholder="enter your email" required="required" size="40" />
      <span class="zhushi">Please fill in the registered email</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
      <td><input type="submit" name="imageField" id="imageField" class="lgbtn" value="Next step" /></td>
   </tr>
</table>
</form>

      </div>
    </div>
    
</div>


  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
