<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header"/>
</head>

<body>
<include file="Index:bar"/>
<include file="Index:nav"/>
<div class="container">
    <div class="hybox">
        <div class="hytit"><strong>Adding shipping address</strong></div>
        <div class="grzl">
            <form id="myform" onsubmit="return false;">
                <table border="0" cellspacing="0" cellpadding="0" style="margin:0px auto">
                    <tr>
                        <td align="right">Consingee：</td>
                        <td><input id="userreal" name="userreal" type="text" value="{$user.username}" placeholder="3-50 characters"
                                   class="input03" size="40" required="required"></td>
                    </tr>
                    <tr>
                        <td align="right">Phone：</td>
                        <td><input id="telephone" name="telephone" type="text" maxlength="20" value="{$user.telephone|default='+86'}"
                                   placeholder="enter your mobile" class="input03" size="40" required="required"></td>
                    </tr>
                    <tr>
                        <td align="right">Alternative phone：</td>
                        <td><input id="telephone_con" name="telephone_con" type="text" maxlength="20" value=""
                                   placeholder="enter your alternative phone" class="input03" size="40"></td>
                    </tr>
                    <tr>
                        <td align="right">Gender：</td>
                        <td>
                            <input name="sex" type="radio" id="radio" value="1"/>
                            <label for="radio">Male</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="sex" id="radio2" value="0" checked/>
                            <label for="radio2">Female</label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">City：</td>
                        <td>
                            <ul class="city">
                                <li class="hover" data-city="chengdu">Chengdu</li>
                                <li data-city="chongqing">Chongqing</li>
                                <li data-city="xi'an">Xi'an</li>
                                <li data-city="kunming">Kunming</li>
                                <li data-city="other">Other</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Address：</td>
                        <td>
                            <textarea name="address" id="address" cols="42" style="resize: none"
                                      placeholder="enter your detailed address" rows="2" required="required"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Set as default address：</td>
                        <td>
                            <ul id="default" class="default">
                                <li data-val="1" class="hover">Yes</li>
                                <li data-val="0">No</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Language：</td>
                        <td>
                            <ul id="language" class="language">
                                <li data-id="3" class="hover">English</li>
                                <li data-id="1">中文</li>
                            </ul>
                        </td>
                    </tr>

                    <tr class="hide">
                        <td align="right">Remark：</td>
                        <td><input id="info" name="info" type="text" value="" class="input03" size="100"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" onclick="addAddress()" class="jixu" value="Submit"/>
                            <input type="button" onclick="history.back()" class="jixu" value="Back"/>
                            <input type="hidden" name="url" id="url" value="{$Think.get.url}"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<include file="Index:footer"/>
<js href="__PUBLIC__/Admin/js/alerts/jquery.alerts.js"/>
<script language="javascript">
    $(function () {
        InitArea();
    });
</script>
</body>
</html>
