<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<div class="container">
  <div class="content">
    <div class="main-body">
      <div class="main-list">
        <div class="main-item">
          <div class="item-title">
            <h3>账户交易记录</h3>
            <span class="fr">（初始金额：0，当前余额：{:get_useramount(0)}）</span> </div>
          <eq name="listcount" value="0">
            <div class="item-title bdnone"> <span>查无记录！</span> </div>
            <div class="clr"></div>
          </eq>
          <volist name="list" id="vo">
            <div class="address-info">
              <div class="address-name"> 记录编号：{$vo.id}<br />
                收支类别：{:get_iotypename($vo['balancetypeid'])}<br>
                交易金额：
                <eq name="vo.balancetype" value="1">+
                  <else />
                  -</eq>
                {$vo.amount} <br />
                本次余额：{$vo.balance}<br />
                交易时间：{$vo.addtime}<br />
                备注信息：{$vo.remark} </div>
              <div class="clr"></div>
            </div>
          </volist>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Index:footer" />
</body>
</html>
