<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header" />
</head>

<body style="background: #f8f8f8">
<include file="Index:nav2" />
<div class="container clr">
    <div class="content">
        <div class="left leftmenu fl">
            <div class="nyltit fr tc">Information Centre</div>
            <ul class="hymenu clr">
                <volist name="channel" id="vo">
                    <li>
                        <a href="{:U('Content/lists?id='.$vo['id'])}"  <if condition="$vo['id'] eq $pid">class="selected"</if>>
                        {$vo.name}
                        </a>
                    </li>
                </volist>
            </ul>
            <div class="clr"></div>
        </div>
        <div class="right fr new">
            <div class="newtitle"> <span class="ab">{$channelname}</span> </div>
            <div class="newslist">
                <ul >
                    <volist name="list" id="vo">
                        <li> <a href="{:U('Content/view','id='.$vo['id'])}">{$vo.title}</a><span>{$vo.addtime}</span></li>
                    </volist>
                </ul>
                <div class="clear"></div>
                <div class="pagelist">{$page}</div>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
<include file="Index:footer" />
<div class="lean_overlay hide" data-show="1"></div>
<div class="leanModal addressModal hide" id="userModal">
    <iframe width="500" height="532"  marginwidth="0" marginheight="0" frameborder="0" src="/member/info.html"></iframe>
</div>
<script>
    function showUserInfo(){
        $('.lean_overlay').show();
        $('#userModal').show();
    }
</script>
</body>
</html>
