<div class="container">
<div class="fuwu">
  <ul>
    <li>
      <h2>Getting Started</h2>
       <volist name=":get_lists(11,5,2)" id="vo">
          <empty name="vo.linkurl">
          <p><a href="{:U('Content/view','id='.$vo['id'])}" >{$vo.title}</a></p>
          <else/>
          
          <p><a href="{$vo.linkurl}" >{$vo.title}</a></p>
          </empty>
          </volist>
    </li>
    <li>
      <h2>Delivery Service</h2> 
       <volist name=":get_lists(12,5,2)" id="vo">
          <empty name="vo.linkurl">
          <p><a href="{:U('Content/view','id='.$vo['id'])}" >{$vo.title}</a></p>
          <else/>
          
          <p><a href="{$vo.linkurl}" >{$vo.title}</a></p>
          </empty>
          </volist>
    </li>
    <li>
      <h2>Payment</h2>
       <volist name=":get_lists(13,5,2)" id="vo">
          <empty name="vo.linkurl">
          <p><a href="{:U('Content/view','id='.$vo['id'])}" >{$vo.title}</a></p>
          <else/>
          
          <p><a href="{$vo.linkurl}" >{$vo.title}</a></p>
          </empty>
          </volist>
    </li>
    <li>
      <h2>After-Sale Service</h2>
       <volist name=":get_lists(14,5,2)" id="vo">
          <empty name="vo.linkurl">
          <p><a href="{:U('Content/view','id='.$vo['id'])}" >{$vo.title}</a></p>
          <else/>
          
          <p><a href="{$vo.linkurl}" >{$vo.title}</a></p>
          </empty>
          </volist>
    </li>
  </ul>
</div>
<div class="foot">{:lbl('copyright')}</div>
 
	<div class="clr"></div>
</div>
<script>
    $(function(){
        $('.city li').click(function () {
            $('.city li').removeClass('hover');
            $(this).addClass('hover');
        })

        $('.language li').click(function () {
            $('.language li').removeClass('hover');
            $(this).addClass('hover');
        })
    })
</script>