
<div class="container">
    <div class="foot">{:lbl('copyright')}</div>
    <div class="clr"></div>
</div>
<script>
    $(function () {
        $('.city li').click(function () {
            $('.city li').removeClass('hover');
            $(this).addClass('hover');
        })

        $('.default li').click(function () {
            $('.default li').removeClass('hover');
            $(this).addClass('hover');
        })

        $('.language li').click(function () {
            $('.language li').removeClass('hover');
            $(this).addClass('hover');
        })
    })
</script>