<link rel="stylesheet" type="text/css" href="__PUBLIC__/Shop/css/shop.css?{:version()}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css?{:version()}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sweetalert.css?{:version()}" />
<script>
var APP_PATH="__APP__";
var CONST_PUBLIC="__PUBLIC__";
var CONST_CART="{:U('Cart/URL')}";
</script>
<script src="__PUBLIC__/js/jquery.2.2.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.lazyload.js"></script>
<script src="__PUBLIC__/js/jquery.fly.min.js"></script>
<script src="__PUBLIC__/js/json.js"></script>
<script src="__PUBLIC__/js/jquery.cookies.2.2.0.js"></script>
<script src="__PUBLIC__/js/smartFloat.js"></script>
<script src="__PUBLIC__/js/common.js?{:version()}"></script>
<script src="__PUBLIC__/js/sweetalert.min.js?{:version()}"></script>
<script src="__PUBLIC__/Shop/js/shop.js?{:version()}"></script>

<!--[if IE 6]>
<js href="__PUBLIC__/Shop/js/pngfix.js" />
<![endif]-->
