<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <include file="Index:header"/>
    <!--[if lt IE 8]>
    <script src="__PUBLIC__/Shop/js/oldie-upgrade.js"></script>
    <![endif]-->
</head>
<body id="top">
<include file="Index:nav2" />
<div class="banner-box">
    <div class="tc banner-img" id="banner">
        <div class="bdc">
            <ul>
                <volist name="banner" id="vo">
                    <li><a href="{$vo.picurl}"><img src="__PUBLIC__/{$vo.indexpic}" height="430" alt=""/></a></li>
                </volist>
            </ul>
        </div>
        <div class="hd-solid hdc container" style="position: relative;bottom: 48px;">
            <ul></ul>
        </div>
    </div>
</div>
<div class="bg_white" style="border-bottom: 1px solid #E0E0E0 ">
        <div class="index-item container clr">
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/nocard.png" alt=""/></div><div class="fl i-name" style="color: #40c8d6">No China's debit card required</div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/cashondelivery.png" alt=""/></div><div class="fl  i-name"style="color: #64c73e">Cash on delivery</div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/freeshipping.png"  style="margin-left: 12px;" alt=""/></div><div class="fl i-name" style="left: 32px;;color: #f0ac3f">Free shipping</div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/englishservice.png" style="    margin-left: 5px;" alt=""/></div><div class="fl i-name" style="left: 20px;;color: #e85464">English service</div></div>
        </div>
</div>

<div class="clr"></div>

<div class="good-content" style="margin-top: -14px">
    <div class="container">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;"/><div class="index-title-name">PROMOTION
            <div class="more" onclick="window.location.href='/product/lists.html?group=9'">More >> </div>
        </div>
            <hr size="1" class="right-line" color="#000000" width="200"/>
        </div>
    </div>
    <!-- PROMOTION轮播--->
    <div class="good-promotion">
        <div id="promotion">
            <div class="bd">
                <ul class="picList">
                    <volist name="promotion" id="vo">
                        <li class="goods goods_li_{$i%4}" id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}" data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                            <div class="fl goods_c">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                                <div class="good-name">
                                    <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                    <div class="good_item_info">
                                        <div class="good_info fl">
                                            Unit: {$vo.unit} Origin: {$vo.origin}<br>
                                            <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                            <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                        </div>
                                        <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="hd-solid hd container">
                <ul></ul>
            </div>
        </div>
    </div>
    <!-- NEW ARRIVAL-->
    <div class="container"  style="margin-top: -14px">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;"/>
            <div class="index-title-name">NEW ARRIVAL
                <div class="more" onclick="window.location.href='/product/lists.html?group=8'">More >> </div>
            </div>
            <hr size="1" class="right-line" color="#000000" width="200"/>
        </div>
        <ul class=" good-contents">
            <volist name="newArrival" id="vo">
                <if condition="$i elt 8">
                    <li class="goods "   id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}" data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="fl goods_c">
                            <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                            <div class="good-name">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                <div class="good_item_info">
                                    <div class="good_info fl">
                                        Unit: {$vo.unit} Origin: {$vo.origin}eeee<br>
                                        <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                    </div>
                                    <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
        <div class="clr"></div>
    </div>
    <!-- RECOMMEND-->
    <div class="container"  style="margin-top: -14px">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;"/>
            <div class="index-title-name">RECOMMEND
                <div class="more" onclick="window.location.href='/product/lists.html?group=11'">More >> </div>
            </div>
            <hr size="1" class="right-line" color="#000000" width="200"/>
        </div>
        <ul class=" good-contents">
            <volist name="recommend" id="vo">
                <if condition="$i elt 8">
                    <li class="goods"  id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                        data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="fl goods_c">
                            <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                            <div class="good-name">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                <div class="good_item_info">
                                    <div class="good_info fl">
                                        Unit: {$vo.unit} Origin: {$vo.origin}eeee<br>
                                        <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                        <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                    </div>
                                    <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<include file="Index:footer" />
<script src="__PUBLIC__/js/jquery.SuperSlide.js"></script>
<script>
    $(function(){
        var $width = $(window).width();
        $('.banner-box .bdc li img').attr('width',$width+'px');
        $("#banner").slide({ titCell:".hdc ul", mainCell:"#banner .bdc ul",effect:"leftLoop",vis:1,scroll:1,autoPlay:true,autoPage:true,timeout:4000});//banner轮播
        $("#promotion").slide({ titCell:"#promotion .hd ul", mainCell:"#promotion .bd ul",effect:"leftLoop",vis:4,scroll:4,autoPlay:true,autoPage:true});//PROMOTION轮播
        $(' .goods ').mouseover(function(){
            $(this).find(' .good_shop_cart').css({'background': 'url("./Public/Shop/images/shopping_cart_black.png") no-repeat center','background-size': 'auto 30px'})
        })
        $('.good-contents .goods ').mouseover(function(){
            $(this).addClass('good-hover');
        })

        $('.good_shop_cart').mouseover(function(){
            $(this).find(' .good_shop_cart').css({'background': 'none'})
        })
        $(' .goods ').mouseleave(function(){
            $(this).removeClass('good-hover')
            $(this).find(' .good_shop_cart').css({'background': 'none'})
        })

    })
</script>
</body>
</html>
