<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <include file="Index:header"/>
    <!--[if lt IE 8]>
    <script src="__PUBLIC__/Shop/js/oldie-upgrade.js"></script>
    <![endif]-->
</head>
<body id="top">
<include file="Index:nav2" />
<div class="flexslider">
    <ul class="slides">
        <volist name="banner" id="vo">
            <li><a target="_blank" <if condition="$vo['picurl']"> href="{$vo.picurl}" </if> style="background: url(./Public/{$vo.indexpic}) 50% 0 repeat-x;"></a></li>
        </volist>
    </ul>
</div>

<div class="bg_white" style="border-bottom: 1px solid #E0E0E0 ">
        <div class="index-item container clr">
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/freeshipping.png" alt=""/></div><div class="fl i-name" style="color: #40c8d6">Free Shipping </div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/englishservice.png" alt=""/></div><div class="fl  i-name"style="color: #64c73e">
                English Service</div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/western_Style.png?"  style="margin-left: 12px;" alt=""/></div><div class="fl i-name tc" style="left: 16px;color: #f0ac3f;line-height: 25px;top: -13px;">Authentic
                <br/> Western Style</div></div>
            <div class="fl i_item"><div class="fl i-img"><img src="__PUBLIC__/Shop/images/nocard.png" style="    margin-left: 5px;" alt=""/></div><div class="fl i-name tc" style="left: 20px;;color: #e85464;line-height: 25px;top: -13px;">No China's Debit Card Required</div></div>
        </div>
</div>
<div class="clr"></div>
<div class="good-content" style="margin-top: -14px">
    <div class="container">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;" style="left: -205px;"/><div class="index-title-name">HOT SALE
            <br/> <span class="more" onclick="window.location.href='/product/lists.html?group=9'">More >> </span>
        </div>
            <hr size="1" class="right-line" color="#000000" width="200" style="left: 205px;"/>
        </div>
    </div>
    <!-- PROMOTION轮播--->
    <div class="good-promotion">
        <div id="promotion">
            <div class="bd">
                <ul class="picList">
                    <volist name="promotion" id="vo">
                        <li class="goods goods_li_{$i%4}" id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}" data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                            <div class="fl goods_c">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                                <div class="good-name">
                                    <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                    <div class="good_item_info">
                                        <div class="good_info fl">
                                            Unit: {$vo.unit} Origin: {$vo.origin}<br>
                                            <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                            <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                        </div>
                                        <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="hd-solid hd container">
                <ul></ul>
            </div>
        </div>
    </div>
    <!-- NEW ARRIVAL-->
    <div class="container"  style="margin-top: -14px">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;"/>
            <div class="index-title-name">NEW ARRIVAL
                <br/><span class="more" onclick="window.location.href='/product/lists.html?group=8'">More >> </span>
            </div>
            <hr size="1" class="right-line" color="#000000" width="200"/>
        </div>
        <ul class=" good-contents">
            <volist name="newArrival" id="vo">
                <if condition="$i elt 8">
                    <li class="goods "   id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}" data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="fl goods_c">
                            <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                            <div class="good-name">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                <div class="good_item_info">
                                    <div class="good_info fl">
                                        Unit: {$vo.unit} Origin: {$vo.origin}<br>
                                        <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                    </div>
                                    <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
        <div class="clr"></div>
    </div>
    <!-- RECOMMEND-->
    <div class="container"  style="margin-top: -14px">
        <div class="index-title">
            <hr size="1" class="left-line" width="200" color="#000000;"/>
            <div class="index-title-name">ON SALE
                <br/><span class="more" onclick="window.location.href='/product/lists.html?group=11'">More >> </span>
            </div>
            <hr size="1" class="right-line" color="#000000" width="200"/>
        </div>
        <ul class=" good-contents">
            <volist name="recommend" id="vo">
                <if condition="$i elt 8">
                    <li class="goods"  id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                        data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="fl goods_c">
                            <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="100%"/></div> </a>
                            <div class="good-name">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                <div class="good_item_info">
                                    <div class="good_info fl">
                                        Unit: {$vo.unit} Origin: {$vo.origin}<br>
                                        <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                        <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                    </div>
                                    <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </if>
            </volist>
        </ul>
        <div class="clr"></div>
    </div>
</div>
<include file="Index:footer" />
<script src="__PUBLIC__/js/jquery.SuperSlide.js"></script>
<script type="text/javascript"  src="__PUBLIC__/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript"  src="__PUBLIC__/js/jquery.flexslider-min.js"></script>
<script>
    $(function(){
        //banner 轮播
         $(".flexslider").flexslider({
                    animation: "slide",  //有"fade"：淡入淡出，"slide"：滑动
                    slideshow: true, //Boolean: Animate slider automatically 载入页面时，是否自动播放
                    animationLoop:true, //是否循环滚动
                    slideshowSpeed:3500,//内容展示时间(ms)
                    animationSpeed: 500, //内容切换时间(ms)
                    directionNav:true, //是否显示左右箭头按钮
                    pauseOnHover:true,
                    pauseOnAction: false
                });
        $('.flexslider').hover(function(){
            $('.flexslider .flex-direction-nav').show();
        },function(){
            $('.flexslider .flex-direction-nav').hide();
        })
        $("#promotion").slide({ titCell:"#promotion .hd ul", mainCell:"#promotion .bd ul",effect:"leftLoop",vis:4,scroll:4,autoPlay:true,autoPage:true});//PROMOTION轮播

        $(' .goods ').mouseover(function(){
            $(this).find(' .good_shop_cart').css({'background': 'url("./Public/Shop/images/shopping_cart_black.png") no-repeat center','background-size': 'auto 30px'})
        })
        $('.good-contents .goods ').mouseover(function(){
            $(this).addClass('good-hover');
        })

        $('.good_shop_cart').mouseover(function(){
            $(this).find(' .good_shop_cart').css({'background': 'none'})
        })
        $(' .goods ').mouseleave(function(){
            $(this).removeClass('good-hover')
            $(this).find(' .good_shop_cart').css({'background': 'none'})
        })

    })
</script>
</body>
</html>
