<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
<body id="top"><!--[if lt IE 8]><js href="__PUBLIC__/Shop/js/oldie-upgrade.js" /><![endif]-->
<include file="Index:bar" />
<include file="Index:nav2" />
<div class="container" >
  <div class="content">
    <div class="lbox">
      <include file="Index:nav2sub" />
      <div class="clear"></div>
      <!--<div class="ladbox" id="floatbox">{:lbl('adleft')}</div>-->
    </div>
    <div class="rbox">
      <div class="banner">
        <div class="touchslider-viewport">
          <ul>
            {:lbl('banner')}
          </ul>
        </div>
        <div class="arrow"><a href="javascript:void(null);" id="prev" ></a><a href="javascript:void(null);" id="next"></a></div>
      </div>
      <div class="ggbox">
        <div class="gg_title">Shopping on Phone</div>
        <div class="gg_txt" style="position:relative">
           <ul>
           <li class="qr_img"><img src="__PUBLIC__/Shop/images/qr.jpg" align="Scan by WeChat" /><br />Scan by WeChat</li>
           <li class="qr_recommend">
           <if condition="get_userid() eq 0">
           <a href="javascript:void(0);" onclick="var url='{:U('Member/invite')}';jAlert('You have to login before recommend friends',SYSTITLE,function(){location=url;});">Recommend Friends<br /> Get Coupons Forever</a>
           <else/>
           <a href="{:U('Member/invite')}">Recommend Friends<br /> Get Coupons Forever</a>
           </if>
           </li>
           </ul>
        </div>
      </div>
      <div class="clear"></div> 
      <div class="hot_txt">
        <ul>
        {:lbl('adcenter')}
        </ul>
      </div>
      <!--1F-->
      <div class="lou_title"><strong class="lou">1F</strong>
        <h2>{:get_cate(1,'magictype')}</h2>
        <a href="{:U('Search/index?group=1')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(1,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}"   alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--2F-->
      <div class="lou_title"><strong class="lou">2F</strong>
        <h2>{:get_cate(2,'magictype')}</h2>
        <a href="{:U('Search/index?group=2')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(2,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" width="187" height="187"  alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice" style="text-decoration:line-through;">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--3F-->
      <div class="lou_title"><strong class="lou">3F</strong>
        <h2>{:get_cate(3,'magictype')}</h2>
        <a href="{:U('Search/index?group=3')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(3,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" width="187" height="187"  alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice" style="text-decoration:line-through;">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--4F-->
      <div class="lou_title"><strong class="lou">4F</strong>
        <h2>{:get_cate(4,'magictype')}</h2>
        <a href="{:U('Search/index?group=4')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(4,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" width="187" height="187"  alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice" style="text-decoration:line-through;">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--5F-->
      <div class="lou_title"><strong class="lou">5F</strong>
        <h2>{:get_cate(5,'magictype')}</h2>
        <a href="{:U('Search/index?group=5')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(5,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" width="187" height="187"  alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice" style="text-decoration:line-through;">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--6F-->
      <div class="lou_title"><strong class="lou">6F</strong>
        <h2>{:get_cate(6,'magictype')}</h2>
        <a href="{:U('Search/index?group=6')}" target="_blank" class="more">More products</a></div>
      <div class="cptxt">
        <ul>
          <volist name=":get_product_magic(6,8)" id="vo">
            <li><a href="{:U('Product/view','id='.$vo['id'])}"><div class="hotico"><eq name="vo.tag1" value="1"><span class="ico01" title="Hot"></span></eq><eq name="vo.tag2" value="1"><span class="ico02" title="Discount"></span></eq><eq name="vo.tag3" value="1"><span class="ico03"></span></eq><eq name="vo.tag4" value="1"><span class="ico04"></span></eq></div><img src="__PUBLIC__/Shop/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" width="187" height="187"  alt="{$vo.title}" />
              <h2>{$vo.title}</h2>
              </a>
              <p>Unit: {$vo.unit}<br>
                Origin: {$vo.origin}<br>
                <span class="jiage02">&yen;{$vo.price}</span><neq name="vo.price1" value="0">
        <span class="marketprice" style="text-decoration:line-through;">&yen;{$vo.price1}</span>
        </neq></p>
              <p class="jiarugwc"><a href="javascript:void(null)" class="addgwc" onclick="$.addCart('{$vo.id}',$(this).parent().find('input').val())"></a><a href="javascript:void(null)" class="jian btnDeduct"></a>
                <input type="text" value="1" class="num cartnum" data-stock="{$vo.stock}" />
                <a href="javascript:void(null)" class="jia btnPlus"></a></p>
            </li>
          </volist>
        </ul>
      </div>
      <!--底部--> 
      
    </div>
  </div>
  <div class="clr"></div>
</div>
<a href="#top" target="_self">
    <div class="back_top">
        <img src="__PUBLIC__/Shop/images/5-120601160021.png" width="30" alt=""/>
    </div>
</a>
<include file="Index:footer" />
<js href="__PUBLIC__/Shop/js/jquery.touchslider.min.js" />
</body>
</html>
