<div class="top_logo">
    <div class="logoAngsearch container">
        <div class="logo fl"><a href="/"><img src="__PUBLIC__/images/logo.png" width="190" style="margin-top: 22px;" alt=""/></a></div>
        <div class="search fl">
            <form  action="/product/lists.html" id="searchform" method="get" onsubmit="return search();">
                <input type="text" name="keyword" id="keyword" placeholder="keywords..."  <if condition="$_REQUEST['keyword']"> value="{$_REQUEST['keyword']}"</if>/>
                <button type="submit" value="" class="fr"></button>
            </form>
        </div>
        <div class="server-text fr">
                <div class="fl logon_reg">
                    <a href="/index/wishlist.html">Wish list</a><span class="slash"></span>&nbsp;&nbsp;&nbsp;
                   <span style="position: relative;" class="wechatmall"> Wechat mall&nbsp;
                       <img src="__PUBLIC__/images/weixin.jpg" width="18" class="weixinqr" style="position: relative;top: 2px;" alt=""/>
                        <div class="qrcode hide">
                            <img src="__PUBLIC__/images/pc_top_qr.png" width="180" alt="" />
                        </div>
                    </span>
                    <span class="slash"></span>&nbsp;&nbsp;&nbsp;
                    <if condition="$user['id'] gt 0"><a href="/login/logout.html" style="color: #fc2c3d">Sign out</a><else/><a href="/login/index.html" class="black">Sign in</a><span class="slash"></span>&nbsp;&nbsp;&nbsp;<a href="/Login/register.html">Sign up</a></if>
                </div>
            <span class="slash"></span>&nbsp;
            <div class="fr myaccount" id="myaccount"  data-userid="{$user.id}" data-user="22">
                <a href="/member/index.html">
                    <div class="fl">&nbsp;<img src="__PUBLIC__/Shop/images/myaccount.png" width="13" class="main" alt=""/></div>
                    <div class="fl tr" title="{$user.username}">&nbsp; <if condition="$user['id']">{$user.username|msubstr=0,9,'UTF-8',true}<else/>My account</if>&nbsp;</div>
                </a>
                <!--<if condition="$user['id']">-->
                    <!--<div class="myaccount_box">-->
                        <!--<ul>-->
                            <!--<li onclick="window.location.href='/member/order.html#order'">My order</li>-->
                            <!--<li onclick="window.location.href='/member/address.html#address'">My address</li>-->
                            <!--<li onclick="window.location.href='/member/pwd.html#pwd'">Change password</li>-->
                            <!--<li onclick="window.location.href='/login/logout.html'">Log out</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</if>-->
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
<div class="nav_center bg_white">
    <div class="container">
        <ul class="navigation ">
            <li class="allcate black" onclick="window.location.href='/'" >CATEGORIES
                <hr width="129" class="nav_border" size="5" color="#555555" style="position: relative;top: -13px;left: -42px;display: none" />
                <include file="Index:nav2sub" />
            </li>
        </ul>
        <div class="shopping">
            <div class="Shopping_text ">
                <img src="__PUBLIC__/Shop/images/shopping_cart_black.png"  width="35" class="shopping_cart" alt=""/>
                <span id="CartNo">0</span>
                <div class="cart_box hide"  id="cart_box" >
                    <div class="cart_good_box "  id="cart_good_box" >
                    </div>
                    <div class="cart_good_foot ">
                        <div class="fl gfoot_info">
                            Quantity: <span class="js_good_total_num">0</span><br/>
                            Total: <span class="good_total">&yen;0</span>
                        </div>
                        <div class="fr goodcheckout" >check out</div>
                        <div class="clr"></div>
                    </div> <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function search(){
        if($('#searchform input[name=keyword]').css('left').substring(0,3)>400){
            animateShow($('#searchform input[name=keyword]'),0);
        }else{
            if($('#searchform input[name=keyword]').val()){
                $('#searchform').submit();
            }
        }
        return false
    }
    $('.allcate').mouseover(function(){
        if($('#cat_menu_list').css('display') =='none') {
            $(this).find('.nav_border').show();
            $('#cat_menu_list').slideDown(150);
        }
    })
    $('.allcate').mouseleave(function(){
        $(this).find('.nav_border').hide();
        $('#cat_menu_list').slideUp(150);
    })

    $('.shopping').mouseover(function(){
        if($('#cart_box').css('display') =='none') {
           // if($('#cart_good_box').children().length>0){
                $('#cart_box .goodcheckout').attr('onclick',"window.location.href='/index/cart.html'");
                $('.shopping .Shopping_text').attr('onclick',"window.location.href='/index/cart.html'");
           // }
            $(this).addClass('ongoodcart');
            $('#cart_box').show(200);
        }
    })
    $('.shopping').mouseleave(function(){
        $(this).removeClass('ongoodcart');
        $('#cart_box').hide();
    })
    $(document).scroll(function() {
        var scrollTop = $(window).scrollTop();
        if(scrollTop>117){
            $('.nav_center').css({'border-top':'none','border-bottom':'1px solid #bebec2'})
        }else {
            $('.nav_center').css({'border-top':'1px solid #bebec2','border-bottom':'none'})
        }
    });

    $('.logoAngsearch .wechatmall').hover(function(){
        $(this).css('cursor', 'pointer');
        if($('.logoAngsearch .qrcode').css('display') == 'none'){
            $('.logoAngsearch .qrcode').slideDown();
        }
    },function(){
        $('.logoAngsearch .qrcode').slideUp();
    })

</script>
