
<div class="logoAngsearch container">
    <div class="logo fl"><a href="/"><img src="__PUBLIC__/img/logo.jpg" width="210" height="74" style="margin-top: 30px;" alt=""/></a></div>
    <div class="search fl">
     <form action="{:U('Search/index')}" method="get" >
        <input type="text" name="keyword"  id="keyword" placeholder="keywords..."  value="{$_REQUEST['keyword']}"/>
        <button type="submit" value="" ></button>
        </form>
    </div>
    <div class="qrcode">
        <img src="__PUBLIC__/img/qr.jpg" alt="" width="106" />
    </div>
</div>
<div class="clr"></div>
<div class="nav_center">
    <div class="container">
        <ul class="navigation">
            <li class="allcate selected">All Categories
                <include file="Index:nav2sub" />
            </li>
        </ul>
        <div class="shopping">
            <div class="fl"><img src="__PUBLIC__/Shop/images/shopping_cart.png"  width="38" class="shopping_cart" alt=""/></div>
            <div class="fl Shopping_text ">Shopping Cart (<span id="CartNo">0</span>)
                <div class="cart_box hide"  id="cart_box" >
                    <div class="cart_good_box "  id="cart_good_box" >
                    </div>
                    <div class="cart_good_foot ">
                        <div class="fl gfoot_info">
                            Quantity: <span class="js_good_total_num">0</span><br/>
                            Total: <span class="good_total">&yen;0</span>
                        </div>
                        <div class="fr goodcheckout" onclick="window.location.href='/index/cart.html'">check out</div>
                        <div class="clr"></div>
                    </div> <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pathinfo =(window.location.pathname).toLowerCase();
    if( pathinfo.length > 4){
        $('#cat_menu_list').removeClass('index_cate');
        $('.allcate').click(function(){
            $('#cat_menu_list').slideDown();
        })
        $('.allcate').mouseleave(function(){
            $('#cat_menu_list').slideUp();
            $('.product_menu li').removeClass('cate_select');
        })
    }else{
        $('.allcate').html('All Categories');
    }
    $('.shopping').click(function(){
        $('.shopping_cart').attr('src',CONST_PUBLIC+'/Shop/images/cart_hover.png');
        $(this).addClass('ongoodcart');
        $('#cart_box').slideDown();
    })
    $('.shopping').mouseleave(function(){
        $('.shopping_cart').attr('src',CONST_PUBLIC+'/Shop/images/shopping_cart.png');
        $(this).removeClass('ongoodcart');
        $('#cart_box').slideUp();
    })
</script>
