
<div class="logoAngsearch container">
        <div class="logo fl"><a href="/"><img src="__PUBLIC__/img/logo.jpg" width="210" height="74" style="margin-top: 30px;" alt=""/></a></div>
        <div class="search fl">
         <form action="{:U('Search/index')}" method="get" >
            <input type="text" name="keyword"  id="keyword" placeholder="keywords..."  value="{$_REQUEST['keyword']}"/>
            <button type="submit" value="" ></button>
            </form>
        </div>
        <div class="qrcode">
            <img src="__PUBLIC__/img/qr.jpg" alt="" width="106" />
        </div>
</div>

<div class="nav_center">
    <div class="container">
        <ul class="navigation">
            <li ><a href="/" class="selected">All Categories</a></li>
            <!--<li style="background-color:#FFAE00;"><a href="{:U('Service/lists','id=3')}"><span class="icon-new"></span>Laundry Service</a></li>
            <li><a href="{:U('Cleaning/index')}">House Cleaning</a></li>
            <li><a href="{:U('Special/index','id=2')}">Countryside Farm</a>
            <li><a href="{:U('Special/index','id=3')}">Chinese Training</a>
            <li class="min-font"><a href="javascript:void(0);" >Planning more...</a></li>-->
        </ul>
        <div class="shopping">
            <div class="fl"><img src="__PUBLIC__/Shop/images/shopping_cart.png" width="38" class="shopping_cart" alt=""/></div>
            <div class="fl Shopping_text">Shopping Cart <span id="CartNo">(0)</span></div>
            <!--<span class="gwcname"><a href="{:U('Settle/cart')}" style="color:#FFF;"></a></span><span class="shuliang">0</span>-->
        </div>
    </div>
</div>
