<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}{:lbl('subtitleshop')}</title>
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <include file="Index:header" />
</head>

<body>
<include file="Index:nav2" />
<div class="path clr"><div class="container"><a href="/">Home</a> &gt; <a href="/index/wishlist.html">Wish list</a>  </div></div>
<div class="bg_white">
    <div class="container  clr">

        <div class="news_title">Please tell us what you want</div>
        <form id="wishlist" class="pwd_box" onsubmit="return false" >
            <!--<div class="pwd_ionput"><span class="fc_red">*</span>Your name&nbsp;&nbsp;<input type="text" class="text_input" name="username"  placeholder="enter your name" value="{$user.username}"/></div>
            <div class="pwd_ionput"><span class="fc_red">*</span>Phone&nbsp;&nbsp;<input type="text" class="text_input" name="telephone"  placeholder="enter your phone" value="{$user.telephone}"/></div>
            <div class="pwd_ionput"><span class="fc_red">*</span>Email&nbsp;&nbsp;<input type="text" class="text_input" name="email"  placeholder="enter your Email" value="{$user.Email}"/></div>-->
            <div class="pwd_ionput"><span class="fc_red">*</span>Subject&nbsp;&nbsp;<input type="text" class="text_input" name="subject"  placeholder="enter your Subject"/></div>
            <div class="pwd_ionput wish_list"><span class="remarks"><span class="fc_red">*</span>Remarks&nbsp;&nbsp;</span><textarea  name="remarks" id="remarks" placeholder="enter your wish list" ></textarea></div>
            <div class=" submitOrder_b changpwd">
                <button onclick="subwish();" class="submitOrder ">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
    /*阻塞标志，防止重复提交；预设不阻塞 (发送邮件处理慢，防止重复提交)*/
    window.subBlock=false;
    function subwish(){
        if(subBlock){
            return false;
        }
        /* username = $('#wishlist input[name=username]').val(),
            phone = $('#wishlist input[name=telephone]').val(),
            email = $('#wishlist input[name=email]').val(),*/
        var subject = $('#wishlist input[name=subject]').val(),
            remarks = $('#wishlist textarea[name=remarks]').val();
        /*
          if(!username){
            clearpopj("Sorry,please enter your name,", "error",true);
            subBlock = false;//解除阻塞
            return false;
        }
       if(!phone){
            clearpopj("Sorry,please enter your phone,", "error",true);
            subBlock = false;//解除阻塞
            return false;
        }
        if(!email){
            clearpopj("Sorry,please enter your email,", "error",true);
            subBlock = false;//解除阻塞
            return false;
        }*/
        if(!remarks){
            clearpopj("Please input some words.", "error",true);
            subBlock = false;//解除阻塞
            return false;
        }
        subBlock = true;
//        $.post('/index/subWishList.html',{ext1:username,ext2:phone,ext3:email,ext5:subject,ext6:remarks},function(data){
        $.post('/index/subWishList.html',{ext5:subject,ext6:remarks},function(data){
            subBlock = false;//解除阻塞
            if(data.code == 200){
                clearpopj(data.message, "success",true,'self');
            }else{
                clearpopj(data.message, "error",true);
            }
        })

    }
</script>
<include file="Index:footer" />
</body>
</html>
