<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="box980">
    <div class="gmlc">
      <div class="gmjd01"></div>
      <div class="spqd">
        <form action="{:U('Order/submitOrder')}" method="post" name="form1" id="form1">
          <input type="hidden" name="shop_id" id="shop_id" value="1" />
          <eq name="cartnum" value="0">
            <div class="nocp">
              <div class="tishi">Your shopping cart is empty!<br />
<br />
</div>
              <a href="/Shop/" id="jxgw">Continue shopping &gt;&gt;</a></div>
            <else/>
           <!-- <if condition="(get_userid() eq 0)">
              <div class="nocp">
                <div class="tishi">You must be logged in to submit orders!  <a href="{:U('Login/index')}" class="alogin"  >click here to login.</a>  </div>
              </div>
            </if>-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
              		<td align="left">ID</td>
                  <td>Product Name</td>
                  <td>Unit Price</td>
                  <td>Quantity</td>
                  <td>Subtotal</td>
                  <td>Action</td>
                </tr>
              </thead>
              <tbody>
                <volist name="cart.cart_items" id="vo">
                  <tr>
              		<td align="left">{$vo.id}</td>
                    <td align="left"><a href="{:U('Product/view?id='.$vo['id'])}"><img alt="{$vo.name}" src="{$vo.indexpic}" width="60" height="60"  />{$vo.name}</a></td>
                    <td><span class="jiage">&yen;{:get_price($vo['id'],$vo['price'],$vo['ext'])}</span></td>
                    <td><a href="javascript:void(null)" class="jian btnDeduct" ></a>
                      <input type="text" class="num"  onchange="$.editCart({$vo.id},(parseInt($(this).val())),'{$vo.ext}')" value="{$vo.num}" data="{:get_price($vo['id'],$vo['price'],$vo['ext'])}" maxlength="3" />
                      <a href="javascript:void(null)" class="jia btnPlus" ></a></td>
                    <td>{:to_price(get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'])}</td>
                    <td><a href="javascript:void(0);" onclick="$.delCart({$vo.id},'{$vo.ext}')">delete</a></td>
                  </tr>
                </volist>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2" align="left"><a href="javascript:void(0);" onclick="$.clearCart();">× Empty cart</a></td>
                  <td colspan="4" align="right">Amount: <span class="">&yen;{$cart.cart_amount}</span> <br>Delivery Fee: <span class="">&yen;{$cart.cart_shipfee}</span> <br />
                    Total amount：<span class="jiage02">&yen;<font id="">{:to_price($cart['cart_amount']+$cart['cart_shipfee'])}</font></span></td>
                </tr>
                <tr>
                  <td colspan="2" align="left"><a href="/" id="jxgw">Continue shopping</a></td>
                  <td colspan="4" align="right"><eq name="cart.cart_num" value="0">
                      <span class="jixu">proceed to checkout</span> 
                      <else/>
                      <if condition="(get_userid() eq 0)">
                      <a href="{:U('Settle/cashier')}" class="jixu" style="color:#fff" id="btnCheckout">proceed to checkout</a> 
                      <else/>
                      <a href="{:U('Settle/cashier')}" class="jixu" style="color:#fff" >proceed to checkout</a> 
                      </if>
                    </eq></td>
                </tr>
              </tfoot>
            </table>
          </eq>
        </form>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>

<if condition="(get_userid() eq 0)">
<div class="zhezhao ld hide"></div>
 
<div class="lg ld hide">
   <div class="lgts_title"><h1>Login to checkout</h1><span class="close" onclick="$('.ld').hide()">×close</span></div>
   <div class="lg_txt">
   
      <table border="0" align="center" cellpadding="0" cellspacing="0">
           <tr>
             <td width="270"><br />
User name<br /><input type="text" name="username" id="username" class="user" /></td>
           </tr>
           <tr>
             <td>Password<br /><input type="password" name="password" id="password" class="mima" /></td>
           </tr> 
          <tr>
             <td> 
             <a href="{:U('Login/findpwd')}" style="color:#0e87d8" target="_blank">Forget your password?</a></td>
           </tr>
           <tr>
             <td><a href="javascript:void(0);" onclick="$.login($('#username').val(),$('#password').val(),'{:U('Settle/cashier')}')" class="lgbtn">Login Now</a></td>
           </tr>
        </table>
   </div>
   <div class="lg_txt02"><a href="{:U('Login/create')}" class="create" id="confirmcreate">Continue without<br /> login</a><br /><br />
<a href="{:U('Login/register')}" target="_blank" class="fc_red" > Register a New Account</a>
</div>
   
</div>
 
 </if>
<include file="Index:footer" />
<script>
$(function(){
	$("#confirmcreate").click(function(){
				var url=$(this).attr("href"); 
		jConfirm('We strongly recommend that you <a href="{:U('Login/register')}" target="_blank" class="fc_blue" >register a new account.</a><br /><br />Are you sure you want to remain anonymous to buy?',SYSTITLE,function(ret){
			if (ret){
				location=url;	
			};
		});
		return false;	
	});	
});
</script>
</body>
</html>
