<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<include file="Index:header" />
<js href="__PUBLIC__/Shop/js/jquery.lhgcalendar.min.js" />
<script language="javascript">
<?php
$strdates=lbl('disabled_dates');
if($strdates){ 
	$strdates = str_replace ( "\r\n", ",", $strdates );
	$strdates = str_replace ( "，", ",", $strdates );
	$arr=arr2clr(str2arr($strdates));
	if($arr){
		$strdates=json_encode($arr);
	}else{
		$strdates='""';
	}
}
?>
$(function(){ 
	$('#delivertime').calendar({
		minDate:'%y-%M-%d',
		disWeek:"{:lbl('disabled_week')}",
		disDate:{$strdates} }); 
});
</script>
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="box980">
    <div class="gmlc">
      <form action="{:U('Order/submitOrder')}" method="post" name="form1" id="form1">
        <input type="hidden" name="shop_id" id="shop_id" value="1" />
        <input type="hidden" name="UseAddressID" id="UseAddressID" value="{$address.id}" />
        <div class="gmjd02"></div>
        <eq name="cartnum" value="0">
        <div class="nocp"></div>
        <else/>
        <h2>Receiving information <a href="{:U('Member/info1','goto=cashier')}">Modify</a> </h2>
        <div class="txt02">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="140" align="right">Consingee：</td>
              <td>{$address.userreal}</td>
            </tr>
            <tr>
              <td align="right">Phone：</td>
              <td>{$address.telephone}</td>
            </tr>
            <tr>
              <td align="right">Email：</td>
              <td>{$address.email}</td>
            </tr>
            <tr>
              <td align="right">Shipping address：</td>
              <td> {$address.proname}{$address.cityname}{$address.disname} {$address.address}</td>
            </tr>
          </table>
        </div>
        <h2><a href="{:U('Settle/Cart')}">Back to shopping cart</a>Product list</h2>
        <div class="spqd">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <td align="left">ID</td>
                <td align="left">Product name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Amount</td>
              </tr>
            </thead>
            <tbody>
              <volist name="cart.cart_items" id="vo">
                <tr>
                  <td align="left">{$vo.id}</td>
                  <td align="left"><a href="{:U('Product/view?id='.$vo['id'])}"><img alt="{$vo.name}" src="{$vo.indexpic}"width="60" height="60"  />{$vo.name}</a></td>
                  <td><span class="jiage">&yen;{:get_price($vo['id'],$vo['price'],$vo['ext'])}</span></td>
                  <td>{$vo.num}</td>
                  <td>{:to_price(get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'])}</td>
                </tr>
              </volist>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" align="right">
               <!-- <notempty name="usecoupon">
                    <label>
                      <input type="checkbox" value="1" name="usecoupon" id="usecoupon" checked="checked"  onclick="location='{:U('Settle/cashier')}';" />
                      Use coupon: <span class="fc_red">&yen; {$maxuse}</span> (Note: Once submitted your order, whether successful or not, the coupon will not be returned.)</label>
                    <else/>
                    <label>
                <gt name="maxuse" value="0">
                      <input type="checkbox" value="1" name="useCoupon" id="useCoupon" onclick="location='{:U('Settle/cashier','coupon=1')}';" />
                      <else/>
                      <input type="checkbox" disabled="disabled" value="0" name="useCoupon" id="useCoupon"  />
              </gt>
                    Use coupon  (You have <span class="fc_red">&yen;{$mycoupon}</span> coupons in total and maximum <span class="fc_red">&yen;{$maxuse}</span> applicable for this order.)</label>
                    </notempty> -->
<p style="line-height:20px;">
<gt name="maxuse" value="0">
Use coupon: <input type="text" class="input03" value="{$usecoupon}" id="usecoupon" name="usecoupon" maxlength="10" style="width:50px;" onchange="location='{:U('Settle/cashier')}?usecoupon='+$(this).val()" />
<else/>
Use coupon: <input type="text" class="input03" value="{$usecoupon}" id="usecoupon" name="usecoupon" style="width:50px;"  disabled="disabled"/>
</gt>
<br />
You have <span class="fc_red">&yen;{$mycoupon}</span> coupons in total and maximum <span class="fc_red">&yen;{$maxuse}</span> applicable for this order.<br />
Three ways to get coupon: 1) each your order, 2) recommend friends, 3) friends consume; more rules please <a href="{:U('Content/view','id=2321')}" target="_blank">click here</a>.</p>
                  </td>
              </tr>
              <tr align="right">
                <td colspan="5">Amount：&yen;{$cart.cart_amount}<br />
                  Delivery Fee： &yen;{$cart.cart_shipfee}<br />
                  <notempty name="usecoupon"> Coupon： - &yen;{$usecoupon}<br />
                    Total amount：<span class="jiage02">&yen;{:to_price($cart['cart_amount']+$cart['cart_shipfee']-$usecoupon)}</span>
                    <else/>
                    Total amount：<span class="jiage02">&yen;{:to_price($cart['cart_amount']+$cart['cart_shipfee'])}</span> </notempty></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <h2>Payment</h2>
        <div class="txt02">
          <input name="paymethod" type="radio" id="paymethod1" value="1" >
          <label for="paymethod1">Online payment</label>
          <input type="radio" name="paymethod" id="paymethod4" value="4" checked>
          <label for="paymethod4">Cash on delivery</label>
        </div>
        <h2>Invoice required</h2>
        <div class="txt02">
          <input name="invoice" type="radio" id="invoice1" value="1" >
          <label for="invoice1">yes</label>
          <input type="radio" name="invoice" id="invoice2" value="0" checked>
          <label for="invoice2">no</label>
        </div>
        <h2>Delivery date</h2>
        <div class="txt02">
          <input name="delivertime[]" id="delivertime" type="text" class="input03 calendar3" style="background:#eee;" readonly="readonly"/>
          <br />
          <br />
          <?php
            $times = str2arr(lbl('delivertime'),"\r\n");
            foreach($times as $k=>$v){
            ?>
          <div><br />
            <input type="checkbox" value=" {$v}" name="delivertime[]" id="delivertime{$k}" />
            <label for="delivertime{$k}" >{$v}</label>
          </div>
          <?php
            }
            ?>
        </div>
        <h2>Order remarks</h2>
        <div class="txt02">
          <textarea type="text" id="info" name="info" value="" placeholder="the order remarks"    size="80" class="input03"  style="width:500px; height:80px;" ></textarea>
        </div>
        <div class="tjdd"> <a href="javascript:void(0);" onclick="$.SubmitOrder()"  class="jixu">Submit order</a> </div>
        </eq>
      </form>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
