<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="box980">
    <div class="gmlc">
      <div class="gmjd03"></div>
      <div class="cg"><img src="__PUBLIC__/Shop/images/ca.png" width="130" height="130"  alt=""/></div>
      <h1>Failed.</h1>
      <div class="ddjg">
       <a href="/" class="pay">Back to home</a>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
 