<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="box980">
    <div class="gmlc">
      <div class="gmjd03"></div>
      <div class="cg"><img src="__PUBLIC__/Shop/images/cg.gif" width="130" height="130"  alt=""/></div>
      <h1>Succeed.</h1>
      <div class="ddjg">
        <eq name="db.paymethod" value="4"> Total:<span class="jiage02">&yen;{$db.amount}</span>,Payment: Cash on deliver<br>
          <a href="{:U('Member/orderView?orderno='.$db['orderno'].'&type='.$db['type'])}" style="color:#1376bb;">View order</a>
          <else />
          Total:<span class="jiage02">&yen;{$db.amount}</span>,Payment: Online payment<br>
          <a href="{:U('Member/orderView?orderno='.$db['orderno'].'&type='.$db['type'])}" style="color:#1376bb;">View order</a><br>
          <a href="{:U('Settle/pay?orderno='.$db['orderno'].'&type='.$db['type'])}" target="_blank" id="paynow" class='jixu'>Pay now</a> </eq>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
