<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容列表</title>
<include file="Index:header" />
</head>
<body>
<form action="" method="get" name="form1" id="form1">
  <input type="hidden" name="status" id="status" value="{:I('status')}" />
  <table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
    <tr>
      <td>关 键 词：
        <input type="text" class="inputText1" id="keyword"
					name="keyword" value="{$keyword}" />
        <select id="searchtype"	name="searchtype">
            <option value="1">商品名</option>
            <option value="2" <if condition="($searchtype eq 2)"> selected="selected"</if> >分类名</option>
            <option value="3" <if condition="($searchtype eq 3)"> selected="selected" </if>>产品ID</option>
        </select>
        <input type="submit" class="btn1" value="查询" /></td>
    </tr>
    <tr>
      <td>产品状态： <a href="{:U('Cms/content','rootid='.$rootid)}" >全部</a>
        <if condition="($status eq 1)"> <a
						href="{:U('Cms/content','rootid='.$rootid.'&status=1')}" class="fc_red">上架</a>
          <else />
          <a href="{:U('Cms/content','rootid='.$rootid.'&status=1')}">上架</a> </if>
        <if
						condition="($status eq '0')"> <a
						href="{:U('Cms/content','rootid='.$rootid.'&status=0')}" class="fc_red">下架</a>
          <else />
          <a href="{:U('Cms/content','rootid='.$rootid.'&status=0')}">下架</a> </if></td>
    </tr>
  </table>
</form>
<div class="dot"></div>
<table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
  <tr class="toolbar">
    <td colspan="13" class="tc">【 管理内容 】</td>
  </tr>
  <tr class="row0 hide">
    <td colspan="13">
        <a href="{:U('Admin/Cms/addContent')}" class="btnAdd">添加</a>
    </td>
  </tr>
  <tr class="header">
    <td width="60">ID</td>
    <td>标题</td>
    <td>分类</td>
    <td>供应商</td>
    <td width="60">价格</td>
    <td width="40">销量</td>
    <td width="50">组合销量</td>
    <td width="50">库存</td>
    <td width="50">虚库存</td>
    <td width="25">可负</td>
    <td width="55">排序</td>
    <td width="50">状态</td>
    <td width="90">操作</td>
  </tr>
  <volist id="vo" name="list">
    <tr class="row{$i % 2+1}" data="{$vo.indexpic}">
      <td><a href="{:U('Cms/editContent','id='.$vo['id'])}" class="underline"><input type="checkbox" name="SelectIDs" value="{$vo.id}" />
        {$vo.id}</a></td>
      <td><a href="{:U('Cms/editContent','id='.$vo['id'])}" class="underline">{$vo.title}<br/>{$vo.namecn}</a>
        <neq name="vo.indexpic" value=''><span class="fc_red">图</span></neq>
        <neq name="vo.linkurl" value=''><span class="fc_red">外</span></neq></td>
      <td><a href="{:U('Cms/content','searchtype=4&keyword='.$vo['pid'])}">{:cutstring($vo['channelname'])}</a></td>
      <td><a href="{:U('Cms/content','searchtype=5&keyword='.$vo['supplyid'])}">{:cutstring($vo['supplyname'])}</a></td>
      <td align="center">{$vo.price}</td>
      <td align="center">{$vo.sold}</td>
      <td align="center">{$vo.re_sold}</td>
      <td align="center">{$vo.stock}</td>
      <td align="center"><if condition="$vo['good_type'] eq 2">是<else/>否</if></td>
      <td align="center">
        <if condition="$vo['negative'] eq 1">是<else/>否</if>
      </td>
      <td>
          <input name="Item_1" id="Item_1" onchange="setVal('content','sort',{$vo.id},$(this).val())" class="inputText1 numeric w50" value="{$vo.sort}" />
      </td>
      <td align="center">
          <if condition="($vo.status eq 1)">
              <a href="javascript:void(0);" onclick="setVal('content','__under__',{$vo.id},0,this,'下架')"  class="fc_red">上架</a>
          <else />
              <a href="javascript:void(0);" onclick="setVal('content','__under__',{$vo.id},1,this,'上架')">下架</a>
          </if>
      </td>
      <td align="center">
          <if condition="$vo['tag1'] eq 1">
              <a href="javascript:void(0);" onclick="setVal('content','tag1','{$vo.id}',0)" class="fc_red"> H </a>
              <else/>
              <a href="javascript:void(0);" onclick="setVal('content','tag1','{$vo.id}',1)"> H </a>
          </if>
          &nbsp;&nbsp;
          <if condition="$vo['tag2'] eq 1">
              <a href="javascript:void(0);" onclick="setVal('content','tag2','{$vo.id}',0)" class="fc_red"> D</a>
              <else/>
              <a href="javascript:void(0);" onclick="setVal('content','tag2','{$vo.id}',1)"> D</a>
          </if>
          &nbsp;&nbsp;
          <if condition="($vo.isresume eq 1)">
              <a href="javascript:void(0);" onclick="setVal('content','isresume','{$vo.id}',0)" class="fc_red">推荐</a>
              <else />
              <a href="javascript:void(0);" onclick="setVal('content','isresume','{$vo.id}',1)">未推荐</a>
          </if>
          <a href="{:U('Cms/editContent','id='.$vo['id'])}" class="btnEdit">修改</a>
          &nbsp;&nbsp;
          <a class="btnDel" href="javascript:void(0);" onclick="var url='{:U("Cms/deleteContent","id=".$vo['id'])}';if(confirm('您确定删除该记录吗？')){location=url;}">删除</a></td>
    </tr>
  </volist>
  <tr class="row0">
    <td colspan="13" class="tr">
        <input type="button" class="btn2" value="选中设置为" id="AllStatus_1" />
        <select name="AllStatus_2"	id="AllStatus_2">
            <option value="0" selected="selected">禁用</option>
            <option value="1">启用</option>
        </select>
    </td>
  </tr>
  <tr class="row0">
    <td colspan="13" class="tr">
        <input type="hidden" value="content" id="ConstTbl" name="ConstTbl" />
        <input type="button" class="btn2" value="批量删除" id="AllDel" />
        <input type="button" class="btn1"	value="全选" id="AllCheck" />
        <input type="button" class="btn1"	value="反选" id="ReverseCheck" />
    </td>
  </tr>
  <tr class="footer">
    <td colspan="13"><div class="page">{$page}</div></td>
  </tr>
</table>
<include file="Index:footer" /> 
<script language="javascript" type="text/javascript">
$(function(){ 
	$(".MainTbl tr").hover(function(event){
	 var o=$(this);
	 var img=o.attr("data"); 
	 if(img!=""){
		 var html1="";
		 var html ="<img src=\""+img+"\" alt=\"\"/>";
		 html1 = "<div id=\"hoverimg\" style=\"padding:10px;color:#f00\">"+html+"</div>";
			 if($.trim(img)!=""){
				 if($("#hoverimg").length==0){
					 $(html1).appendTo($("body")); 
				 } else{
					 $("#hoverimg").html(html);
				 };
				 
				$("#hoverimg").css({"left":o.position().left+60,"top":o.position().top+31}).show();	
			 }
		}
	 },function(){
		  $("#hoverimg").hide();
	 });

});
function changeState(id,val){
    $.post('/admin/content/changeState',{id:id,status:val},function(data){
        if(data.code ==200){
            window.location.reload();
        }
    })
}
</script>
</body>
</html>