<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="regbox">
        <h1><span style="float:right">I have registered,<a href="{:U('Login/index')}" style="color:#0e87d8;">Login Now</a></span><strong>Member registration</strong></h1>
        <div class="reg">
          <form action="{:U('Login/register')}" method="post" onsubmit="return checkregform()"  >
            <table border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td align="right">User name：</td>
                <td><input type="text" class="reginput"  size="40" name="username" id="username"  placeholder="enter your user name" required="required" />
                  <span class="fc_red">*</span>  </td>
              </tr>
              <tr>
                <td align="right">Password：</td>
                <td><input  class="reginput" maxlength="32" size="40" type="password" name="userpwd" id="userpwd"  placeholder="enter your password" required="required" />
                  <span class="fc_red">*</span> <span class="zhushi">Enter your password</span></td>
              </tr>
              <tr>
                <td align="right">Confirm password：</td>
                <td><input  class="reginput" maxlength="32" size="40" type="password" name="userpwd1" id="userpwd1"  placeholder="confirm your password" required="required" />
                  <span class="fc_red">*</span> <span class="zhushi">Enter your password again</span></td>
              </tr>
              <tr>
                <td align="right">Email：</td>
                <td><input type="text" class="reginput" maxlength="50"  size="40" name="email" id="email"  placeholder="enter your email" required="required" />
                  <span class="fc_red">*</span> <span class="zhushi">To retrieve the password</span></td>
              </tr>
              <tr style="display:none">
                <td align="right">Your name：</td>
                <td><input type="text" class="reginput" maxlength="50"  size="40" name="userreal" id="userreal"  placeholder="enter your name"   />  <span class="zhushi">Consingee</span></td>
              </tr>
              <tr>
                <td align="right">Phone：</td>
                <td><input type="text" class="reginput" maxlength="50"  size="40" name="telephone" id="telephone"  placeholder="enter your phone" required="required" />
                  <span class="fc_red">*</span> <span class="zhushi">Phone to contact you</span></td>
              </tr>
              <tr>
                <td align="right">Address：</td>
                <td><input type="text" class="reginput" maxlength="200"  size="60" name="address" id="address"  placeholder="enter your address" required="required" />
                  <span class="fc_red">*</span> <span class="zhushi">Shipping address</span></td>
              </tr>
              <tr>
                <td align="right">Verification code：</td>
                <td><input type="text" class="reginput fl" size="20" maxlength="4" name="verify" id="verify"  placeholder="enter verification code" required="required" /> <img style="cursor:pointer;margin-left:5px; cursor: hand; width:100px; height:36px; float:left;" title="click to reload captcha" alt="" onclick="this.src='{:U('Login/verify')}?random='+Math.random()" src="{:U('Login/verify')}?v={:rand(0,999)}" /></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="imageField" id="imageField" class="lgbtn" value="Register now" /></td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
