<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> <include file="left" /> </div>
      <div class="right">
      <div class="hybox">
        <div class="hytit"><strong>{$title}  <font style=" color:#666; font-weight:normal; font-size:12px;">(Total <span class="fc_red">&yen;{:get_my_coupon()}</span> Available)</font></strong>
          <div class="order-status"><a href="{:U('Member/coupon?status=0')}" <eq name="status" value="0">class="selected"</eq> >Available Only ({$orderstat[0]})</a><a href="{:U('Member/coupon?status=1')}" <eq name="status" value="1">class="selected"</eq> >All ({$orderstat[1]})</a>
          
           </div>
          </div>
        <div class="ddlist"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <thead>
              <tr>
                <td width="60"><p >No.</p></td>
                <td width="80"><p >Amount</p></td> 
                <td width="80"><p >Status</p></td> 
                <td width="100"><p >Acquired Time</p></td>
                <td><p >Active Time</p></td>
                <td><p >Invalid Time</p></td>
                <td width="120">Type</td>
              </tr>
             </thead>
             <tbody> 
             
            <eq name="listcount" value="0">
              <tr  >
                <td colspan="7">not found.</td>
               </tr>
            <else/>
            <volist name="list" id="vo"> 
              <tr>
                <td width="60">
               {$i}
             </td>
                <td><eq name="vo.coupontype" value="1">
                <span class="fc_red">+ &yen;{:to_price($vo['amount'])}</span> 
                <else/>
                <span class="fc_grey">- &yen;{:to_price($vo['amount'])}</span> 
                </eq></td>
                <td>
                  {:get_coupon_status($vo['coupontype'],$vo['timefrom'],$vo['timeto'])}
                </td>
                <td  ><eq name="vo.coupontype" value="1">{$vo.addtime}<else/>&nbsp;</eq></td> 
                <td  ><eq name="vo.coupontype" value="1">{$vo.timefrom}<else/>&nbsp;</eq></td> 
                <td  ><eq name="vo.coupontype" value="1">{$vo.timeto}<else/>{$vo.addtime}</eq></td> 
                <td  >{:get_data($vo['coupontypeid'],'coupontype')}</td> 
              </tr>  
            </volist>
            
            </eq>
              </tbody>
          </table>
            
              </tbody>
          </table>
                </eq>
           

        </div>
        <div class="pagelist ddpage">{$page}</div>
      </div>
    </div>
       
      <div class="clear"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />

</body>
</html>
