<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
<script>
var CONST_UPLOAD="{:U('Admin/File/upload')}";
</script>
<js href="__PUBLIC__/Admin/js/uploadify/jquery.uploadify.min.js" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> <include file="left" /> </div>
      <div class="right">
        <div class="hybox">
          <div class="hytit"><strong>Personal information</strong></div>
          <div class="grzl">
         
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right">User Name：</td>
                <td>{:get_username(get_userid())}</td>
              </tr>
              <tr>
                <td align="right">Consignee：</td>
                <td>{$db.userreal}</td>
              </tr>
              <tr>
                <td align="right">Gender：</td>
                <td>
                <eq name="db.sex" value="1">male<else/>female</eq> </td>
              </tr>
              <tr>
                <td align="right">Mobile：</td>
                <td>{$db.telephone}</td>
              </tr>
              <tr>
                <td align="right">Email：</td>
                <td>{$db.email}</td>
              </tr>
               
              
              <tr>
                <td align="right">Address：</td>
                <td>{$db.address}</td>
              </tr>
              <tr>
                <td align="right">Registration：</td>
                <td>{$db.addtime}</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><a href="{:U('Member/info1')}" class="jixu" >Edit</a></td>
              </tr>
            </table> 
          </div>
        </div>
      </div>
       
      <div class="clear"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
<script language="javascript">
$(function(){
	$("body").mousemove(function(){ 
	var v=$("#indeximg").attr("src");
	var v1=$("#indexpic").val();
	if(v!=v1){
		$("#indeximg").attr("src",$("#indexpic").val());	
	}
	});	
});
</script>
</body>
</html>
