<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" /> 
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> <include file="left" /> </div>
      <div class="right">
        <div class="hybox">
          <div class="hytit"><strong>Change password</strong></div>
          <div class="grzl">
        <form action="__URL__/pwd" method="post" name="form1" id="form1">
            <table border="0" cellspacing="0" cellpadding="0">
              
              <tr>
                <td align="right">Password：</td>
                <td><input id="userpwd" name="userpwd" type="password" value=""   maxlength="32" class="input03"   size="22" /></td>
              </tr>
              <tr>
                <td align="right">New password：</td>
                <td><input id="userpwd1" name="userpwd1" type="password" value=""   maxlength="32" class="input03"   size="22" /> * at least 6</td>
              </tr>
              <tr>
                <td align="right">Confirm：</td>
                <td><input id="userpwd2" name="userpwd2" type="password" value=""   maxlength="32" class="input03"   size="22" /> * at least 6</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><input type="submit" name="imageField" id="imageField"  class="jixu" value="Submit" /></td>
              </tr>
            </table>
            </form>
          </div>
        </div>
      </div>
       
      <div class="clear"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
<script language="javascript">
$(function(){
	$("body").mousemove(function(){ 
	var v=$("#indeximg").attr("src");
	var v1=$("#indexpic").val();
	if(v!=v1){
		$("#indeximg").attr("src",$("#indexpic").val());	
	}
	});	
});
</script>
</body>
</html>
