<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
<div class="container pdt5">
  <div class="spfenlei">
    <volist name="channel" id="vo">
      <h1> <a href="{:U('Product/lists?id='.$vo['id'])}">{$vo.name} (<span class="fc_red">{$vo.num}</span>)</a> </h1>
      <p id="son{$i}">
        <volist name="channel" id="vo1">
          <eq name="vo1.pid" value="$vo['id']"> <a href="{:U('Product/lists?id='.$vo1['id'])}">{$vo1.name} (<span class="fc_red">{$vo1.num}</span>) </a></eq>
        </volist>
      </p>
    </volist>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
