<script>
var APP_PATH="__APP__";
var CONST_PUBLIC="__PUBLIC__";
var CONST_UPLOAD="{:U('Admin/File/upload')}";
</script>
<js href="__PUBLIC__/Admin/js/jquery-1.4.4.min.js,__PUBLIC__/Admin/js/jquery.page.js,__PUBLIC__/Admin/js/jquery.lhgcalendar.min.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/Admin/js/uploadify/jquery.uploadify.min.js,__PUBLIC__/js/common.js" />
<css href="__PUBLIC__/Admin/images/style.css,__PUBLIC__/css/sweetalert.css,__PUBLIC__/js/sweetalert.min.js,__PUBLIC__/css/common.css" />
<script>
    if(document.getElementById("telephone")){
        document.getElementById("telephone").onkeyup =function() {
            this.value =this.value.replace(/\s/g,'').replace(/(\d{4})(?=\d)/g,"$1-");;
        };
    }
</script>