<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
<js
	href="__PUBLIC__/Admin/js/jquery.setui.js?1" />
<style>
html {
	overflow: hidden;
}
</style>
</head>
<body class="MainBody">

	<div id="Header">
		<div class="topBar">
			<span class="fl">
                <a href="./"><img src="__PUBLIC__/images/logo.png" width="210" style="margin: 6px 0 0 5px;" alt="" /></a>
            </span>
            <span class="fr" style="padding:6px 20px 0px 40px; background:url(__PUBLIC__/Admin/images/home.gif) no-repeat left 6px;">  <a href="../" target="_blank">网站首页</a><br />   <a href="/home/" target="_blank"  >微信首页</a></span>
		</div>
		<div class="location">
			<span class="fl" id="Location"></span> <span class="fr"> <a
				href="javascript:void(0);" id="ClrCache">更新缓存</a> 当前用户：{:Session('adminname')} <a
				href="javascript:void(0);" onclick="var url='{:U('Admin/Login/logout')}';if(confirm('您确定要退出登录吗？')){location=url;};" class="fc_red">安全退出</a>&nbsp;<a href="javascript:showUpPwdBox();">【修改密码】</a> </span>
		</div>
	</div>
	<div id="Lefter">
		<div id="LeftMenu">
			<ul>
				<volist id="vo" name="list"> <if
					condition="($supper eq true) Or ($vo.access eq 1)">
				<li><span>{$vo.title}</span>
					<ul>
						<volist id="son" name="vo.child"> 
						<if condition="($supper eq true) Or ($son.access eq 1)">
						<li><a href="{:isN($son['url'])?U($vo['name'].'/'.$son['name']):U($son['url'])}">{$son.title}</a></li>  </if> </volist>
					</ul></li>
				</if> </volist>
			</ul>
			<div class="copyright">
				版权所有：<a href="http://www.cc01.com.cn" target="_blank">智君网络</a>
			</div>
		</div>
	</div>
	<div id="Spliter" class="spliterLeft"></div>
	<div id="Righter">
		<div class="container">
			<iframe src="{:U('Index/index?sys=1')}" width="100%" height="100%" frameborder="0"
				class="MainFrame" id="MainFrame" name="MainFrame"></iframe>
		</div>
	</div>
    <form onsubmit="return false" id="upPwdBox" style="display: none">
        <input type="text" style="width: 300px" placeholder="请输入原始密码" name="oldpwd"/><br/><br/>
        <input type="text" style="width: 300px" placeholder="请输入新密码" name="pwd"/><br/>
        <p>
            <input type="button" class="sure_btn" onclick="upPwd()"  value="修改"/>
            <input type="button" class="cancel_btn" onclick="closeMask();"  value="取消"/>
        </p>
    </form>
<script>
    function showUpPwdBox(){
        $("#upPwdBox").idealforms();
        getMask().maskShow({"tit": "修改密码","width":350, "cont": "#upPwdBox"});
    }

    function upPwd(){
        var old = $('#upPwdBox input[name=oldpwd]').val(),pwd = $('#upPwdBox input[name=pwd]').val();
        $.post('/admin/login/uppwd',{old:old,pwd:pwd},function(data){
            if(data.code == 200){
                clearpop(data.message, "",'self');
            }else{
                clearpopj(data.message, "error",true);
                return  false;
            }
        })
    }
</script>
</body>
</html>
