<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{$title}</title>
	<include file="Index:header" />
</head>

<body>
	<include file="Index:bar" />
	<include file="Index:nav" />
	<div class="container">
		<div class="content">
			<div class="box980">
				<div class="gmlc regbox">
					<div class="ddtit">
						<span style="float: right">
							<a href="{:U('Member/carrental')}" style="color: #1376bb">Back to my car rental</a>
						</span>
						<strong>No.：{$db.orderno} &nbsp; Status：<span style="color: #FF6600;">{$statusArr[$db['status']]}</span></strong>
					</div>

					<h2>Contact information</h2>
					<div class="txt02">
						Name：{$db.uname}<br /> 
						Mobile：{$db.phone} <br />
						Address：{$db.address}
					</div>

					<h2>Remarks</h2>
					<div class="txt02">{$db.remark}</div>

					<h2>Rental list</h2>
					<div class="spqd">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td align="left">Photo</td>
								<td align="left">Name</td>
								<td>Price</td>
								<td>Date & Day</td>
								<td align="left">Service</td>
								<td>Amount</td>
							</tr>
							<volist name="detailList" id="vo">
							<tr>
								<td align="left"><img src="{$vo.pic} " style="border: none; padding: 0; width: 100px;" /></td>
								<td align="left"><strong style="font-size: 16px;">{$vo.name}</strong><br />{$vo.desc}</a></td>
								<td><span class="jiage">{$vo.day_price} RMB/DAY</span></td>
								<td>{:date('Y-m-d', strtotime($vo['use_date']))} <br />(Total rent {$vo.use_days} days)</td>
								<td align="left">
									<input type="checkbox" disabled="disabled"{:ec($vo['pilot']>0?'checked':'')} /> Pilot <neq name="vo.pilot" value="0">({$vo.pilot} RMB/DAY)</neq><br />
									<input type="checkbox" disabled="disabled"{:ec($vo['delivery_vehicles']>0?'checked':'')} /> Delivery vehicles <neq name="vo.delivery_vehicles" value="0">({$vo.delivery_vehicles} RMB)</neq><br />
									<input type="checkbox" disabled="disabled"{:ec($vo['pickup_car']>0?'checked':'')} /> Pick the car <neq name="vo.pickup_car" value="0">({$vo.pickup_car} RMB)</neq>
								</td>
								<td><span class="jiage">{:to_price($vo['amount'])} RMB</span></td>
							</tr>
							</volist>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="clr"></div>
	</div>
	<include file="Index:footer" />
</body>
</html>