<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="hybox">
    <div class="hytit"><strong>Modify shipping address</strong></div>
    <div class="grzl">
      <form action="{:U('Member/editAddress')}" method="post" name="formAddress" id="formAddress" class="pure-form pure-form-stacked">
        <input type="hidden" value="{$db.id}" name="id" id="id" />
        <table border="0" cellspacing="0" cellpadding="0" style="margin:0px auto;">
          <tr>
            <td align="right">Name：</td>
            <td><input  id="username" name="username" type="text" maxlength="20" value="{$db.username}"  placeholder="enter your name" class="input03"  size="22"></td>
          </tr>
          <tr>
            <td align="right">Gender：</td>
            <td><select name="sex" id="sex">
                <option value="1">Male</option>
                <eq name="db.sex" value="0">
                <option value="0" selected="selected">Female</option>
                <else/>
                <option value="0">Female</option>
                </eq>
              </select></td>
          </tr>
          <tr>
            <td align="right">Phone：</td>
            <td><input  id="telephone" name="telephone" type="text" maxlength="20"  value="{$db.telephone}"  placeholder="enter your mobile" class="input03"  size="22"></td>
          </tr>
          <tr>
            <td align="right">Email：</td>
            <td><input  id="email" name="email" type="text" maxlength="20"  value="{$db.email}"  placeholder="enter your email" class="input03"  size="22"></td>
          </tr>
          <tr>
            <td align="right">Shipping address：</td>
            <td><input  id="address" name="address" type="text"   value="{$db.proname}{$db.cityname}{$db.disname} {$db.address}"  placeholder="enter your address" class="input03"  size="100"></td>
          </tr>
          
          <tr>
            <td align="right">Remark：</td>
            <td><input  id="info" name="info" type="text"   value="{$db.info}"  class="input03"  size="100"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit" class="jixu" />
            <input type="button"   onclick="history.back()" class="jixu" value="Back" />
            <input type="hidden" name="url" id="url" value="{$Think.get.url}" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<include file="Index:footer" />  
</body>
</html>
