<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> <include file="left" /> </div>
      <div class="right">
      <div class="hybox">
        <div class="hytit"><strong>{$title} </strong>
        
        <a href="{:U('Member/invite')}" class="fr"><strong style="color:#f00;">Invite friends</strong></a></div>
        <div class="ddlist"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
             <thead>
              <tr>
                <td width="60"><p >No.</p></td>
                <td width="80"><p >Friend's ID</p></td> 
                <td width="100"><p >Friend's Phone</p></td> 
                <td><p >Friends Email</p></td>
                <td width="120"><p >First Order Date</p></td>
                <td width="120"><p >Last Order Date</p></td>  
              </tr>
             </thead>
             <tbody> 
             
            <eq name="listcount" value="0">
              <tr  >
                <td colspan="7">not found.</td>
               </tr>
            <else/>
            <volist name="list" id="vo"> 
              <tr>
                <td>{$i}</td>
                <td>{$vo.username}</td>
                <td  >{$vo.telephone}</td> 
                <td  >{$vo.email}</td> 
                <td  >{$vo.firstdate}</td>  
                <td>{$vo.lastdate}</td>
              </tr>  
            </volist>
            
            </eq>
              </tbody>
          </table>
            
              </tbody>
          </table>
                </eq>
           

        </div>
        <div class="pagelist ddpage">{$page}</div>
      </div>
    </div>
       
      <div class="clear"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />

</body>
</html>
