<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header" />
</head>

<body pagename="member" style="background: #f8f8f8">
<include file="Index:nav2" />
<div class="container">
    <div class="path clr"><a href="/">Home</a> &gt; <a href="/member/index.html">My Account</a> </div>
    <div class="content">
        <div class="left fl">
            <include file="left" />
        </div>
        <div class="right fr">
            <div class="userinfo bg_white">
                <div class="user_head">
                    <img src="{$db.indexpic|default=C('DEFAULT_AVATAR')}" width="128" height="128"  alt=""/><br/>
                    <div class="username">{$user.username}</div>
                    <a href="javascript:void(0);" onclick="showUserInfo();" class="avatar"> My profile&gt;&gt;</a>
                </div>
                <hr width="965px" size="1" color="#e0e0e0" style="margin: 0 auto"/>
                <div class="orderinfo">
                    <div class="order-list">
                        <div class="undelivered">Ongoing orders <div class="fr"><a href="/member/order.html#order" class="more_order">More&gt;&gt;</a></div></div>
                        <table width="965px" style="margin: 0 auto" border="0" cellspacing="0" cellpadding="0">
                            <tr class="thead">
                                <th width="165">Order no</th>
                                <th width="125">Order place time</th>
                                <th width="125">Delivery time</th>
                                <th width="120">Total amount</th>
                                <th width="100">Payment method</th>
                                <th width="125">Order status</th>
                                <th width="90">Action</th>
                            </tr>
                            <if condition="empty($list)">
                                <tr>
                                    <td colspan="7">not found.</td>
                                </tr>
                                <else/>
                                <volist name="list" id="vo">
                                    <tr align="center" id="order_row_{$vo.id}" class="order_row">
                                        <td>{$vo.orderno}</td>
                                        <td>{$vo.addtime}</td>
                                        <td align="left">{$vo.delivertime}</td>
                                        <td><span class="order_price">&yen;{:to_price($vo['amount'])}</span> </td>
                                        <td>
                                            <if condition="$vo['paymethod'] eq 4">
                                                Cash on delivery
                                                <elseif condition="$vo['paymethod'] eq 2"/>
                                                Paypal
                                                <elseif condition="$vo['paymethod'] eq 5"/>
                                                WeChat
                                            </if>
                                            <div>
                                                <if condition="$vo['pay'] eq 0">
                                                    <span class="order_pay" onclick="window.location.href='/index/pay.html?orderno={$vo.orderno}';" >Pay/Change</span>
                                                </if>
                                            </div>
                                        </td>
                                        <td>
                                            <div>{:get_status($vo['status'])}</div>
                                            <div><if condition="$vo['pay'] eq 0">Unpaid<else/>Paid</if></div>
                                        </td>
                                        <td>
                                            <a href="/member/orderView.html?orderno={$vo['orderno']}#order" class="order_btn view">View</a>
                                            <if condition="$vo['status'] lt 3">
                                                <br/>
                                                <a href="javascript:void(0)"  onclick="cancelOrder('{$vo[\'id\']}','{$vo[\'orderno\']}')" class="order_btn cancel">Cancel</a>
                                            </if>
                                        </td>
                                    </tr>
                                </volist>
                            </if>
                        </table>
                    </div>
                    <div style="height: 60px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
<include file="Index:footer" />
<div class="lean_overlay hide" data-show="1"></div>
<div class="leanModal addressModal hide" id="userModal">
    <iframe width="500" height="532"  marginwidth="0" marginheight="0" frameborder="0" src="/member/info.html"></iframe>
</div>

<script>
    function showUserInfo(){
        $('.lean_overlay').show();
        $('#userModal').slideDown();
    }
    $(function(){
        if($('#paybox input[name=pay]').val()==4){
            $('.pay_btn').html('Choose');
        }else{
            $('.pay_btn').html('Go to pay');
        }
    })
</script>
</body>
</html>
