<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> <include file="left" /> </div>
      <div class="right">
      <div class="hybox">
        <div class="hytit"><strong>{$title} </strong> 
        <a href="{:U('Member/friends')}" class="fr"><strong style="color:#f00;">My friends list</strong></a></div>
        <div class="grzl">
         <div class="gg_email">
         <textarea name="emaillist" id="emaillist" placeholder="Email your friend(s)."></textarea>
         <br />
          <input type="button" value="Send Email to Invite Them" id="btnMail" />
          <br />
          <br />
Note: one email address per line.
          </div>
        </div> 
      </div>
    </div>
       
      <div class="clear"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />

</body>
</html>
