<ul class="member-lfet bg_white">
    <li><a href="/member/index.html" id="l_index">Overview</a></li>
    <li><a href="/member/address.html#address" id="l_address">My address</a></li>
    <li><a href="/member/order.html#order" id="l_order">My order</a></li>
    <li><a href="/member/pwd.html#pwd" id="l_pwd">Change password</a></li>
</ul>

<script>
     $(function(){
         var hash = window.location.hash;
         if(hash =='#address'){
             $('#l_address').addClass('selected');
         }else if(hash =='#order'){
             $('#l_order').addClass('selected');
         }else if(hash =='#pwd'){
             $('#l_pwd').addClass('selected');
         }else{
             $('#l_index').addClass('selected');
         }
     });
 </script>
