<div class="Ltit01"><strong>Account</strong></div>
<div class="txt01 hymenu">
<a href="{:U('Member/index')}">Overview</a>
<a href="/member/address.html">My address</a>

    <!--<a href="{:U('Member/address')}">Shipping address</a>  -->
<a href="{:U('Member/order')}">My order</a> 
<a href="{:U('Member/coupon')}">My coupon</a> 
<!--<a href="{:U('Member/cleaning')}">My cleaning</a> -->
<!--<a href="{:U('Member/friends')}">My friends list</a> -->
<a href="{:U('Member/pwd')}">Change password</a> </div>
<script>
$(function(){
	var url="__SELF__";
	$(".hymenu a").each(function(){
		var href=$(this).attr("href");	
		if(href==url){
			$(this).addClass("selected");	
		}
	});
});
</script>
