<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header" />
</head>

<body style="background: #f8f8f8">
<include file="Index:nav2" />
<div class="container">
    <div class="path clr"><a href="/">Home</a> &gt; <a href="/member/index.html">My Account</a> </div>
    <div class="content">
        <div class="left fl">
            <include file="left" />
        </div>
        <div class="right fr order-list">
            <div class="order_list">My order</div>
            <div class="ostatus">
                <a href="/member/order.html?status=ongoing#order" <if condition="$_REQUEST['status'] neq 'all'"> class="selected"</if>>Ongoing(<span class="js_onging_order_num">{$ongoing|default=0}</span>)</a> |
                <a href="/member/order.html?status=all#order" <if condition="$_REQUEST['status'] eq 'all'"> class="selected"</if>>All(<span class="js_all_order_num">{$all|default=0}</span>)</a>
            </div>
            <table width="965px" style="margin: 0 auto" border="0" cellspacing="0" cellpadding="0">
                <tr class="thead">
                    <th width="145">Order no.</th>
                    <th width="85">Order place time</th>
                    <th width="125" >Delivery time</th>
                    <th width="120">Total amount</th>
                    <th width="100">Payment</th>
                    <th width="125">Order status</th>
                    <th width="90">Action</th>
                </tr>
                <if condition="empty($list)">
                    <tr>
                        <td colspan="7">not found.</td>
                    </tr>
                    <else/>
                    <volist name="list" id="vo">
                        <tr align="center" class="order_row" id="order_row_{$vo['id']}">
                            <td>{$vo.orderno}</td>
                            <td>{$vo.addtime}</td>
                            <td align="left">{$vo.delivertime}</td>
                            <td><span class="order_price">&yen;{:to_price($vo['amount'])}</span> </td>
                            <td>
                                <if condition="$vo['paymethod'] eq 4">
                                    Cash on delivery
                                    <elseif condition="$vo['paymethod'] eq 2"/>
                                    Paypal
                                </if>
                                <div>
                                <if condition="$vo['pay'] eq 0">
                                    <span class="order_pay" onclick="showPaynowBox('{$vo.orderno}');" >Pay/Change</span>
                                </if>
                                </div>
                            </td>
                            <td >
                                <div>{:get_status($vo['status'])}</div>
                                <div><if condition="$vo['pay'] eq 0">Unpaid<else/>Paid</if></div>
                            </td>
                            <td>
                                <a href="/member/orderView.html?orderno={$vo['orderno']}#order" class="order_btn view">View</a>
                                <if condition="$vo['status'] lt 3">
                                    <br/>
                                    <a href="javascript:void(0)" onclick="cancelOrder('{$vo[\'id\']}','{$vo[\'orderno\']}')" class="order_btn cancel">Cancel</a>
                                </if>
                            </td>
                        </tr>
                    </volist>
                </if>
            </table>
            <div class="pagelist">{$page}</div>
            <div style="height: 60px;"></div>
        </div>
    </div>
</div>
<div class="clr"></div>
<div id="paybox" style="text-align: center;line-height: 30px;" class="hide" >
    <div class="radio-box">
        <label class="radio radiofl on paymethod" data-val="4"onclick="setRadioVal(this,'#pay'); $('.pay_btn').html('Choose');"><i></i>Cash on delivery</label><br/>
        <label class="radio radiofl  paymethod" data-val="2"onclick="setRadioVal(this,'#pay'); $('.pay_btn').html('Go to pay');"><i></i>Paypal(USD)</label>
        <input type="hidden" name="pay" id="pay" value="4" />
        <input type="hidden" name="orderno" />
    </div>
    <br/>
    <br/>
    <button class="choose_btn pay_btn " onclick="paynow();" >Choose </button>
</div>
<include file="Index:footer" />
<script>
    $(function(){
        if($('#paybox input[name=pay]').val()==4){
            $('.pay_btn').html('Choose');
        }else{
            $('.pay_btn').html('Go to pay');
        }
    })
</script>
</body>
</html>
