<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="gmlc regbox">
        <div class="ddtit"><span style="float:right"><a href="{:U('Member/order')}" style="color:#1376bb">Back to my order</a></span><strong>Order No.：{$db.orderno}    Status：<span style="color:#FF6600;">{:get_status($db['status'])} </span></strong></div>
        <h2>Receiving information</h2>
        <div class="txt02">Name：{$db.username}<br />
          Mobile：{$db.telephone} <br />
          <!--Email：{$db.email}<br />-->
          Address：{$db.proname}{$db.cityname}{$db.disname} {$db.address}</div>
        <h2>Payment</h2>
        <div class="txt02">
          <eq name="db.paymethod" value="4"> Cash on delivery
            <else/>
            Online payment </eq>
          <eq name="db.pay" value="1"> <span class="fc_red">( Paid )</span> </eq>
        </div>
        <h2>Invoice</h2>
        <div class="txt02">
          <eq name="db.inovice" value="1"> Yes
            <else/>
            No </eq>
        </div>
        <h2>Delivery date</h2>
        <div class="txt02">{$db.delivertime}</div>
        <h2>Remarks</h2>
        <div class="txt02">{$db.info}</div>
        <h2>Product list</h2>
        <div class="spqd">
          <eq name="isShop" value="true">
            <?php
            $subtotal=0;
            ?>
            <eq name="isService" value="true">
              <div class="shoptitle">Product list</div>
            </eq>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <td align="left">ID</td>
                  <td align="left">Product name</td>
                  <td>Price</td>
                  <td>Quantity</td>
                  <td>Amount</td>
                </tr>
              </thead>
              <tbody>
                <volist name="list" id="vo">
                  <?php
               if(strpos($vo['sortpath'],',2,')){ 
                $sub=(float)get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'];
                $subtotal+=$sub;
                ?>
                  <tr>
                    <td align="left">{$vo.productid}</td>
                    <td align="left"><a href="{:U('Product/view','id='.$vo['productid'])}" target="_blank"><img src="{$vo.indexpic}" alt="{$vo.productname}" width="60" height="60" />{$vo.productname}</a></td>
                    <td><span class="jiage">&yen;{$sub}</span></td>
                    <td>{$vo.num}</td>
                    <td><span class="jiage">&yen;{:to_price($sub)}</span></td>
                  </tr>
                  <?php
                  }
                ?>
                </volist>
              </tbody>
              <eq name="isService" value="true">
                <tfoot>
                  <tr>
                    <td colspan="2" align="left">&nbsp;</td>
                    <td colspan="4" align="right"> Sub Total：<span class="jiage02">&yen;<font id="">{:to_price($subtotal)}</font></span></td>
                  </tr>
                </tfoot>
              </eq>
            </table>
          </eq>
          <eq name="isService" value="true">
            <?php
            $subtotal=0;
            ?>
            <eq name="isShop" value="true">
              <div class="shoptitle">Laundry service list</div>
            </eq>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <td align="left">ID</td>
                  <td align="left">Product name</td>
                  <td>Price</td>
                  <td>Quantity</td>
                  <td>Amount</td>
                </tr>
              </thead>
              <tbody>
                <volist name="list" id="vo">
                  <?php
               if(strpos($vo['sortpath'],',3,')){ 
                $sub=(float)get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'];
                $subtotal+=$sub;
                ?>
                  <tr>
                    <td align="left">{$vo.productid}</td>
                    <td align="left"><a href="{:U('Product/view','id='.$vo['productid'])}" target="_blank"><img src="{$vo.indexpic}" alt="{$vo.productname}" width="60" height="60" />{$vo.productname}</a></td>
                    <td><span class="jiage">&yen;{$sub}</span></td>
                    <td>{$vo.num}</td>
                    <td><span class="jiage">&yen;{:to_price($sub)}</span></td>
                  </tr>
                  <?php
                  }
                ?>
                </volist>
              </tbody>
              <eq name="isShop" value="true">
                <tfoot>
                  <tr>
                    <td colspan="2" align="left">&nbsp;</td>
                    <td colspan="4" align="right"> Sub Total：<span class="jiage02">&yen;<font id="">{:to_price($subtotal)}</font></span></td>
                  </tr>
                </tfoot>
              </eq>
            </table>
          </eq>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tfoot>
              <tr align="right">
                <td colspan="5"><!--{$db.num} product(s),--> total：&yen;{$db.amountall}<br />
                  Delivery Fee： &yen;{$db.shipfee}<br />
                  <gt name="db.discount" value="0"> Discount： -&yen;{$db.discount} <br />
                  </gt>
                  <gt name="db.couponamount" value="0"> Coupon： -&yen;{$db.couponamount} <br />
                  </gt>
                  
                  <!--Deductible： -&yen;{$db.creditamount}--></td>
              </tr>
              <tr align="right">
                <td colspan="5">Total Amount：<span class="jiage02">&yen;{$db.amount}</span></td>
              </tr>
              <eq name="db.pay" value="0">
                <in name="db.status" value="0,1">
                  <neq name="db.paymethod" value="4">
                    <tr align="center">
                      <td colspan="5"><a href="{:U('Settle/pay','orderno='.$db['orderno'])}" target="_blank" class="jixu" style="color:#fff;">Pay now</a></td>
                    </tr>
                  </neq>
                </in>
              </eq>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
