@charset "utf-8";
hr{height: 1px;width: 100%}
.container{width:1000px; margin:0 auto;}
.bg_white{background: #FFffff}
.page_title{ font-size: 18px; font-weight: bold;color: #333333;padding: 5px 0 5px 30px;}
.tab_box{height: 40px;line-height: 40px;padding: 0 0 0 30px;border-bottom: 1px solid #EEEEEE}
.tab_box li{margin-right: 35px;font-size: 16px;color: #333333;font-weight: bold;}
.tab_box li.onselect{border-bottom: 3px solid #108ee9;line-height: 37px;}

/******************************添加商品***************************/
.contentform{margin-top: 5px;padding: 0}
.contentform .idealselect li{width: 300px;}
.contentform .idealselect li ul,.contentform .idealselect li ul li{float: none}
.contentform input.input_text1{width: 740px}
.contentform input.input_text2,.contentform textarea.textarea_text2{width: 291px}
.contentform textarea.textarea_text2{height: 70px;resize: none}
.contentform input.input_text3{width: 100px;}
.contentform table tr,.contentform table tr td{padding-top: 12px;}
.language_tab{font-size: 14px;}
.language_tab ul li{font-size: 14px;padding: 0 15px;}