<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <include file="Index:header"/>
</head>

<body pagename="cart">
<include file="Index:bar"/>
<div class="container" style="padding-bottom: 85px;">
    <div class="itemg-title" id="itemg-title" >
        <p class="fl" style="color: #64c73e;font-size: 17px;">Product list</p>
        <div class="fr icon_trash" style="margin: 17px  10px;" onClick="clearCart();">
            <a href="javascript:void(0);" onClick="clearCart();" class="empty">Empty cart</a></div>
    </div>
    <div class="emptycart" id="emptycart">
        <div class="fl"><img src="__PUBLIC__/Home/images/tishi.png" alt="" width="30"/></div>
        <div class="fl" > Your shopping cart is empty</div>
    </div>
    <div class="divide"></div>
    <!--购物车商品-->
    <div class="clr" id="content">

    </div>
    <div class="cart_foot  hide" id="cart_foot" onclick="goCashier();" >
       <span class="fl total-m"> Total:<span class="totalMoney num-item">&yen;0</span></span>
        <span class="fr tc checkout">Check out</span>
    </div>


</div>
<include file="Index:footer"/>
<script>
    $(function () {
        getCartGoodStock(); //获取购物车中的库存
        var myfood = $.cookie("myfood"), $html = '', totalMoney = 0, totalNum= 0;
        if (myfood) {
            var obj = $.parseJSON(myfood);
            if (obj) {
                for (var i in obj) {
                    $html += '<div class="itemg-li jsCart" id="js_goods_' + obj[i]['id'] + '" data-id="' + obj[i]['id'] + '" data-price="' + obj[i]['price'] + '"  data-indexpic="' + obj[i]['indexpic'] + '" data-name="' + obj[i]['name'] + '" data-stock="' + obj[i]['stock'] + '">';
                    $html += '<a href="/Product/view.html?id=' + obj[i]['id'] + '">';
                    $html += '<div class="itemg-img fl tc">';
                    $html += '<img alt="' + obj[i]['name'] + '" src="' + obj[i]['indexpic'] + '" width="100"/>';
                    $html += '</div>';
                    $html += '<div class="itemg-name fr">';
                    $html += '<p style=" height: 39px;overflow: hidden;">' + obj[i]['name'] + '</p>';
                    $html += '<p><span class="green num-item">&yen;' + obj[i]['price'] + '</span></p>';
                    $html += '</div>';
                    $html += '</a>';
                    $html += '<div class="clr"></div>';
                    $html += '<div class="item-foot tc ">';
                    $html += '<div class="fl icon_trash _trash " onClick="delGood(' + obj[i]['id'] + ');"></div>';
                    if(obj[i]['status'] ==1){
                        $html += '<div class=" fr item-foot-r">';
                        $html += '<div class="fl g_btn cartbtn">';
                        $html += '<div class="cat_cart_num fl " onclick="prepGood('+obj[i]['id']+')"></div>';
                        var goodsnum = 0;
                        if(parseInt(obj[i]['amount'])>parseInt(obj[i]['stock'])){ //库存小于当前购物车商品数量
                            goodsnum = parseInt(obj[i]['stock']);
                        }else{
                            goodsnum = parseInt(obj[i]['amount']);
                        }
                        $html += '<input type="text" class="num cartgoodnum fl tc"  data-id="' + obj[i]['id'] + '" id="js_goods_num_' + obj[i]['id'] + '" value="' + goodsnum + '"/>';
                        $html += '<div class="add_cart_num  fl" data-id="' + obj[i]['id'] + '" onClick="addgood(' + obj[i]['id'] + ',event);"></div>';
                        $html += '</div>';
                        $html += '<div class="fr ptotal cartptotal fc_orange" style="margin-top: 10px;font-size: 16px;">Total: <span class="num-item js_total">&yen;' + (goodsnum *obj[i]['price'])+ '</span></div>';

                        $html += '</div>';
                    }else{
                        $html += '';
                        $html += '<div class=" fr item-foot-r fc_orange">out of stock</div>';
                    }








                    $html += '</div>';
                    $html += '<div class="clr"></div>';
                    $html += '<hr width="108%" color="#cccccc" size="1px" style="margin-left: -2%; "/>';
                    $html += '</div>';
                    $('#content').html($html);
                    totalMoney +=  parseFloat(obj[i]['amount'] *obj[i]['price']);
                    totalNum +=  obj[i]['amount'];
                }
            }
            if(parseFloat(totalMoney)){
                $('#cart_foot').removeClass('hide');
            }
            $('#itemg-title').removeClass('hide');
            $('#emptycart').addClass('hide');
            $('#cart_foot .totalMoney').html('&yen;'+totalMoney);
        }else{
            $('#itemg-title').addClass('hide');
            $('#emptycart').removeClass('hide');
            $('#cart_foot').addClass('hide');
        }

        $('#content .cartgoodnum').blur(function(){
            var id = $(this).data('id');
            setGoodNum(id,$(this).val());
        })
    })

</script>

</body>
</html>
