<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <include file="Index:header"/>
</head>

<body pagename="cart">
<include file="Index:bar"/>
<div class="container" style="padding-bottom: 85px;">
    <div class="itemg-title" id="itemg-title" >
        <p class="fl" style="color: #64c73e;font-size: 17px;">Product list</p>
        <div class="fr icon_trash" style="margin: 17px  10px;" onClick="clearCart();">
            <a href="javascript:void(0);" onClick="clearCart();" class="empty">Empty cart</a></div>
    </div>
    <div class="emptycart" id="emptycart">
        <div class="fl"><img src="__PUBLIC__/Home/images/tishi.png" alt="" width="30"/></div>
        <div class="fl" > Your shopping cart is empty</div>
    </div>
    <div class="divide"></div>
    <!--购物车商品-->
    <div class="clr" id="content">

    </div>
    <div class="cart_foot  hide" id="cart_foot" onclick="goCashier();" >
       <span class="fl total-m"> Total:<span class="totalMoney num-item">&yen;0</span></span>
        <span class="fr tc checkout">Check out</span>
    </div>


</div>
<include file="Index:footer"/>
<script>
    $(function () {
        $('#content .cartgoodnum').blur(function(){
            var id = $(this).data('id');
            setGoodNum(id,$(this).val());
        })
    })

</script>

</body>
</html>
