<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <include file="Index:header"/>
    <!--<js href="__PUBLIC__/css/lhgcalendar.css"/>-->
</head>
<body data-beyond="{$beyond}">
<include file="Index:bar"/>
<div class="container" style="overflow: hidden">
    <div class="content">
        <div class="main-body">
            <div class="main-list">
                <form action="{:U('Order/submitOrder')}" method="post" name="form1" id="form1">
                    <input type="hidden" name="shop_id" id="shop_id" value="1"/>
                    <input type="hidden" name="UseAddressID" id="UseAddressID" value="{$address['id']}"/>
                    <input type="hidden" name="cityname" id="cityname" value="{$address.cityname}"/>
                        <div class="good-item">
                            <div class="good-item-title">Delivery address</div>
                            <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>
                            <div class="address-list">
                                <a href="{:U('Member/address','goto=cashier')}">
                                    <div class="fl" style="width: 10%;"><img src="__PUBLIC__/Home/images/ov_address.png" style="margin-top: 45px" width="15" alt=""/></div>
                                    <div class="addr_list fl" style="width: 85%;text-indent: 0">
                                        <div class="addr-user"><span class="fl">{$address.username}</span><span class="fr tc">{$address.telephone}</span></div>
                                        <div class="clr" style="padding-top: 10px;">{$address.address}-{$address.cityname}</div>
                                    </div>
                                    <div class="fl" style="width: 3%;">
                                       <img src="__PUBLIC__/Home/images/tapnext.png" style="margin-top: 45px" alt="" width="10"/>
                                    </div>
                                </a>
                            </div>
                            <img src="__PUBLIC__/Home/images/xinfeng_address.png" width="110%" style="margin-left: -5%" height="10" alt=""/>
                        </div>
                    <div class="divide clr" style="height: 10px;width: 115%;margin-left: -5%"></div>
                        <div class="good-item">
                            <div class="good-item-title">Product list</div>
                            <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>
                            <div class="good-info" id="product_list">

                            </div>
                        </div>

                        <div class="good-item">
                            <div class="good-item-title">Payment</div>
                            <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>
                            <div class="radio-box">
                                <label class="radio on paymethod" data-val="4" onclick="setRadioVal(this,'#paymethod')"><i></i>Cash on delivery</label>
                                <p></p>
                                <label class="radio paymethod" data-val="2"  onclick="setRadioVal(this,'#paymethod')"><i></i>Paypal(USD)</label>
                                <input type="hidden" name="paymethod" id="paymethod" value="4" />
                            </div>

                           <!-- <div class="item-info pure-form">
                                <div class="item-pay-method" style="padding:10px 0px;">

                                    <label for="paymethod2" style="display:inline;">
                                        <input name="paymethod" type="radio" id="paymethod2" value="2" data-shipfee="{$cart.cart_shipfee}"> Paypal
                                    </label>
                                    &nbsp;
                                    <!-- <input name="paymethod" type="radio" id="paymethod3" value="3" data-shipfee="{$cart.cart_shipfee}" >
                                     <label for="paymethod3" style="display:inline;">微支付</label>
                                     &nbsp;
                                    <label for="paymethod4" style="display:inline;">
                                        <input type="radio" name="paymethod" id="paymethod4" value="4" data-shipfee="{$cart.cart_shipfee}" checked> Cash on delivery
                                    </label>
                                </div>
                            </div>-->
                        </div>
                    <div class="divide clr" style="height: 10px;width: 115%;margin-left: -5%"></div>
                        <div class="good-item">
                            <div class="good-item-title">Invoice required </div>
                            <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>

                            <div class="radio-box">
                                <label class="radio radiofl paymethod" data-val="1" onclick="setRadioVal(this,'#invoice')"><i></i>yes</label>
                                <label class="radio radiofl on paymethod" data-val="0"  onclick="setRadioVal(this,'#invoice')"><i></i>no</label>
                                <br/>
                                <input type="hidden" name="invoice" id="invoice" value="0" />
                            </div>

                            <!--<div class="item-info " style="    padding-bottom: 12px;">
                                <label for="invoice1">
                                    <input name="invoice" type="radio" id="invoice1" value="1">
                                    yes
                                </label>
                                <label for="invoice2">
                                    <input type="radio" name="invoice" id="invoice2" value="0" checked> no
                                </label>
                            </div>-->
                        </div>
                    <div class="divide clr" style="height: 10px;width: 115%;margin-left: -5%"></div>
                        <div class="good-item">
                            <div class="good-item-title">Delivery time</div>
                            <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>
                            <div class="item-info ">
                                <div class="txt02 pure-form " id="deliverydate">
                                    <select name="delivertime[]" id="delivertimeselect">
                                        <volist name="dateData" id="vo" class="pure-input-1">
                                            <if condition="!isset( $vo['isholiday']) || $vo['isholiday'] neq 1">
                                                <option data-delay="{$i}" value="{$vo.time}">
                                                    <if condition="$i eq 1"> Today&nbsp;&nbsp;(&nbsp;{$vo.week}&nbsp;)
                                                    <elseif condition='$i eq 2'/>
                                                        Tomorrow&nbsp;&nbsp;(&nbsp;{$vo.week}&nbsp;)
                                                    <else/>
                                                        {$vo.date}&nbsp;&nbsp;(&nbsp;{$vo.week}&nbsp;)
                                                    </if>
                                                </option>
                                            </if>
                                        </volist>
                                    </select>

                                    <notempty name="deliverinfo">
                                        <div class="item-info green cashie-tic">
                                            {$deliverinfo}
                                        </div>
                                        <div style="clear: both"></div>
                                    </notempty>

                                    <volist name="times" id="vo">
                                        <div class="time_list js_time_obj " data-date="{$vo}">
                                            {$vo}
                                        </div>
                                    </volist>
                                </div>
                                <br/>
                            </div>
                        </div>

                    <div class="divide clr" style="height: 10px;width: 115%;margin-left: -5%"></div>
                        <div class="item-pay-container">
                            <textarea id="info" name="info" value="" rows="3" class="cashier-info" placeholder="remarks here" ></textarea>
                    </div>
                    <hr size="1" color="#cccccc" width="110%" style="margin-left: -3%"/>
                    <div class="good-count">
                        <div class="foot-item fl">
                            <div class="fi-li">Quantity: <span id="quantity">0</span></div>
                            <div  class="fi-li"> Delivery Fee：<span class="" id="delivery_fee">&yen;{$cart.cart_shipfee|to_price}</span></div>
                        </div>
                        <div class="foot-item fl tc" style="margin-top: 13px;">Total：<span class="fc_orange"  id="amount">&yen;0</span></div>
                        <div class="foot-item fr submit-button" onClick="submitOrder()" id="submit-button"><span class="tc">
                            Submit <br/>
                            order</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
<script>
    $(function () {
        var maxCredit = "{:get_usercredit()}";
        $("#credit").change(function () {
            var credit = $(this).val();
            maxCredit = parseFloat(maxCredit);
            if (!(credit > maxCredit)) {
                $.getCreditAmount(credit);
            } else {
                alert("对不起，您只有积分：" + maxCredit);
                $(this).val(maxCredit);
            }
        });

        //初始化时间选择,如果今天休息,自动选择最近可以配送的时间
        var date = $("#delivertimeselect").val();
        checkTime(date);
        $("#delivertimeselect").change(function () {
            var date = $("#delivertimeselect").val();
            $('.js_time_obj').removeClass('old_time');
            $('.js_time_obj').removeClass('click');
            $('.js_time_obj').addClass('time_list');
            checkTime(date);
        })

        //选择时段值
        $('.js_time_obj').click(function () {
            if ($(this).hasClass('click')) {
                $(this).removeClass('click');
                $(this).find('input').remove();
            } else {
                if ($(this).hasClass('time_list')) {
                    $(this).addClass('click');
                    var arr = $(this).data('date');
                    var html = '<input type="hidden" value="' + arr + '" name="delivertime[]" id="delivertime_' + arr + '"/>';
                    $(this).addClass('click');
                    $(this).append(html);
                }
            }
        })

        //更改了支付方式
        function changeTotalMoney() {
            var total;
            var $paymethod = $('input[name="paymethod"]:checked');
            var v = $paymethod.val();
            var shipfee = $paymethod.data("shipfee");
            if (v != "1") {
                $("#money_servicemoney_box").css("display", "block");
                total = parseFloat($("#money_amount").data("value")) + parseFloat(shipfee) + parseFloat($("#money_servicemoney").data("value"));
            } else {
                $("#money_servicemoney_box").css("display", "none");
                total = parseFloat($("#money_amount").data("value")) + parseFloat(shipfee);
            }
            $("#money_shipfee").html("￥" + shipfee);
            $("#money_all_amount").html("￥" + total.toFixed(2));
        }
        /***********************购物车商品**************************************/
        var myfood = $.cookie("myfood"), $html = '', totalMoney = 0, totalNum= 0;
        if (myfood) {
            var obj = $.parseJSON(myfood);
            if (obj) {
                for (var i in obj) {
                    if(isNumber(obj[i]['status'])){
                        getCartGoodStock(); //获取购物车中的库存
                    }
                    if(obj[i]['status'] ==1) {
                        $html += '<a href="/Product/view?id=' + obj[i]['id'] + '">';
                        $html += '<div class="good-img fl">';
                        $html += '<img  src="' + obj[i]['indexpic'] + '"/>';
                        $html += '</div>';
                        $html += '<div class="good-name fr">';
                        $html += '<div  class="good-title">' + obj[i]['name'] + '</div>';
                        $html += '<br/>';
                        $html += '<br/>';
                        $html += '<div class="good-money-info">';
                        $html += '<div class="item-no good-money "><span class="fc_orange">&yen;' + obj[i]['price'] + '</span> x ' + obj[i]['amount'];
                        $html += '<span class="tr good-num num-item fc_orange">&yen; ' + parseFloat(obj[i]['amount'] * obj[i]['price']) + '</span></div>';
                        $html += '</div>';
                        $html += '</div>';
                        $html += '</a>';
                        $html += '<div class="divide clr" style="height: 10px;width: 115%;margin-left: -5%"></div>';
                        totalMoney += parseFloat(obj[i]['amount'] * obj[i]['price']);
                        totalNum += parseFloat(obj[i]['amount']);
                    }
                }
                $('#product_list').html($html);
                $('#quantity').html(totalNum);
                getAmountMoney(totalMoney,'#amount','#delivery_fee');
            }
            if(parseFloat(totalMoney)){
                $('#cart_foot').removeClass('hide');
            }
            $('#itemg-title').removeClass('hide');
            $('#emptycart').addClass('hide');
            $('#cart_foot .totalMoney').html('&yen;'+parseFloat(totalMoney));
        }else{
            $('#itemg-title').addClass('hide');
            $('#emptycart').removeClass('hide');
            $('#cart_foot').addClass('hide');
        }

    });

//根据时间选择时间段
function checkTime($now){
    var myDate = new Date(),
        date =  getDate(),
        beyond = parseInt($('body').data('beyond'));
    if($now ==date){ //今天
        $(".js_time_obj").each(function () {
            var arr=$(this).data('date').split('-'),
                    arr1= arr[0].split(':'),
                    hours= parseInt(myDate.getHours()),
                    min= parseInt(myDate.getMinutes());
            //以下午16点为分割线, 16点以前,当前时间加30,反之减300
            if(15>hours && 15>arr1[0]){ //15点以前,
                //当前时间所在的时间段开始30分钟内可以选择 (例:当前时间:14:30;可选14:00-16:00)

                    if ((hours > arr1[0]) || (hours == parseInt(arr1[0]) && min > beyond)) {
                        $(this).addClass('old_time');
                        $(this).removeClass('time_list');
                        $(this).removeClass('click');
                    }
                } else {
                    //比当前时间所在的时间段提前开始30分钟以上可以选择 (例:当前时间:15:31;不能选16:00-18:00)
                    if ((hours >= arr1[0]) || ((arr1[0] - 1) == hours && min > beyond )) {
                        $(this).addClass('old_time');
                        $(this).removeClass('time_list');
                        $(this).removeClass('click');
                    }
                }
            })
            if (!$('.js_time_obj').hasClass('time_list')) { //今天没有可选时段了
                $("select[name=delivertime]").find('option').eq(0).remove();
                $(".js_date_obj ").eq(0).removeClass('click');
                $(".js_date_obj ").eq(0).addClass('isholiday');
                $(".js_date_obj ").eq(0).removeClass('date_btn');
                var date = $("select[name=delivertime]").val(date);
                checkTime(date);
            }
        } else {
            $('.js_time_obj').removeClass('old_time');
            $('.js_time_obj').removeClass('click');
            $('.js_time_obj').addClass('time_list');
        }
    }

</script>
</body>
</html>
