<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> 
	<div class="container">
		<div class="content">
	<div class="chenggong">
		<img src="__PUBLIC__/Home/images/ca.png" width="90" height="90">
			<h1>Failed</h1>
			<p></p> <a href="{:U('Index/index')}" class="pure-button pure-button-error pay" style="color:#fff;">Back to home</a>
	</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>
	<include file="Index:footer" />
</body>
</html>
