<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<style>
label.error { display:none !important;}
</style>
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<include file="Index:nav" />
<div class="container">
	<div class="box980">
		<div class="lgbox house-clean" style="height:auto;">
		
			<div class="house-clean-form">
				<div class="hd">
					<h1><strong>House Cleaning Service</strong></h1>
					<div class="tab">
						<div class="li active"><span>One-time</span></div>
						<div class="li"><span>By Month</span></div>
					</div>
				</div>
	  
				<div class="bd">
				
					<div class="formbox">
						<form action="{:U('Cleaning/submit')}" method="post" id="frm_one">
						<div class="frow price-info">Price: <span class="price"><em>{$timesPrice}</em> RMB/hour</span>, total <span class="price max-price"><em id="onetimeTotal">--</em> RMB</span></div>
						<div class="frow" style="font-size:15px;">
							<input class="input-item select-time" name="datetime" type="text" placeholder="Select Date" date="true" required="true" style="width:120px"/>
							from
							<select name="time" class="input-item">
								<option>10:00</option>
								<option>11:00</option>
								<option>12:00</option>
								<option>13:00</option>
								<option>14:00</option>
								<option>15:00</option>
								<option>16:00</option>
							</select>
							for 
							<select class="input-item" name="hours" required="true">
								<option value="1">1 hour</option>
								<option value="2">2 hours</option>
								<option value="3">3 hours</option>
								<option value="4">4 hours</option>
								<option value="5">5 hours</option>
								<option value="6">6 hours</option>
								<option value="7">7 hours</option>
								<option value="8">8 hours</option>
							</select>
							<label id="datetime-error" class="error" for="datetime"></label>
						</div>
						<div class="frow">
							<input class="input-item long" name="uname" type="text" value="{$user.userreal}" placeholder="Enter your name" minlength="2" maxlength="50" required="true" />
						</div>
						<div class="frow">
							<input class="input-item long" name="phone" type="text" value="{$user.telephone}" placeholder="Enter your phone number" number="true" minlength="8" maxlength="11" required="true" />
						</div>
						<div class="frow">
							<input class="input-item long" name="email" type="email" value="{$user.email}" placeholder="Enter your email" email />
						</div>
						<div class="frow">
							<input class="input-item long input-address" name="address" type="text" value="{$user.address}" placeholder="Enter your full address" minlength="8" required="true" />
						</div>
						<div class="frow">
							<textarea class="input-item long" name="remark" placeholder="Remark here for anything"></textarea>
						</div>
						
						<div class="frow">
							<input type="hidden" name="type" value="1"/>
							<input type="hidden" name="returnurl" value="{$Think.SERVER.HTTP_REFERER}"/>
							<input type="hidden" name="payment" value="3"/>
							<button class="btn btn-block btn-highlight btn-submit" type="submit">Reserve</button>
						</div>
						</form>
					</div>
					
					<div class="formbox hidden">
						<form  action="{:U('Cleaning/submit')}" method="post" id="frm_month">
						<div class="frow price-info">Price: <span class="price"><em>{$monthPrice}</em> RMB/hour</span>, total <span class="price max-price"><em id="bymonthTotal">--</em> RMB</span></div>
						<div class="frow" style="font-size:15px;">
							<input class="input-item" name="month" type="text" value="6" style="width:24px; text-align:center; font-size:18px;" min="1" required="true" />
							months,
							<input class="input-item" name="times" type="text" value="4" style="width:24px; text-align:center; font-size:18px;" min="1" required="true" />
							times/month,
							<input class="input-item" name="hours" type="text" value="2" style="width:24px; text-align:center; font-size:18px;" min="1" required="true" />
							hours/times
						</div>
						<div class="frow" style="overflow:hidden;">
							<input class="input-item long select-time" name="datetime" type="text" placeholder="Select first cleaning date" date="true" required="true" style="width: 307px; float:left;"/>
							<select name="time" class="input-item" style="float:right;">
								<option>10:00</option>
								<option>11:00</option>
								<option>12:00</option>
								<option>13:00</option>
								<option>14:00</option>
								<option>15:00</option>
								<option>16:00</option>
							</select>
							<label id="datetime-error" class="error" for="datetime"></label>
						</div>
						<div class="frow">
							<input class="input-item long" name="uname" type="text" value="{$user.userreal}" placeholder="Enter your name" minlength="2" maxlength="50" required="true" />
						</div>
						<div class="frow">
							<input class="input-item long" name="phone" type="text" value="{$user.telephone}" placeholder="Enter your phone number" number="true" minlength="8" maxlength="11" required="true" />
						</div>
						<div class="frow">
							<input class="input-item long" name="email" type="email" value="{$user.email}" placeholder="Enter your email" email />
						</div>
						<div class="frow">
							<input class="input-item long input-address" name="address" type="text" value="{$user.address}" placeholder="Enter your full address" minlength="8" required="true" />
						</div>
						<div class="frow">
							<textarea class="input-item long" name="remark" placeholder="Remark here for anything"></textarea>
						</div>
						
						<div class="frow">
							<input type="hidden" name="type" value="2"/>
							<input type="hidden" name="returnurl" value="{$Think.SERVER.HTTP_REFERER}"/>
							<input type="hidden" name="payment" value="3"/>
							<button class="btn btn-block btn-highlight btn-submit" type="submit">Reserve</button>
						</div>
						</form>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
</div>

<if condition="(get_userid() eq 0)">
  <div class="zhezhao ld hide"></div>
  <div class="lg ld login-popup hide">
    <div class="lgts_title">
      <h1>Login to checkout</h1>
      <span class="close" onclick="$('.ld').hide()">×close</span></div>
    <div class="lg_txt">
      <table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="270"><br />
            User name<br />
            <input type="text" name="username" id="username" class="user" /></td>
        </tr>
        <tr>
          <td>Password<br />
            <input type="password" name="password" id="password" class="mima" /></td>
        </tr>
        <tr>
          <td><a href="{:U('Login/findpwd')}" style="color:#0e87d8" target="_blank">Forget your password?</a></td>
        </tr>
        <tr>
          <td><a href="javascript:void(0);" onclick="$.login($('#username').val(),$('#password').val(),'{:U('Cleaning/index')}')" class="lgbtn">Login Now</a></td>
        </tr>
      </table>
    </div>
    <div class="lg_txt02"><a href="{:U('Login/create')}" class="create" id="confirmcreate">Continue without<br />
      login</a><br />
      <br />
      <a href="{:U('Login/register')}" target="_blank" class="fc_red" > Register a New Account</a> </div>
  </div>
</if>

<include file="Index:footer" />
<script type="text/javascript" src="__PUBLIC__/Shop/js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Shop/js/jquery.validate.min.js"></script>
<js href="__PUBLIC__/Shop/js/jquery.lhgcalendar.min.js" />

<script language="javascript">
<?php
$strdates=lbl('disabled_dates');
if($strdates){ 
	$strdates = str_replace ( "\r\n", ",", $strdates );
	$strdates = str_replace ( "，", ",", $strdates );
	$arr=arr2clr(str2arr($strdates));
	if($arr){
		$strdates=json_encode($arr);
	}else{
		$strdates='""';
	}
}
?>
$(function(){ 
	$('input.select-time').calendar({
		minDate:'%y-%M-%d',
		//disWeek:"{:lbl('disabled_week')}",
		disDate:{$strdates} }); 
});


var timesPrice = {$timesPrice};
var monthPrice = {$monthPrice};
function calculateTotal(){
	//单次
	$('#onetimeTotal').text( timesPrice * $('#frm_one select[name="hours"]').val() );
	//包月
	$('#bymonthTotal').text( monthPrice * $('#frm_month input[name="times"]').val() * $('#frm_month input[name="hours"]').val() * $('#frm_month input[name="month"]').val() );
}
$(function(){
	calculateTotal();
	$('#frm_one select[name="hours"]').change(calculateTotal);
	$('#frm_month input[name="times"]').blur(calculateTotal);
	$('#frm_month input[name="hours"]').blur(calculateTotal);
	$('#frm_month input[name="month"]').blur(calculateTotal);
	
	$('.tab > div').click(function(){
		var $this = $(this);
		if( $this.hasClass('active') ){
			return;
		}
		$this.addClass('active').siblings().removeClass('active');
		var i = $this.index()
		$('.formbox').addClass('hidden').eq(i).removeClass('hidden');
	});
	
	
	var islogined = {:ec(get_userid()>0?'true':'false')};
	var validateOpt = {
		submitHandler: function(form) {
			
			if( form.id == 'frm_month' ){
				if( parseInt($(form).find('input[name="month"]').val()) <= 1 &&
					parseInt($(form).find('input[name="times"]').val()) <= 1 ){
					jAlert('month or times/month must have a greater than 1');
					return false;
				}
			}
			
			if( islogined ){
				$(form).ajaxSubmit(ajaxSubmitOpt);
			}else{
				$(".login-popup").show();
				$("#confirmcreate").click(function(){
					jConfirm('We strongly recommend that you <a href="{:U('Login/register')}" target="_blank" class="fc_blue" >register a new account.</a><br /><br />Are you sure you want to remain anonymous to buy?',SYSTITLE,function(ret){
						if (ret){
							$.ajax({
								url: "{:U('Login/create')}",
								success: function(data){
									if( data == '1' ){
										$(form).ajaxSubmit(ajaxSubmitOpt);
									}
								}
							});
						};
					});
					return false;	
				});
			}
			return false;
		}
	};
	var ajaxSubmitOpt = {
			dataType: 'json',
			success : function(data){
				if( typeof data.errcode == 'undefined' || data.errcode>0 || !data.data  ){
					jAlert( data.errmsg ? data.errmsg : 'Operation failed' );
					return;
				}
				//订单生成成功
				location.href="{:U('Cleaning/submitSuccess')}?orderno="+data.data;
			}
	};
	$("#frm_month").validate(validateOpt);
	$("#frm_one").validate(validateOpt);
});
</script>
</body>
</html>
