<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
<body>
<include file="Index:bar" />
<include file="Index:nav" />
<div class="container">
	<div class="box980">
		<div class="lgbox">
			<div class="submit-success">
				<h1>Success!</h1>
				<p>Your order has been generated, we will contact you</p>
				<div>
					<a class="btn btn-primary" href="{:U('Member/cleaningview', array('orderno'=>$orderno))}">View Order</a>
					<a class="btn btn-default" href="/">Back Home</a>
				</div>
			</div>
		</div>
		
	</div>
	<div class="clr"></div>
</div>





<include file="Index:footer" />
</body>
</html>