<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title> 
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
<?php
$so=($sort=='desc'?'asc':'desc');
?>
<div class="container pdt5"> 
  <div class="saixuan">
  <ul>
      <li><a href="{:Uu('Search/index','keyword='.$keyword.'&order=1')}"  
        <eq name="order" value="1"> class="selected" </eq>
        >Default</a></li>
     <li>
       <eq name="order" value="2">
      <a href="{:Uu('Search/index','keyword='.$keyword.'&order=2&sort='.$so)}"   
        <eq name="order" value="2"> class="selected" </eq>
        ><eq name="sort" value="desc">
        <span class="down">Price</span>
        <else/><span class="up">Price</span>
        </eq></a>
      <else/>
      <a href="{:Uu('Search/index','keyword='.$keyword.'&order=2&sort='.$so)}"  ><span class="">Price</span></a>
      </eq>
    </li>
      <li>
      <eq name="order" value="3">
      <a href="{:Uu('Search/index','keyword='.$keyword.'&order=3&sort='.$so)}"   
        <eq name="order" value="3"> class="selected" </eq>
        ><eq name="sort" value="desc">
        <span class="down">Sold</span>
        <else/><span class="up">Sold</span>
        </eq></a>
      <else/>
      <a href="{:Uu('Search/index','keyword='.$keyword.'&order=3&sort='.$so)}"  ><span class="">Sold</span></a>
      </eq>
      
      </li> 
    </ul>
    
  </div>
  <div class="clr"></div>
  <div class="splist">
    <ul>
      <volist name="list" id="vo">
        <li>
          <div class="box"> <a href="{:Uu('Product/view','id='.$vo['id'])}"> <img  src="__PUBLIC__/images/grey.gif" class="lazy"  data-original="{$vo.indexpic}" alt="{$vo.title}"   width="100%" /> <strong  >{:str_ireplace($keyword,'<font class="fc_red">'.$keyword.'</font>',$vo['title'])}</strong><br>
            <div>Unit:{$vo.unit}</div>
            <div>Preservation:{$vo.storage}</div>
            <div>Origin:{$vo.origin}</div>
            <notempty name="vo.brand">
              <div>Brand:{$vo.brand}</div>
            </notempty></a>
            <div class="spjg">
              <div class="fl">
              <i class="price">&yen;{$vo.price}</i>
              <gt name="vo.price1" value="0">
              <i class="price-delete">&yen;{$vo.price1}</i>
                <else/>
                &nbsp;</gt> </div>
              <a href="javascript:void(0);" onClick="$.addCart({$vo.id});" class="pure-button pure-button-success fr" >+ Cart</a>
              </div>
             </div>
        </li>
      </volist>
    </ul>
  </div>
  <div class="fybox">{$page}</div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
