<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8"/>
    <title>产品销售状况</title>
    <include file="Index:header"/>
</head>
<body>
<form action="" method="get" name="form1" id="form1">
    <div style="float: left">送货日期：</div>
    <input type="hidden" name="datetime" id="datetime" />
    <div style="float: left;margin-left: 5px;"><input type="submit" class="btn1 <if condition='!isset($_REQUEST["datetime"]) or ($_REQUEST["datetime"] eq $today)'>click</if>" onclick="$('#datetime').val('{$today}')" value="今天"/></div>
    <div style="float: left;margin-left: 5px;">  <input type="submit" class="btn1 <if condition=' $_REQUEST["datetime"] eq $tomorrow'>click</if>"  onclick="$('#datetime').val('{$tomorrow}')" value="明天"/></div>
    <div style="float: left;margin-left: 5px;"><input type="submit" class="btn1 <if condition='$_REQUEST["datetime"] eq $afterTomorrow'>click</if>"  onclick="$('#datetime').val('{$afterTomorrow}')" value="后天"/></div>

    <div style="float: left;margin-left: 5px;cursor: pointer" class="btn1 <if condition='isset($_REQUEST["datetime"]) and ($_REQUEST["datetime"] neq $today and $_REQUEST["datetime"] neq $tomorrow and $_REQUEST["datetime"] neq $afterTomorrow)'>click</if>" id="getOtherDate">其他</div>

    &nbsp;&nbsp;&nbsp;产品ID:<input type="text" class="inputText1"  name="contentid" value="{$_REQUEST['contentid']}"/>

         <input type="submit" class="btn1" value="查询"/></td>
</form>
<div class="dot"></div>
<table>
    <tr class="toolbar">
        <td colspan="10" class="tc">
            【 产品销售状况 】
        </td>
    </tr>
</table>
<table border="0" cellpadding="3" cellspacing="1" class="MainTbl">
    <tr class="header">

        <th width="50">订单号</th>
        <th width="100">用户名</th>
        <th width="80">送货时间</th>
        <th width="150">送货地址</th>
        <th width="50">产品ID</th>
        <th >产品名称</th>
        <th width="50">单位</th>
        <th width="50">单价</th>
        <th width="50">数量</th>
        <th width="100">供应商</th>
        <th width="100">操作</th>
    </tr>
    <volist id="vo" name="list">
            <if condition="$vo['memo']">
                <tr class="row{$i % 2+1} hasmemo" title="{$vo['memo']}" >
            <else/>
                <tr class="row{$i % 2+1}" >
            </if>
            <td><a href="{:U('Cms/editOrder','id='.$vo['id'])}" class="underline">{$vo.id}</a></td>
            <td><a href="{:U('Member/editMember','id='.$vo['userid'])}" class="underline">{$vo.username}</a></td>
            <td>{$vo.delivertime}</td>
            <td>{$vo.address}</td>
            <td><a href="{:U('Cms/editContent','id='.$vo['productid'])}" class="underline">{$vo.productid}</a> </td>
            <td>{$vo.productname}</td>
            <td>{$vo.unit}</td>
            <td>{$vo.price}</td>
            <td>{$vo.num}</td>
            <td>{$vo.supplyname}</td>
            <td></td>
        </tr>
    </volist>
</table>
<include file="Index:footer"/>
<script>
        //选择其他时间
    $('#getOtherDate').calendar({
        format: 'yyyy-MM-dd',
        onSetDate:function(){
            var date = this.year+'-'+this.month+'-'+this.day;
            $('input[name=datetime]').val(date)
            $('#form1').submit();
        }
    });
</script>
</body>
</html>