<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>未处理订单</title>
    <include file="Index:header" />
</head>
<body>
<table border="0" cellpadding="3" cellspacing="1" class="MainTbl" id="mainTbl">

    <tr class="toolbar">
        <td colspan="15" class="tc">【 未处理订单 】</td>
    </tr>
    <tr class="header">
        <th width="20">id</th>
        <th width="60">用户名</th>
        <th width="40">电话</th>
        <th width="50">地址</th>
        <th width="40">城市</th>
        <th width="40">送货时间</th>
        <th width="20">发票</th>
        <th width="20">在线</th>
        <th width="20">KC肉</th>
        <th width="20">自营肉</th>
        <th width="20">莲娜</th>
        <th width="20">强力</th>
        <th width="20">酸奶油</th>
        <th width="60">客户留言</th>
        <th width="60">内部留言</th>
    </tr>
    <volist name="list" id="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.username}</td>
            <td>{$vo.telephone}</td>
            <td>{$vo.address}</td>
            <td>{$vo.cityname}</td>
            <td>{$vo.delivertime}</td>
            <td><if condition="$vo['invoice'] eq 1">是</if></td>
            <td><if condition="$vo['paymethod'] eq 1">是</if></td>
            <td><if condition="strpos($vo['supplyid'],'2,') gt 0">是</if></td>
            <td><if condition="strpos($vo['supplyid'],'10,') gt 0">是</if></td>
            <td><if condition="strpos($vo['supplyid'],'3,') gt 0">是</if></td>
            <td><if condition="strpos($vo['supplyid'],'11,') gt 0">是</if></td>
            <td><if condition="strpos($vo['supplyid'],'5,') gt 0">是</if></td>
            <td>{$vo.info}</td>
            <td>{$vo.info0}</td>
        </tr>
    </volist>
    <tr class="footer">
        <td colspan="12">
            <div class="page">{$page}</div>
        </td>
    </tr>
</table>
<include file="Index:footer" />

</body>
</html>