<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>

<body style="background:#F8F8F8 ">
<include file="Index:bar"/>
<include file="Index:nav2"/>
<div class="cat_list_sx">
    <div class="container">
        <if condition="!isset($_REQUEST['group']) || !$_REQUEST['group']">
         <!--   <div class="cat_obj_sx">
                <div  class="cat_name fl">Brand:</div>
                <div  class="cat_val fl">
                    <a href="{:set_url('brand')}" <if condition="!$_REQUEST['brand']"> class="selected"</if>>All</a>
                    <volist name="brandlist" id="vo">
                        <a href="{:set_url('brand',$vo)}"<if condition="(parse_param($_REQUEST['brand'],true) eq strtolower($vo))" >class="selected"</if> >
                        {$vo}
                        </a>
                    </volist>
                </div>
            </div>-->
            <div class="clr"></div>
            <!--<div class="cat_obj_sx cat_dashed">
                <div class="cat_name fl">Origin:</div>
                <div class="cat_val fl">
                    <a href="{:set_url('origin')}" <if condition="!$_REQUEST['origin']"> class="selected"</if>>All</a>
                    <volist name="originlist" id="vo">
                        <a href="{:set_url('origin',$vo)}" <if condition="(parse_param(I('get.origin'),true) eq strtolower($vo))" >class="selected"</if>>
                        {$vo}
                        </a>
                    </volist>
                </div>
            </div>-->
            <div class="clr"></div>
        <else/>

        </if>
      </div>
</div>
<div class="container">
    <if condition="isset($_REQUEST['group']) || $_REQUEST['group']">
        <div class="path "><a href="/">Home</a> &gt;
            <if condition="$_REQUEST['group'] eq 8">
                <a href="javascript:void (0);">New Arrival</a>
                <elseif condition="$_REQUEST['group'] eq 9"/>
                <a href="javascript:void (0);">Promotion</a>
                <elseif condition="$_REQUEST['group'] eq 11"/>
                <a href="javascript:void (0);">Recommend</a>
            </if>
        </div>
        <else/>
        <div class="path clr">{:get_product_location($_REQUEST['id'])} </div>
    </if>
    <form class="px_tit" method="get" action="/Product/lists.html">
        <input type="hidden" value="{$_REQUEST['keyword']}" name="keyword"/>
        <input type="hidden" value="{$_REQUEST['id']}" name="id"/>
        <input type="hidden" value="" id="peixu"/>
        <label class="px fl "  for="Default" style="padding-left: 3px;">
            <input type="submit"  id="Default" <if condition="!$_REQUEST['price'] && !$_REQUEST['sales']">class="fc_red"</if> onclick="$('#peixu').val('');" value="Default"/>
        </label>

        <label class="px fl "  for="price"  <if condition="$_REQUEST['price'] eq 'desc'">data-val="asc"<else/>data-val="desc"</if>
        onclick="$('#peixu').val($(this).data('val'));$('#peixu').attr('name','price');" >
            <input type="submit" id="price" value="Price" <if condition="$_REQUEST['price']">class="fc_red"</if>/>
            <if condition="$_REQUEST['price'] eq 'asc'">
                <img src="__PUBLIC__/Shop/images/_up_hover.png" alt=""/>
                <elseif condition="$_REQUEST['price'] eq 'desc'"/>
                <img src="__PUBLIC__/Shop/images/down_hover.png" alt=""/>
                <else/>
                <img src="__PUBLIC__/Shop/images/down_.png" alt=""/>
            </if>
        </label>

        <label  class="px fl" for="sales"  <if condition="$_REQUEST['sales'] eq 'asc'">data-val="desc"<else/>data-val="asc"</if>
        onclick="$('#peixu').val($(this).data('val'));$('#peixu').attr('name','sales');" >
            <input type="submit" id="sales"value="Sales"  <if condition="$_REQUEST['sales']">class="fc_red"</if>/>
            <if condition="$_REQUEST['sales'] eq 'asc'">
                <img src="__PUBLIC__/Shop/images/_up_hover.png" alt=""/>
            <elseif condition="$_REQUEST['sales'] eq 'desc'"/>
                <img src="__PUBLIC__/Shop/images/down_hover.png" alt=""/>
            <else/>
                <img src="__PUBLIC__/Shop/images/up_.png" alt=""/>
            </if>
        </label>
    </form>
    <div class="clr"></div>
    <!--商品-->
    <ul class=" good-contents" style="margin-top: 20px;">
        <volist name="list" id="vo">
            <li class="goods"  id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                <div class="fl goods_c">
                    <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  /></div> </a>
                    <div class="good-name">
                        <a href="/product/view.html?id={$vo.id}">
                            <div class="good_title">{:str_ireplace($_REQUEST['keyword'],'<span class="fc_red">'.$_REQUEST['keyword'].'</span>',$vo['title'])}</div>
                        </a>
                        <div class="good_item_info ">
                            <div class="good_info list_good fl">
                                <div class="prict_info">                                Unit: {$vo.unit}&nbsp;&nbsp;Origin: {$vo.origin}<br>

                                    <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                    <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                </div>
                                <div class="quantity hide">
                                    <span class="fc_eee good-num-prep " unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" onclick="setGoodNum('{$vo.id}','cat');">-</span>
                                    <input type="text" id="js_good_num_{$vo.id}" class="tc good_num" value="1"/>
                                    <span class="good-num-add" unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" onclick="setGoodNum('{$vo.id}','add');">+</span>
                                </div>
                            </div>
                            <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event,'list')"></div>
                        </div>
                    </div>
                </div>
            </li>
        </volist>
    </ul>
    <div class="clr"></div>
    <div class="pagelist">{$page}</div>
</div>
<include file="Index:footer" />
<script>
    $('.good-contents .goods ').mouseover(function(){
        $(this).find(' .good_shop_cart').css({'background': 'url("'+CONST_PUBLIC+'/Shop/images/shopping_cart_black.png") no-repeat center','background-size': 'auto 35px'})
        $(this).addClass('good-hover');
        $(this).find('.prict_info').addClass('hide');
        $(this).find('.quantity').removeClass('hide');
    })

    $(' .goods ').mouseleave(function(){
        $(this).find('.quantity').addClass('hide');
        $(this).find('.prict_info').removeClass('hide');
        $(this).removeClass('good-hover')
        $(this).find(' .good_shop_cart').css({'background': 'none'})
    })
</script>
</body>
</html>
