<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>

<body style="background:#F8F8F8 ">
<include file="Index:nav2"/>
<div class="container">
    <if condition="(isset($_REQUEST['group']) && $_REQUEST['group']) || (isset($_REQUEST['keyword']) && $_REQUEST['keyword'])">
        <div class="path clr"><a href="/">Home</a> &gt;
            <if condition="$_REQUEST['group'] eq 8">
                <a href="javascript:void (0);">New Arrival</a>
                <elseif condition="$_REQUEST['group'] eq 9"/>
                <a href="javascript:void (0);">Promotion</a>
                <elseif condition="$_REQUEST['group'] eq 11"/>
                <a href="javascript:void (0);">Recommend</a>
                <elseif condition="!empty($_REQUEST['keyword'])"/>
                <a href="javascript:void (0);">{$_REQUEST['keyword']}</a>
            </if>
        </div>
        <else/>
        <div class="path clr">{:get_product_location($_REQUEST['id'])} </div>
    </if>
    <form class="px_tit" method="get" action="/Product/lists.html">
        <if condition="isset($_REQUEST['group'])">
            <input type="hidden" value="{$_REQUEST['group']}" name="group"/>
        </if>
        <if condition="isset($_REQUEST['keyword'])">
            <input type="hidden" value="{$_REQUEST['keyword']}" name="keyword"/>
        </if>
        <if condition="isset($_REQUEST['id'])">
            <input type="hidden" value="{$_REQUEST['id']}" name="id"/>
        </if>
        <input type="hidden" value="" id="peixu"/>
        <label class="px fl "  for="Default" style="padding-left: 3px;">
            <input type="submit"  id="Default" <if condition="!isset($_REQUEST['price']) && !isset($_REQUEST['sales'])">class="fc_red"</if> onclick="$('#peixu').val('');" value="Default"/>
        </label>

        <label class="px fl "  for="price"  <if condition="$_REQUEST['price'] eq 'desc'">data-val="asc"<else/>data-val="desc"</if>
        onclick="$('#peixu').val($(this).data('val'));$('#peixu').attr('name','price');" >
            <input type="submit" id="price" value="Price" <if condition="$_REQUEST['price']">class="fc_red"</if>/>
            <if condition="isset($_REQUEST['price']) && $_REQUEST['price'] eq 'asc'">
                <img src="__PUBLIC__/Shop/images/_up_hover.png" alt=""/>
                <elseif condition="$_REQUEST['price'] eq 'desc'"/>
                <img src="__PUBLIC__/Shop/images/down_hover.png" alt=""/>
                <else/>
                <img src="__PUBLIC__/Shop/images/down_.png" alt=""/>
            </if>
        </label>

        <label  class="px fl" for="sales"  <if condition="$_REQUEST['sales'] eq 'desc'">data-val="asc"<else/>data-val="desc"</if>
        onclick="$('#peixu').val($(this).data('val'));$('#peixu').attr('name','sales');" >
            <input type="submit" id="sales"value="Sold"  <if condition="$_REQUEST['sales']">class="fc_red"</if>/>
            <if condition="isset($_REQUEST['sales']) && $_REQUEST['sales'] eq 'asc'">
                <img src="__PUBLIC__/Shop/images/_up_hover.png" alt=""/>
            <elseif condition="$_REQUEST['sales'] eq 'desc'"/>
                <img src="__PUBLIC__/Shop/images/down_hover.png" alt=""/>
            <else/>
                <img src="__PUBLIC__/Shop/images/down_.png" alt=""/>
            </if>
        </label>
    </form>
    <div class="clr"></div>
    <!--商品-->
            <ul class=" good-contents" style="margin-top: 20px;">
            <volist name="list" id="vo">
                <li class="goods"  id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                    data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                    <div class="fl goods_c">
                        <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  /></div> </a>
                        <div class="good-name">
                            <a href="/product/view.html?id={$vo.id}">
                                <div class="good_title">
                                    <if condition="isset($_REQUEST['keyword'])">
                                        {:str_ireplace($_REQUEST['keyword'],'<span class="fc_red">'.$_REQUEST['keyword'].'</span>',$vo['title'])}
                                    <else/>
                                        {$vo['title']}
                                    </if>

                                </div>
                            </a>
                            <div class="good_item_info ">
                                <div class="good_info list_good fl">
                                    <div class="prict_info"> <div style="width: 240px;height: 25px; overflow: hidden"> Unit: {$vo.unit}&nbsp;&nbsp;Origin: {$vo.origin}</div>

                                        <span class="fc_green" style="font-size: 20px;">&yen;&nbsp;{$vo.price}</span>
                                        <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                    </div>
                                    <div class="quantity hide">
                                        <span class="fc_eee good-num-prep " unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" onclick="setGoodNum('{$vo.id}','cat');">-</span>
                                        <input type="text" id="js_good_num_{$vo.id}" class="tc good_num" value="1"/>
                                        <span class="good-num-add" unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" onclick="setGoodNum('{$vo.id}','add');">+</span>
                                    </div>
                                </div>
                                <div class="good_shop_cart fr" onclick="addgood('{$vo.id}',event,'list')"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    <div class="clr"></div>
    <div class="pagelist" <if condition="count($list) lt 1">style="display:none" </if>>{$page}</div>
</div>
<if condition="count($list) lt 1 && isset($_REQUEST['keyword'])">
    <div class="bg_white tc" style="height: 360px;">
       <p style="padding-top: 160px;"> no results found or <a href="/index/wishlist.html" class="selected">try wishlist</a> to tell us what you want
        <br/>
        <br/>
        <a href="/index/wishlist.html" style="text-decoration:underline;">click to create a wish list</a>
       </p>
    </div>
</if>

<include file="Index:footer" />
<script>
    $('.good-contents .goods ').mouseover(function(){
        $(this).find(' .good_shop_cart').css({'background': 'url("'+CONST_PUBLIC+'/Shop/images/shopping_cart_black.png") no-repeat center','background-size': 'auto 35px'})
        $(this).addClass('good-hover');
        $(this).find('.prict_info').addClass('hide');
        $(this).find('.quantity').removeClass('hide');
    })

    $(' .goods ').mouseleave(function(){
        $(this).find('.quantity').addClass('hide');
        $(this).find('.prict_info').removeClass('hide');
        $(this).removeClass('good-hover')
        $(this).find(' .good_shop_cart').css({'background': 'none'})
    })
</script>
</body>
</html>
