<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$good.title}{:lbl('subtitleshop')}</title>
    <meta name="keywords" content="{$good.keywords}" />
    <meta name="description" content="{$good.description}" />
    <include file="Index:header" />
</head>
<body pagename="view">
<include file="Index:nav2" />
<div class="path clr"><div class="container">{:get_product_location($good['pid'])} </div></div>
<div class="bg_white">
    <div class="good-info-head container"   id="js_goods_{$good['id']}" data-id="{$good['id']}" data-price="{$good['price']}" data-stock="{$good['stock']}" data-indexpic="{$good.indexpic}" data-name="{$good['title']}">
        <div class="good-ih-img">
            <div class="imglist fl">
                <volist name="gallery" id="vo">
                    <if condition="$i elt 5">
                        <div class="img-list"<if condition="$i eq 1">  style="border: 3px solid #cccccc  " </if> onclick="selectShowImg(this)">
                            <img src="{$vo}" width="54" height="54"  alt="" />
                        </div>
                    </if>
                </volist>
            </div>
            <div class="img-show fr">
                <if condition="$gallery && $gallery[0]">
                    <img src="{$gallery[0]}" width="440" height="440" id="img_show_box"/>
                    <else/>
                    <img src="{$good['indexpic']}" width="440" height="440" id="img_show_box"/>
                </if>
            </div>
        </div>
        <div class="good-ih-info">
            <div class="good-title">{$good.title}</div>
            <div class="good-info">
                Unit: {$good.unit}<br/>
                Preservation: {$good.storage}<br/>
                Origin: {$good.origin}<br/>
                <if condition="$db['brand']">
                    Brand:{$good.brand}<br />
                </if>
                <p class="price">
                    <span class="good-price">&yen;&nbsp;{$good.price} </span>
                    <if condition="$good['price1'] gt 0">
                        <span class="marketprice">&yen;{$good.price1}</span>
                    </if>
                </p>
                <div class="quantity">
                    Quantity: <span class="good-num-prep fc_eee" unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" style="font-size: 25px;" onclick="setGoodNum('{$good.id}','cat');">-</span>
                    <input type="text" id="js_good_num_{$good.id}" class="tc good_num" value="1"/>
                    <span class="good-num-add" unselectable="on" style="-moz-user-select:none;" onselectstart="return false;" onclick="setGoodNum('{$good.id}','add');">+</span>
                </div>
                <div>
                    <button class="buynow cart_btn"  onclick="buynow('{$good.id}');">Buy now</button>
                    <button class="addtocart cart_btn" style="margin-left: 35px;" onclick="addgood('{$good.id}',event,'view')" >Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<if condition="$good['content']">
    <div class="bg_white" style="border-top: 1px solid #dcdcdc">
        <div class="good_desc_title container"><img src="__PUBLIC__/Shop/images/snajiao.png" alt="" style="position: relative;top: -3px;"/>&nbsp;&nbsp;Description</div>
    </div>
    <div class="bg_white">
        <div class="good_desc container">
            <div class="cpcontent " style="padding:10px 0 10px 10px;">
                {$good.content|htmlspecialchars_decode}
            </div>
        </div>
    </div>
    </div>
</if>
    <php>$mightlike = get_product_lists($good['pid'],4,2);</php>
    <if condition="$mightlike">
        <div class="bg_white" style="border-top: 1px solid #dcdcdc">
            <div class="good_desc_title good_desc container"> <img src="__PUBLIC__/Shop/images/snajiao.png"  style="position: relative;top: -3px;" alt=""/>&nbsp;&nbsp;You might like</div>
        </div>
        <div class="bg_white">
            <ul class=" good-contents  mightlike container ">
                <volist name="mightlike" id="vo">
                    <li class="goods" <if condition="$i lt 5">style="margin-top:15px;"</if> id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                    data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="fl goods_c">
                            <a href="/product/view.html?id={$vo.id}"> <div class="good_pic"><img src="{$vo.indexpic}"  width="160"/></div> </a>
                            <div class="good-name">
                                <a href="/product/view.html?id={$vo.id}"> <div class="good_title">{$vo.title}</div></a>
                                <div class="good_item_info">
                                    <div class="good_info fl">
                                        Unit: {$vo.unit} Origin: {$vo.origin}<br>
                                        <span class="fc_green" style="font-size: 20px;">&yen;{$vo.price}</span>
                                        <if condition="$vo['price1'] gt 0"><s  style="font-size: 16px;">&yen;{$vo.price1}</s></if>
                                    </div>
                                    <div class="good_shop_cart fr"  onclick="addgood('{$vo.id}',event)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </volist>
                <div class="clr"></div>
            </ul>
        </div>
    </if>
    <div class="clr"></div>
</div>
<div class="bg_white" style="height: 40px;;"></div>
<include file="Index:footer" />
<script>
    function selectShowImg(obj){
        $('.imglist .img-list').css('border','1px solid #f0f0f0');
        $(obj).css({'border':'3px solid #cccccc','margin-bottom':"10px",'width':'76px','height':'78px'});
        var img = $(obj).find('img').attr('src');
        $('#img_show_box').attr('src',img);
    }

    $('.good-contents .goods ').mouseover(function(){
        $(this).find(' .good_shop_cart').css({'background': 'url("'+CONST_PUBLIC+'/Shop/images/shopping_cart_black.png") no-repeat center','background-size': 'auto 35px','top':'-77px','right': '14px'})
        $(this).addClass('good-hover');
    })

    $(' .goods ').mouseleave(function(){
        $(this).removeClass('good-hover')
        $(this).find(' .good_shop_cart').css({'background': 'none'})
    })
</script>
</body>
</html>
