<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" />
</head>
<body> 
<include file="Index:bar" />
<div class="container">
  <div class="content">
    <div class="main-list">
      <div class="main-item">
        <div class="item-title bdnone ">
        <form onsubmit="return false" class="pure-form">
            <p>Please enter your account</p>
            <p class="clearfix">
                <input type="text" placeholder="enter your username or Email" class="pure-input-1"  name="keywrod"/>
                <p style="font-size: 9px; color: #999" id="msg">An Email with the new password will be sent to your registered Email box.</p>
            </p>
            <p>
                <input type="text" class="reginput fl" size="24"  maxlength="5" name="verify" id="verify"  placeholder="enter captcha" required="required" />
                <img style="cursor:pointer;margin-left:5px; cursor: hand; width:100px; height:36px; float:left;" title="click to reload captcha" alt="" onclick="this.src='/shop/index/verify.html?random='+Math.random()" src="/shop/index/verify.html?v={:rand(0,999)}" />
            </p>
            <div style="clear: both"></div>

            <p class="clearfix ">
                <button class="pure-button pure-button-success" style="width:100%;" onclick="findpwd()">Next step</button>
            </p>
          </form>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
<js href="__PUBLIC__/Admin/js/alerts/jquery.alerts.js" />
<script>
    function findpwd(){
        $.post('/login/findpwdAction',{keywrod:$('input[name=keywrod]').val(),verify:$('#verify').val()},function(data){
            if(data.code ==200){
                clearpopj(data.message,data.data);
            }else{
                clearpopj(data.message);
            }
        })
    }
</script>
</body>
</html>