<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}{:lbl('subtitleshop')}</title>
    <include file="Index:header"/>
    <js href="__PUBLIC__/Shop/js/jquery.lhgcalendar.min.js"/>
    <script language="javascript">
        <?php
          $strdates = lbl('disabled_dates');
        if ($strdates) {
            $strdates = str_replace("\r\n", ",", $strdates);
            $strdates = str_replace("，", ",", $strdates);
            $arr = arr2clr(str2arr($strdates));
            if ($arr) {
                $strdates = json_encode($arr);
            } else {
                $strdates = '""';
            }
        }
        ?>

    </script>
</head>

<body data-beyond="{$beyond}" >
<include file="Index:bar"/>
<include file="Index:nav"/>
<div class="container">
<div class="box980">
<div class="gmlc">
    <form action="{:U('Order/submitOrder')}" method="post" name="form1" id="form1">
        <input type="hidden" name="shop_id" id="shop_id" value="1"/>
        <input type="hidden" name="UseAddressID" id="UseAddressID" value=""/>
        <input type="hidden" name="cityname" id="cityname" value=""/>

        <div class="gmjd02"></div>
        <eq name="cartnum" value="0">
            <div class="nocp"></div>
            <else/>
            <h2>Receiving information </h2>
                <div class="txt02" id="addr_list">
                    <volist name="address" id="vo">
                        <label class="addr_list">
                            <input type="radio"  name="consingee"  data-cityname="{$vo.cityname}" <if condition="$vo['isdefault'] eq 1"> checked <elseif condition="$i eq 1"/>checked</if> value="{$vo.id}"/>
                            {$vo.username}-{$vo.telephone}- {$vo.address} -{$vo.cityname}
                            <a href="/member/info1.html?goto=cashier&addressid={$vo.id}" >Modify</a>
                        </label>
                        <br/>
                    </volist>
                </div>
            <label class="addr_list">
                <a href="/Member/addAddress.html?goto=cashier" style="padding-left: 30px;">New Address</a>
            </label>
            <h2>

                Product list
            </h2>
            <div class="spqd">
                <eq name="isShop" value="true">
                    <?php
            $subtotal=0;
            ?>
                    <eq name="isService" value="true">
                        <div class="shoptitle">Product list</div>
                    </eq>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <td align="left">ID</td>
                            <td align="left">Product name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Amount</td>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="cart.cart_items" id="vo">
                            <?php
               if(strpos($vo['sortpath'],',2,')){
                $sub=(float)get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'];
                $subtotal+=$sub;
                ?>
                            <tr>
                                <td align="left">{$vo.id}</td>
                                <td align="left"><a href="{:U('Product/view?id='.$vo['id'])}"><img alt="{$vo.name}"
                                                                                                   src="{$vo.indexpic}"
                                                                                                   width="60"
                                                                                                   height="60"/>{$vo.name}</a>
                                </td>
                                <td><span class="jiage">&yen;{$sub}</span></td>
                                <td>{$vo.num}</td>
                                <td>{:to_price($sub)}</td>
                            </tr>
                            <?php
                  }
                ?>
                        </volist>
                        </tbody>
                        <eq name="isService" value="true">
                            <tfoot>
                            <tr>
                                <td colspan="2" align="left">&nbsp;</td>
                                <td colspan="4" align="right"> Sub Total：<span class="jiage02">&yen;<font id="">{:to_price($subtotal)}</font></span>
                                </td>
                            </tr>
                            </tfoot>
                        </eq>
                    </table>
                </eq>
                <eq name="isService" value="true">
                    <?php
            $subtotal=0;
            ?>
                    <eq name="isShop" value="true">
                        <div class="shoptitle">Laundry service list</div>
                    </eq>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <td align="left">ID</td>
                            <td align="left">Product name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Amount</td>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="cart.cart_items" id="vo">
                            <?php
               if(strpos($vo['sortpath'],',3,')){
                $sub=(float)get_price($vo['id'],$vo['price'],$vo['ext'])*$vo['num'];
                $subtotal+=$sub;
                ?>
                            <tr>
                                <td align="left">{$vo.id}</td>
                                <td align="left"><a href="{:U('Service/view?id='.$vo['id'])}"><img alt="{$vo.name}"
                                                                                                   src="{$vo.indexpic}"
                                                                                                   width="60"
                                                                                                   height="60"/>{$vo.name}</a>
                                </td>
                                <td><span class="jiage">&yen;{$sub}</span></td>
                                <td>{$vo.num}</td>
                                <td>{:to_price($sub)}</td>
                            </tr>
                            <?php
                  }
                ?>
                        </volist>
                        </tbody>
                        <eq name="isShop" value="true">

                            <tfoot>
                            <tr>
                                <td colspan="2" align="left">&nbsp;</td>
                                <td colspan="4" align="right"> Sub Total：<span class="jiage02">&yen;<font id="">{:to_price($subtotal)}</font></span>
                                </td>
                            </tr>
                            </tfoot>
                    </table>
                </eq>
        </eq>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tfoot>
            <!--<tr>
              <td colspan="5" align="right"><p style="line-height:20px;">
                  <gt name="maxuse" value="0"> Use coupon:
                    <input type="text" class="input03" value="{$usecoupon}" id="usecoupon" name="usecoupon" maxlength="10" style="width:50px;" onchange="location='{:U('Settle/cashier')}?usecoupon='+$(this).val()" />
                    <else/>
                    Use coupon:
                    <input type="text" class="input03" value="{$usecoupon}" id="usecoupon" name="usecoupon" style="width:50px;"  disabled="disabled"/>
                  </gt>
                  <br />
                  You have <span class="fc_red">&yen;{$mycoupon}</span> coupons in total and maximum <span class="fc_red">&yen;{$maxuse}</span> applicable for this order.<br />
                      Three ways to get coupon: 1) each your order, 2) recommend friends, 3) friends consume; more rules please <a href="{:U('Content/view','id=2321')}" target="_blank">click here</a>.</p></td>
                </tr>-->
            <tr align="right">
                <td colspan="5">Amount：&yen;{$cart.cart_amount}<br/>
                    Delivery Fee： &yen;{$cart.cart_shipfee}<br/>
                    <notempty name="usecoupon"><span style="display:none">Coupon： - &yen;{$usecoupon}<br/></span>
                        Total Amount：<span class="jiage02">&yen;{:to_price($cart['cart_amount']+$cart['cart_shipfee']-$usecoupon)}</span>
                        <else/>
                        Total Amount：<span
                                class="jiage02">&yen;{:to_price($cart['cart_amount']+$cart['cart_shipfee'])}</span>
                    </notempty>
                </td>
            </tr>
            </tfoot>
        </table>
</div>
<h2>Payment</h2>

<div class="txt02">
    <input name="paymethod" type="radio" id="paymethod1" value="1">
    <label for="paymethod1">Online payment</label>
    <input type="radio" name="paymethod" id="paymethod4" value="4" checked>
    <label for="paymethod4">Cash on delivery</label>
</div>
<h2>Invoice required</h2>

<div class="txt02">
    <input name="invoice" type="radio" id="invoice1" value="1">
    <label for="invoice1">yes</label>
    <input type="radio" name="invoice" id="invoice2" value="0" checked>
    <label for="invoice2">no</label>
</div>
<h2>Delivery date</h2>
<div class="txt02">
    <?php
          $deliverinfo=nl2br(lbl('deliverinfo'));
          ?>
    <notempty name="deliverinfo">
           <span class="" style="color:#f00;">
          {$deliverinfo}
          </span>
    </notempty>
    <br/>
    <br/>
    <volist name="dateData" id="vo">
            <div data-date_num="{$i}" class="js_date_obj  <if condition='$vo.isholiday eq 1'>isholiday<else/>date_btn </if>" data-date="{$vo.time}" title="{$vo.time}">
                <if condition="$i eq 1">
                    Today
                    <elseif condition='$i eq 2'/>
                    Tomorrow
                    <else/>
                    {$vo.date}
                </if>
            </div>
    </volist>
    <!--<input  type="text" class=" date_btn " value="Other" id="getOtherDate" />-->
    <div class=" date_btn"  id="getOtherDate">
       Other
    </div>
    <input  type="hidden" name="delivertime[]" class="date_val"  id="delivertime" />
    <div style="clear: both"></div>
    <br/>
    <div>
        <?php
	            $times = str2arr(lbl('delivertime'),"\r\n");//配送时段
	            foreach($times as $k=>$v){
        ?>
            <div class="time_list js_time_obj " data-date="{$v}" ><br/>
               {$v}
            </div>
        <?php
	            }
            ?>
    </div>
</div>

<h2>Order remarks</h2>
<div class="txt02">
    <textarea type="text" id="info" name="info" value="" placeholder="the order remarks" size="80" class="input03"
              style="width:500px; height:80px;"></textarea>
</div>
<div class="tjdd"><a href="javascript:void(0);" onclick="$.SubmitOrder()" id="submitOrder" class="jixu">Submit order</a>
</div>
</eq>
</form>
</div>
</div>
<div class="clr"></div>
</div>
<include file="Index:footer"/>

<script>
    $(function(){
        //初始化时间选择,如果今天休息,自动选择最近可以配送的时间
        var date = $(".date_btn").eq(0).data('date');
        $('#delivertime').val(date);
        $(".date_btn").eq(0).addClass('click');
        checkTime(date);
        //选择时间
        $(".js_date_obj").click(function(){
            $('.js_time_obj').removeClass('click');
            $('.js_time_obj').find('input').remove();
            if($(this).hasClass('isholiday')){
                $('.js_delivertime').parent().addClass('old_time');
            }else{
                checkTime($(this).data('date'));
                $('#delivertime').val($(this).data('date'));
                $('.js_date_obj').removeClass('click');
                $(this).addClass('click');
            }
        })
        //选择其他时间
        $('#getOtherDate').calendar({
            format: 'yyyy-MM-dd',
            minDate: '%y-%M-%d',
            disWeek: "{:lbl('disabled_week')}",
            btnBar: false,
            disDate: {$strdates},
            onSetDate:function(){
                var date = this.year+'-'+this.month+'-'+this.day;
                $('#getOtherDate').text(this.day+','+getDateFormat(this.month));
                $('#getOtherDate').addClass('click');
                $('#delivertime').val(date);
                $('.js_date_obj').removeClass('click');
                checkTime(date);
            }
        });

        $('.js_time_obj').click(function () {
            if($(this).hasClass('click')){
                $(this).removeClass('click');
                $(this).find('input').remove();
            }else{
                if($(this).hasClass('time_list')){
                    $(this).addClass('click');
                    var arr=$(this).data('date');
                    var html ='<input type="hidden" value="'+arr+'" name="delivertime[]" id="delivertime_'+arr+'"/>';
                    $(this).addClass('click');
                    $(this).append(html);
                }
            }
        })
        $('#UseAddressID').val($('#addr_list input[type=radio]:checked').val());
        $('#cityname').val($('#addr_list input[type=radio]:checked').data('cityname'));
        $('#addr_list label').click(function(){
            $('#UseAddressID').val($('#addr_list input[type=radio]:checked').val());
            $('#cityname').val($('#addr_list input[type=radio]:checked').data('cityname'));
        })
    })

    //根据时间选择时间段
    function checkTime($now){
        var myDate = new Date(),
                month = (myDate.getMonth()+1)<10 ? "0"+(myDate.getMonth()+1):(myDate.getMonth()+1),
                day = (myDate.getDate())<10 ? "0"+(myDate.getDate()):(myDate.getDate());
            date =  myDate.getFullYear()+'-'+month+'-'+day,//获取当前时间,(+1: 月份为0-11)
            beyond = parseInt($('body').data('beyond'));
        if($now ==date){ //今天

            $(".js_time_obj").each(function () {
                var arr=$(this).data('date').split('-'),
                        arr1= arr[0].split(':'),
                        hours= parseInt(myDate.getHours()),
                        min= parseInt(myDate.getMinutes());

                //以下午16点为分割线, 16点以前,当前时间加30,反之减300
                if(15>hours && 15>arr1[0]){ //15点以前,
                    //当前时间所在的时间段开始30分钟内可以选择 (例:当前时间:14:30;可选14:00-16:00)
                    if((hours>arr1[0]) || (hours == parseInt(arr1[0]) && min > beyond)){
                        $(this).addClass('old_time');
                        $(this).removeClass('time_list');
                        $(this).removeClass('click');
                    }
                }else{
                    //比当前时间所在的时间段提前开始30分钟以上可以选择 (例:当前时间:15:31;不能选16:00-18:00)
                    if((hours>=arr1[0]) || ((arr1[0]-1) == hours &&  min > beyond )){
                        $(this).addClass('old_time');
                        $(this).removeClass('time_list');
                        $(this).removeClass('click');
                    }
                }
            })
            if(!$('.js_time_obj').hasClass('time_list')){ //今天没有可选时段了
                $(".js_date_obj ").eq(0).removeClass('click');
                $(".js_date_obj ").eq(0).addClass('isholiday');
                $(".js_date_obj ").eq(0).removeClass('date_btn');
                $(".date_btn").eq(0).addClass('click');

                var date = $(".date_btn").eq(0).data('date');
                $('#delivertime').val(date);
                $(".date_btn").eq(0).addClass('click');
                checkTime(date);
                //  $(".date_btn").eq(0).click();

            }
        }else{
            $('.js_time_obj').removeClass('old_time');
            $('.js_time_obj').removeClass('click');
            $('.js_time_obj').addClass('time_list');
        }
    }
</script>
</body>
</html>
