<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left">
        <div class="Ltit01 nyltit"><strong>{$fathername}</strong></div>
        <div class="txt01 hymenu">
          <volist name="channel" id="vo"> <a href="{:U('Content/lists?id='.$vo['id'])}"   
            <eq name="pid" value="$vo['id']">class="selected"</eq>
            >{$vo.name}</a> </volist>
        </div>
      </div>
      <div class="right04">
        <eq name="cateinfo.viewtype" value="1">
          <div class="newtitle">{$db.title}</div>
          <div class="newcontent"> {$db.content} </div>
          <else/>
          <div class="newtitle">{$db.title}</div>
          <div class="news_date">Date：{$db.addtime}</div>
          <div class="newcontent"> {$db.content} </div>
          <div class="newcontent"> <span class="span5">Next: {$next}</span> <br />
            <span class="span5">Prev: {$prev}</span> </div>
        </eq>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
