<?php
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Waiting...</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> <include file="Index:nav" />
<div class="container">
  <div class="content">
    <div class="error">
      <div class="bzxtit">Prompt information</div>
      <div class="txt03">
        <present name="message">
          <div style="text-align:center;"><img src="__PUBLIC__/Shop/images/cg.gif" width="90" height="90"  alt="" /></div>
          <div class="error_title msg_success">:) <?php echo($message); ?></div>
          <else/>
          <div style="text-align:center;"><img src="__PUBLIC__/Shop/images/error.png" alt="" /></div>
          <div class="error_title msg_error">:( <?php echo($error); ?></div>
        </present>
        <div style="text-align:center;">
          <p class="jump"> <a id="href" href="<?php echo($jumpUrl); ?>">Page automatically redirect</a> Waiting： <b id="wait"><?php echo($waitSecond); ?></b> </p>
        </div>
        <div style="text-align:center; padding:20px 0"><a href="javascript:void(0);" onclick="history.back()" class="jixu">Go back</a></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script> 
<include file="Index:footer" />
</body>
</html>
