<?php
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Error...</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:nav2" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="right04 " style="width:1088px;">
        <div class="bzxtit"> <span class="face">:( </span> </div>
        <div class="txt03">
          <div class="gmcp">
            <table  border="0"  cellpadding="3" cellspacing="1" class="MainTbl ErrTbl" >
              <tr class="toolbar">
                <td class="tc"><span class="face">:( </span></td>
              </tr>
              <tr class="row0">
                <td><div class="error"><?php echo strip_tags($e['message']);?></div></td>
              </tr>
              <?php if(isset($e['file'])) {?>
              <tr class="row0">
                <td class="ErrInfo"><div class="content">
                    <?php if(isset($e['file'])) {?>
                    <div class="info">
                      <div class="title">
                        <h3>Location</h3>
                      </div>
                      <div class="text">
                        <p>FILE: <?php echo $e['file'] ;?> &#12288;LINE: <?php echo $e['line'];?></p>
                      </div>
                    </div>
                    <?php }?>
                    <?php if(isset($e['trace'])) {?>
                    <div class="info">
                      <div class="title">
                        <h3>TRACE</h3>
                      </div>
                      <div class="text">
                        <p><?php echo nl2br($e['trace']);?></p>
                      </div>
                    </div>
                    <?php }?>
                  </div></td>
              </tr>
              <?php }?>
              <tr class="footer">
                <td class="tc"><input type="button" onclick="history.back()" class="btn1" value="返回" /></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
