<script>
var APP_PATH="__APP__";
var CONST_PUBLIC="__PUBLIC__";
var CONST_CART="{:U('Cart/URL')}";
</script>
<js href="__PUBLIC__/Home/member/js/jquery-2.0.3.min.js,__PUBLIC__/Shop/js/jquery-1.8.0.min.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/js/common.js,__PUBLIC__/Shop/js/jquery.lazyload.js" />
<script src="__PUBLIC__/Shop/js/jquery.func.js?v{:rand(0,999)}"></script>
<!--[if IE 6]>
<js href="__PUBLIC__/Shop/js/pngfix.js" />
<![endif]-->
<css href="__PUBLIC__/Shop/css/style.css?04241,__PUBLIC__/Admin/js/alerts/jquery.alerts.css" />
