<header>
    <a href="javascript:void(0);" onclick="history.back();" id="back" style="color: #000000"></a>
        <ul style="width: 100%;">
            <li class="fl">
            </li>
            <li class="fl keywrod">
                <input type="text" class="input_keywrod" placeholder="Keywords"/>
                <img src="__PUBLIC__/Home/images/searching.png" class="searching" onclick="alert(222)" height="20">
            </li>
            <li class="fr" >
                <img src="__PUBLIC__/Home/images/share.png"  width="25">
            </li>
        </ul>
</header>