<header>
    <a href="javascript:void(0);" onclick="history.back();" id="back" style="color: #000000"></a>
        <ul style="width: 100%;">
            <li class="fl" style="width: 22%">
            </li>
            <li class="fl keywrod">
                <if condition="$title">
                    <span style="line-height: 45px;color: #333333;font-size: 21px;text-indent: 0">{$title}</span>
                    <else/>
                    <form  id="formSearch" style="position: relative;" name="formSearch" method="get" action="/Home/Search/index.html" >
                        <input type="text" results="s" class="input_keywrod fl" name="keyword" placeholder="Keywords"/>
                        <input type="submit" value=" "  class="searching"/>
                        <input type="reset" value=" "  class="searching_clr"/>
                    </form>
                </if>
            </li>
            <li class="fr" id="showQr">
                <img src="__PUBLIC__/Home/images/qrbtn.png"  width="25">
            </li>
        </ul>
</header>