<footer>
    <ul class="tc">
        <li>
            <a href="/"><div class="foot_home home foot_item"><span class="ietm"> Home</span></div></a>
        </li>
        <li>
            <a href="/Category/index.html"><div class="foot_cat cat foot_item"><span class="ietm"> Category</span></div></a>
        </li>
        <li>
            <a href="/m_cart.html"> <div class="foot_cart cart foot_item" id="gwc"><span id="CartNo"class="num-item "></span>
                <span class="ietm"> Cart</span></div></a>
        </li>
        <li>
            <a href="/member/index"> <div class="foot_item foot_me me"><span class="ietm"> Me</span></div></a>
        </li>

        <!-- <li><a href="{:Uu('Member/index')}" id="hy"></a></li>
         <li onClick="$('.tcbox').toggle()">
           <div class="tcbox">
               <div class="smenu"><a href="javascript:void(0);" onClick="WeixinJSBridge.call('closeWindow');">Suggestion</a><a href="{:Uu('Content/lists','id=1')}">Help</a></div>
             <div class="jiao">
               <svg  height="5" >
                 <polygon points="0,0 10,0 5,5 "
        style="fill:#90B830" />
               </svg>
             </div>
           </div>
           <a href="javascript:void(0);" id="help"></a></li>-->
    </ul>
</footer>

<!--
<div class="container">
  <div class="main-list">
    <div class="main-item">
      <div class="bottom"><a href="#top" class="totop"></a>
        <?php 
      if(get_userid()=="0"){
      ?>
        <a href="{:Uu('Login/index')}">Login</a><span style="margin:0 10px;">|</span><a href="{:Uu('Login/register')}">Register</a>
        <?php
      }else{
      ?>
        <a href="{:Uu('Member/info')}">Account:{:get_displayname()}</a> <a href="{:Uu('Login/logout')}"  class="hide">Logout</a>
        <?php
      }
      ?>
      </div>
    </div>
  </div>
  <div class="fnav">{:lbl('navbot')} </div>
  <div class="footer"> {:C("config.WEB_SITE_ICP")}</div>
  <div class="footer-form hide" id="searchform">
    <form class="pure-form" id="formSearch" name="formSearch" method="get" action="/Home/Search/index.html">
      <input type="text" value="{:I('get.keyword')}" id="keyword1" name="keyword" placeholder="keyword" class="pure-input pure-input-1">
      <button class="pure-button btnSearch" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <footer>
    <ul>
      <li><a href="{:Uu('Search/index')}" id="sou"></a></li>
      <li><a href="{:Uu('/m_cart')}" id="gwc"><span id="CartNo">0</span></a></li>
      <li><a href="{:Uu('Member/index')}" id="hy"></a></li>
      <li onClick="$('.tcbox').toggle()">
        <div class="tcbox">
          <div class="smenu"><a href="javascript:void(0);" onClick="WeixinJSBridge.call('closeWindow');">Suggestion</a><a href="{:Uu('Content/lists','id=1')}">Help</a></div>
          <div class="jiao">
            <svg  height="5" >
              <polygon points="0,0 10,0 5,5 "
   style="fill:#90B830" />
            </svg>
          </div>
        </div>
        <a href="javascript:void(0);" id="help"></a></li>
    </ul>
  </footer>
  <div class="clr"></div>
</div>-->

<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(function(){
        var pathinfo =(window.location.pathname).toLowerCase();
        console.log(pathinfo.indexOf('login'))
        if( pathinfo.length < 3){
            console.log('home');
            $('footer .home span').addClass('green');
            $('footer .home').removeClass('foot_home');
            $('footer .home').addClass('foot_home_c');
        }else if(pathinfo.indexOf('member')>0 || pathinfo.indexOf('login')>0){
            console.log('cccc');
            $('footer .me span').addClass('green');
            $('footer .me').removeClass('foot_me');
            $('footer .me').addClass('foot_me_c');
        }else if((pathinfo.indexOf('cart'))>0 || (pathinfo.indexOf('shop'))>0 || (pathinfo.indexOf('cashier'))>0){
            $('footer .cart span').addClass('green');
            $('footer .cart').removeClass('foot_cart');
            $('footer .cart').addClass('foot_cart_c');
        }else{
            $('footer .cat span').addClass('green');
            $('footer .cat').removeClass('foot_cat');
            $('footer .cat').addClass('foot_cat_c');
        }
    })

    if(document.getElementById("telephone")) {
        document.getElementById("telephone").onkeyup = function () {
            this.value = this.value.replace(/\s/g, '').replace(/(\d{4})(?=\d)/g, "$1-");
            ;
        };
    }
</script>
