<footer>
    <ul class="tc">
        <li>
            <a href="/"><div class="foot_home home foot_item"></div></a>
        </li>
        <li>
            <a href="/Category/index.html"><div class="foot_cat cat foot_item"></div></a>
        </li>
        <li id="offset">
            <a href="/m_cart.html">
                <div class="foot_cart cart foot_item" id="gwc">
               </div>
            </a>
            <span id="CartNo"class="num-item "></span>
        </li>
        <li>
            <a href="/member/index"> <div class="foot_item foot_me me"></div></a>
        </li>
    </ul>
</footer>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(function(){
        var pathinfo =(window.location.pathname).toLowerCase();
        if(pathinfo=='/home' ||  pathinfo.length < 3){
            $('footer .home span').addClass('green');
            $('footer .home').removeClass('foot_home');
            $('footer .home').addClass('foot_home_c');
        }else if(pathinfo.indexOf('member')>0 || pathinfo.indexOf('login')>0){
            $('footer .me span').addClass('green');
            $('footer .me').removeClass('foot_me');
            $('footer .me').addClass('foot_me_c');
        }else if((pathinfo.indexOf('cart'))>0 || (pathinfo.indexOf('shop'))>0 || (pathinfo.indexOf('cashier'))>0){
            $('footer .cart span').addClass('green');
            $('footer .cart').removeClass('foot_cart');
            $('footer .cart').addClass('foot_cart_c');
        }else{
            $('footer .cat span').addClass('green');
            $('footer .cat').removeClass('foot_cat');
            $('footer .cat').addClass('foot_cat_c');
        }
    })

    if(document.getElementById("telephone")) {
        document.getElementById("telephone").onkeyup = function () {
            this.value = this.value.replace(/\s/g, '').replace(/(\d{4})(?=\d)/g, "$1-");
        };
    }
</script>
