<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<script>
    var APP_PATH="__APP__";
    var CONST_PUBLIC="__PUBLIC__";
    var CONST_CART="{:U('Cart/URL')}";
    var EXTRA_PARAM="{:get_fid()}";
</script>
<js href="__PUBLIC__/js/jquery.2.2.1.min.js,__PUBLIC__/js/jquery.cookies.2.2.0.js,__PUBLIC__/js/jquery.fly.min.js,__PUBLIC__/js/json.js,__PUBLIC__/js/jquery.lazyload.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/js/sweetalert.min.js,__PUBLIC__/js/common.js?{:version()},__PUBLIC__/Home/js/jquery.func.js?{:version()},__PUBLIC__/Home/newjs/home.js?{:version()}" />

<css href="__PUBLIC__/Home/member/css/pure-min.css?{:version()},__PUBLIC__/Home/member/css/pure-style.css?{:version()},__PUBLIC__/Home/css/main.css?{:version()},__PUBLIC__/css/sweetalert.css,__PUBLIC__/css/common.css?{:version()}" />
