<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$shoptitle}</title>
<include file="Index:header" />
<script src="__PUBLIC__/Home/js/touchslider.dev.js"></script>
<script src="__PUBLIC__/Home/js/banner.js"></script>
</head>
<script type="text/javascript">
//    if(/iphone|ipad|ipod/i.test(navigator.userAgent))
/*$('input').focus(function(){
    var _this = this;
    //无键盘时输入框到浏览器窗口顶部距离
    var noInputViewHeight = $(window).height() - $(_this).height();

    //网页正文内容高度
    var contentHeight = $(document).height() - $(_this).height();

    //控制正文内容高度大于一屏，保证输入框固定底部
    contentHeight = contentHeight > noInputViewHeight ? contentHeight : noInputViewHeight;

    //因为弹出输入法需要时间，需延时处理
    setTimeout(function(){

        //弹出输入法时滚动条的起始滚动距离
        var startScrollY = $(window).scrollTop();

        //弹出输入法时输入框到窗口顶部的距离，即到软键盘顶部的起始距离
        var inputTopHeight = $(_this).offset().top - startScrollY;

        //弹出输入法时输入框预期位置，即紧贴软键盘时的位置。因输入框此时处于居中状态，所以其到窗口顶部距离即为需往下移动的距离。
        var inputTopPos = $(_this).offset().top + inputTopHeight;

        //控制div不超出正文范围
        inputTopPos = inputTopPos > contentHeight ? contentHeight : inputTopPos;

        //设置输入框位置使其紧贴输入框
        $(_this).css({'position':'absolute', 'top':inputTopPos });

        //给窗口对象绑定滚动事件，保证页面滚动时div能吸附软键盘
        $(window).bind('scroll', function(){

            //表示此时有软键盘存在，输入框浮在页面上了
            if (inputTopHeight != noInputViewHeight) {

                //页面滑动后，输入框需跟随移动的距离
                var offset = $(this).scrollTop() - startScrollY;

                //输入框移动后位置
                afterScrollTopPos = inputTopPos + offset;

                //设置输入框位置使其紧贴输入框
                $(_this).css({'position':'absolute', 'top':afterScrollTopPos });
            }
        });
    }, 100);
})

$('input').blur(function(){ //输入框失焦后还原初始状态
    $(".div-input").removeAttr('style');
    $(window).unbind('scroll');
});*/
</script>

<body data-subscribe="{$subscribe}">
<!--顶部-->

<header >
    <ul style="width: 100%;">
        <li class="fl" id="choosHeadAddr" style="min-width: 105px;max-width: 105px" >
            <span id="headaddr">Chengdu </span>&nbsp;<img src="__PUBLIC__/Home/images/chengdu.png" style=" position: relative; top: 3px;" height="15"alt=""/>
        </li>
        <li class="fl keywrod">
            <form  id="formSearch" onsubmit="return checkKeyword();" style="position: relative;" name="formSearch" method="get" action="/Home/Search/index.html" >
                <input type="text" results="s" class="input_keywrod fl" name="keyword" placeholder="Keywords"/>
                <input type="submit" value=" "  class="searching"/>
            </form>
        </li>
        <li class="fr" id="showQr" >
            <img src="__PUBLIC__/Home/images/qrbtn.png"  width="25">
        </li>
    </ul>
</header>

<!--banner-->
<div id="wrapper" >
  <div class="swipe">
    <ul id="slider">
      {:lbl('wx_banner')}
    </ul>
    <div id="pagenavi"></div>
  </div>
</div>

<!--图标-->
<div class="icoboxindex borderd">
<volist name="list" id="vo">
    <if condition="$i elt 7">
        <a href="{:Uu('Product/lists','id='.$vo['id'])}" class=" <if condition="$i gt 4">top15</if>">
        <span><img src="{$vo.indexpic}" ></span>
            <p style='color: #555555'>{$vo.name}</p>
        </a>
    </if>
  </volist>
    <a href="/Category/index.html" class="top15"><span ><img src="__PUBLIC__/Home/images/icons/more.png"></span>
        <h1 style='color: #555555'>More</h1>
    </a>
  </div>
<div style="width: 100%;height: 10px;background: #EEEEEE;"></div>
<if condition="!empty($promotion)">
    <!--Promotion-->
    <div class="good_body">
        <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc">&nbsp;&nbsp;
            <img src="__PUBLIC__/Home/images/promotion.png" style="position: relative;bottom: -4px;" width="25"/>
            <span class="tic">HOT SALE</span>
            <span class="fr more"><a href="/Product/lists.html?group=9">More
               <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/></a>
            </span>
        </div>
        <div class="g_goods tl">
            <volist name="promotion" id="vo">
                <if condition="$i lt 5">
                    <div <if condition="$i % 2 eq 1">class="fl g_l"<else/>class="fr g_r"</if>  >
                        <a href="{:Uu('Product/view','id='.$vo['id'])}">
                            <div class="tc">
                                <img src="{$vo.indexpic}" width="135" alt=""/>
                            </div>
                            <div style="width: 90%; margin: auto ">
                                <p class="good_title">{$vo.title}</p>
                                <p><span class="price num-item">&yen;{$vo.price}</span>
                                    <if condition="$vo['price1'] gt 0">
                                        &nbsp;&nbsp;<s class="price_old num-item">&yen;{$vo.price1}</s>
                                    </if>
                                 </p>
                            </div>
                        </a>
                    </div>
                </if>
                <if condition="$i % 2 eq 0">
                    <div class="clr"></div>
                </if>
            </volist>
        </div>
    </if>
    <!--New Arrvial-->
    <if condition="!empty($newArrival)">
        <div class="clr"></div>
        <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #cccccc;">&nbsp;&nbsp;
            <img src="__PUBLIC__/Home/images/new_arrvial.png" style="position: relative;bottom: -4px;" width="25"/>
            <span class="tic">New Arrvial</span>
            <span class="fr more">
                <a href="/Product/lists.html?group=8">More
               <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/></a>
            </span>
        </div>
        <div class="g_goods tl">
            <volist name="newArrival" id="vo">
                <if condition="$i lt 5">
                    <div <if condition="$i % 2 eq 1">class="fl g_l"<else/>class="fr g_r"</if>  >
                        <a href="{:Uu('Product/view','id='.$vo['id'])}">
                            <div class="tc">
                                <img src="{$vo.indexpic}" width="135" alt=""/>
                            </div>
                            <div style="width: 90%; margin: auto ">
                                <p class="good_title">{$vo.title}</p>
                                <p><span class="price num-item">&yen;{$vo.price}</span></p>
                            </div>
                        </a>
                    </div>
                </if>
                <if condition="$i % 2 eq 0">
                    <div class="clr"></div>
                </if>
            </volist>
        </div>
    </if>
    <if condition="!empty($recommend)">
        <div class="clr"></div>
        <!--Recommend-->
        <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #cccccc;">&nbsp;&nbsp;
            <img src="__PUBLIC__/Home/images/recommend.png" style="position: relative;bottom: -4px;" width="25"/>
            <span class="tic">Recommend</span>
            <span class="fr more">
                <a href="/Product/lists.html?group=11">More
                <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/>
                </a>
            </span>
        </div>
        <div class="g_goods tl">
            <volist name="recommend" id="vo">
                <if condition="$i lt 5">
                    <div <if condition="$i % 2 eq 1">class="fl g_l"<else/>class="fr g_r"</if>  >
                        <a href="{:Uu('Product/view','id='.$vo['id'])}">
                            <div class="tc">
                                <img src="{$vo.indexpic}" width="135" alt=""/>
                            </div>
                            <div style="width: 90%; margin: auto ">
                                <p class="good_title">{$vo.title}</p>
                                <p><span class="price num-item">&yen;{$vo.price}</span>
                                    <if condition="$vo['price1'] gt 0">
                                        &nbsp;&nbsp;<s class="price_old num-item">&yen;{$vo.price1}</s>
                                    </if>
                                  </p>
                            </div>
                        </a>
                    </div>
                </if>
                <if condition="$i % 2 eq 0">
                    <div class="clr"></div>
                </if>
            </volist>
        </div>
    </if>
</div>
<div class="clr" style="text-align: center;color: #999999;margin-top: 20px; ">www.waifood.com</div>
<!--新品上市-->
<div class="imgbox">
{:lbl("wx_ad")}
</div>
<!--版权-->
<hr class="spliter" />
<div class="footindex">{:C("config.WEB_SITE_ICP")}</div>
<include file="Index:footer" />
<script>
   var addr = getCookie('headaddr');
   if(addr){
       $('#headaddr').html(addr);
   }
   function checkKeyword(){
       var keyword = $('#formSearch input[name=keyword]').val();
       if(!keyword){
           return false;
       }
   }
</script>

</body>
</html>
