<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" /> 
<script src="__PUBLIC__/Home/js/touchslider.dev.js"></script>
<script src="__PUBLIC__/Home/js/banner.js"></script>

    <style>

    </style>
</head>
<body>
<!--顶部-->
<header>
    <ul style="width: 100%;">
        <li class="fl">
            <span>Chengdu </span><img src="__PUBLIC__/Home/images/chengdu.png" height="15"alt=""/>
        </li>
        <li class="fl keywrod">
            <input type="text" class="input_keywrod" placeholder="&nbsp; Keywords"/>
            <img src="__PUBLIC__/Home/images/searching.png" class="searching" onclick="alert(222)" height="20">
        </li>
        <li class="fr" >
            <img src="__PUBLIC__/Home/images/share.png"  width="25">
        </li>
    </ul>
</header>

<!--banner-->
<div id="wrapper" >
  <div class="swipe">
    <ul id="slider">
      {:lbl('wx_banner')}
    </ul>
    <div id="pagenavi"></div>
  </div>
</div>

<!--图标-->
<div class="icoboxindex" style="border-bottom: 1px solid #ccc;">
<volist name="list" id="vo">
    <if condition="$i elt 7">
        <a href="{:Uu('Product/lists','id='.$vo['id'])}" class=" <if condition="$i gt 4">top15</if>">
        <span><img src="{$vo.indexpic}" ></span>
            <p>{$vo.name}</p>
        </a>
    </if>
  </volist>
    <a href="/Category/index.html" class="top15"><span><img src="__PUBLIC__/Home/images/icons/more.png"></span>
        <h1>More</h1>
    </a>
  </div>
<!--Promotion-->
<div style="width: 100%;height: 10px;background: #EEEEEE;"></div>
<div class="good_body">
    <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc">&nbsp;&nbsp;
        <img src="__PUBLIC__/Home/images/promotion.png" style="position: relative;bottom: -4px;" width="25"/>
        <span class="tic">Promotion</span>
        <span class="fr more">More
            <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/>
        </span>
    </div>
    <div class="g_goods tl">
        <div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">dgsfdgsdfgafgergrargadgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc">   <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">sdfsdfgsgadgsdfaseedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div><div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">dfsdfgsfdgsdgergrargadgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc"> <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">sdfsdfgsfdggasdfaseedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div>
    </div>

    <!--New Arrvial-->
    <div class="clr"></div>
    <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #cccccc;">&nbsp;&nbsp;
        <img src="__PUBLIC__/Home/images/new_arrvial.png" style="position: relative;bottom: -4px;" width="25"/>
        <span class="tic">New Arrvial</span>
        <span class="fr more">More
            <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/>
        </span>
    </div>
    <div class="g_goods tl">
        <div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">dfsdfgsfdgsdfgarargadgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc">   <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">sdfsdfgsfdggadgadaseedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div><div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">dfsdfgsfdgsdfgafrgadgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc">   <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">sdfsdfgsfdggadgafaseedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div>
    </div>

    <!--Recommend-->
    <div class="clr"></div>
    <div class="g_title" style="border-bottom: 1px solid #ccc;border-top: 1px solid #cccccc;">&nbsp;&nbsp;
        <img src="__PUBLIC__/Home/images/recommend.png" style="position: relative;bottom: -4px;" width="25"/>
        <span class="tic">Recommend</span>
        <span class="fr more">More
            <img src="__PUBLIC__/Home/images/more.png" width="15" style="position: relative;bottom: -3px;"/>
        </span>
    </div>
    <div class="g_goods tl">
        <div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">dfsdfgsfdgsdgrargadgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc">   <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">fsdfgsfdggadgadgsedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div><div class="fl g_l" >
           <div class="tc">
               <br/>
               <img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/>
           </div>
           <div style="width: 90%; margin: auto ">
               <p class="good_title">sdfgsfdgsdfgafgerdgagsasdfasdf</p>
               <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
           </div>
        </div>
        <div class="fr g_r" >
            <div class="tc">   <br/><img src="__PUBLIC__/Home/images/57a1b435bf3f0.jpg " width="135" alt=""/></div>
            <div style="width: 90%; margin: auto ">
                <p class="good_title">sdfsdfgsfdggadgedddfasdf</p>
                <p><span class="price num-item">&yen;51.00</span>&nbsp;&nbsp;<s class="price_old num-item">&yen;52:00</s></p>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
<div style="text-align: center;color: #999999;margin-top: 20px; ">www.waifood.com</div>
<!--新品上市-->
<div class="imgbox">
{:lbl("wx_ad")}
</div>
<!--版权-->
<hr class="spliter" />
<div class="footindex">{:C("config.WEB_SITE_ICP")}</div>
<!--底部-->
  <div class="footer-form hide" id="searchform">
    <form class="pure-form" id="formSearch" name="formSearch" method="get" action="/Home/Search/index.html">
      <input type="text" value="{:I('get.keyword')}" id="keyword1" name="keyword" placeholder="keyword" class="pure-input pure-input-1">
      <button class="pure-button btnSearch" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
<include file="Index:footer" />
</body>
</html>
