@charset "utf-8";
body { margin: 0; padding: 0;  padding-top:45px; padding-bottom:40px; font-family: "Microsoft Yahei", "Helvetica", "Arial"; word-break: break-all; word-wrap: break-word;}
.num-item { font-family: arial}
a { color: #333; text-decoration: none; }
a:active { color: #c00; text-decoration: none; }
ul, li { margin: 0; padding: 0; list-style: none; }
.clo9{color: #999;}
.green{color: #3eb52e}
.fc_orange{color: #f17a02}
.size18{font-size: 18px;}
.border-bottom{border-bottom: 1px solid #cccccc}
/*单选框*/
.radio-box .radiofl{  float:left; margin-right:10px;  }
.radio-box {padding: 5px 0;}
.radio-box i{ float:left; width:14px; height:14px; display:block; margin:2px 5px 0 0; background:url(../images/radio.gif) no-repeat;  }
.radio-box .on i{ background-position:0 -14px;}
.borderd{ border-bottom: 1px solid #ccc;}

/** modal window styles **/
.lean_overlay { position: fixed; z-index:122; top: 0;left: 0; height:100%; width:100%; background: #000; opacity: .5;}
.leanModal{ background: #FFFFFF; border-radius: 5px; position: fixed; top: 50%; z-index: 123; left: 50%;}

/*顶部*/
.head { width: 100%; height: 45px; background: #a50102; line-height: 45px; color: #FFF; overflow: hidden; text-shadow: none; }
.head h1 { text-align: center; margin: 0; padding: 0; font-size: 1.4em; }
.head_btn { width: 100%; position: relative; }
#list { width: 28px; height: 45px; overflow: hidden; position: absolute; top: 0; right: 10px; display: inline-block; background: url(../images/list.png) no-repeat right center; background-size:100% auto; }
/*搜索*/
.searchbox { height: 32px; padding: 8px 10px; }
.search { height: 32px; background: #FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 0 42px 0 10px; position: relative; }
.searchbox .suru { width: 100%; height: 32px; font-size: 1.0em; padding: 0; color: #333; background: #FFF; border: none; border: 0; }
.tjbtn { width: 32px; height: 32px; float: right; border: none; background: url(../images/tjbtn.png) no-repeat center center; background-size: 18px 18px; position: absolute; top: 0; right: 0; }
/*banner*/
#wrapper { width: 100%; overflow: hidden; }
.swipe ul, .swipe li { margin: 0; padding: 0; list-style: none; text-align: center; overflow: hidden; }
.swipe img { display: block; }
.swipe { overflow: hidden; position: relative; }
.swipe ul { -webkit-transition: left 800ms ease-in 0; -moz-transition: left 800ms ease-in 0; -o-transition: left 800ms ease-in 0; -ms-transition: left 800ms ease-in 0; transition: left 800ms ease-in 0; }
.swipe #pagenavi { position: absolute; left: 0; bottom: 5px; text-align: center; width: 100%; }
.swipe #pagenavi a { width: 8px; height: 8px; line-height: 99em; background: rgba(255,255,255,0.5); -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin: 0 1px; overflow: hidden; cursor: pointer; display: inline-block; *display:inline;
*zoom:1;
}
.swipe #pagenavi a.active { background: #FFF; }

/*图标*/
.icobox { width: 100%; background: #FFF; border-bottom: 1px solid #DDD; height: 80px; overflow: hidden; }
.icobox ul {  }
.icobox li { width: 25%; height: 80px; float: left; border-left: 1px solid #EEE; margin-left:-1px; text-align: center; }
.icobox li a {
width:100px; height: 30px; padding-top: 50px; line-height: 30px; display: block; background: url(../images/ico01.png) no-repeat center 10px; background-size: 36px auto; }
.icobox li .spfl { background-image: url(../images/ico01.png); }
.icobox li .whd { background-image: url(../images/ico02.png); }
.icobox li .xxt { background-image: url(../images/ico03.png); }
.icobox li .jfdh { background-image: url(../images/ico04.png); }
/*热卖*/

/*城市,地址选择*/
.city li,.language li,.default li{display:inline-block;cursor: pointer; height:32px; line-height:32px; font-size:14px; border: 1px solid #c2cbe0;  padding:0 10px; }
.city li:hover,.language li:hover,.default li:hover{  background:url("../../Shop/images/selected-icon.png") no-repeat 100% 20px ; color:#555; text-decoration:none;border: 2px solid red}
.city .hover,.language .hover,.default .hover{ background:url("../../Shop/images/selected-icon.png") no-repeat 100% 20px ; color:#555; text-decoration:none;border: 2px solid red}


.hot { margin: 10px 10px 0; height: 30px; line-height: 30px; }
.more { float: right; font-size: 0.8em }
.hot_txt { overflow: hidden; background: #FFF; padding: 10px 0; border: 1px solid #DDD; margin: 0 10px; }
.hot_txt ul { width: 101%; overflow:hidden; }
.hot_txt li { width: 33.33%; float: left; text-align: center;  }
.hot_txt li a { display: block; width:100%;  border-right: 1px solid #EEE; }
.cpname01 { text-align: center; font-size: 0.8em; margin-top: 5px; padding: 0 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.jg01 { color: #d94141; font-size: 0.8em; padding: 0 5px; overflow: hidden; font-family:Arial;}
/*新品*/
.newcp { overflow: hidden; margin: 0 0 0 10px; }
.newcp ul { width: 100%; overflow: hidden; }
.newcp li { width: 50%; float: left; text-align: center; }
.newcp li a { margin: 0 10px 10px 0; min-width: 120px; display: block; background: #FFF; border: 1px solid #DDD; }
.img01 { height: 120px; padding: 10px; overflow: hidden; border-bottom: 1px solid #EEE; }
.cpname02 { text-align: center; font-size: 0.9em; padding: 0 5px; margin-top: 6px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.jg02 { color: #d94141; font-size: 0.9em; padding: 2px 5px 6px; overflow: hidden; font-family:Arial; }
/*底部*/
.btm { background: #FFF; text-align: center; line-height:24px; border-top: 1px solid #DDd; padding: 10px 10px 15px; color: #999; font-size: 0.8em; }
.btm a { margin: 0 5px; }
.foot { width: 100%; background: #333; height: 40px; position: fixed; left: 0; bottom: 0; }
.foot a { width: 25%; height: 40px; float: left; display: block; background: url(../images/home.png) no-repeat center; background-size:auto 22px;  opacity: 0.7; }
/*#home { background-image: url(../images/home.png); }*/
/*#sech { background-image: url(../images/fl.png); }*/
/*#gwc { background-image: url(../images/gwc.png); }*/
/*#member { background-image: url(../images/member.png); }*/
.foot a:hover, .foot a:active, .foot a.current { opacity: 1; background-color: #222; }

/*内页*/
.head2 { width: 100%; height: 45px; line-height: 45px; overflow: hidden; border-bottom: 1px solid #CCC; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE)); background-image: -webkit-linear-gradient(top, #FFF, #EEE); background-image: linear-gradient(to bottom, #FFF, #EEE); }
.head2 li{width: 25%; height: 45px; float: left; position:relative;}
.head2 a {width: 100%; height: 45px; border-right:1px solid #EEE; display: block; background: url(../images/home2.png) no-repeat center; background-size:auto 22px; }
.head2 a.home { background-image: url(../images/home2.png); }
.head2 a.list{background-image: url(../images/list2.png); background-size:auto 20px;}
.head2 a.member { background-image: url(../images/member2.png); }
.head2 a.gwc { background-image: url(../images/gwc2.png) }
.head2 a:active{ background-color: #EEE; }
.head2 .sl{font-family:Arial; position:absolute; top:5px; left:50%; margin-left:15px; width:16px; height:16px; line-height:16px; background:#e03737; color:#FFF; border-radius:50%;  text-align:center; display:inline-block; font-size:10px; overflow:hidden;}


.icobox2{ background:#FFF; height:70px; overflow:hidden;}
.icobox2 li{ width:25%; height:70px; float:left; text-align:center;}
.icobox2 li a{ display:block; height:30px; padding-top:40px; background:url(../images/dingdan.png) no-repeat center 8px; background-size:auto 24px; font-size:0.8em}
#qbdd{ background-image:url(../images/dingdan.png) }
#dzgl{ background-image:url(../images/dizhi.png); }
#scj{ background-image:url(../images/scj.png);}
#zjll{ background-image:url(../images/liulan.png);}

/*新闻*/
.newslist{}
.newslist li{ background:#FFF; padding:10px; border-bottom:1px solid #DDD;}
.newslist li h1{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:1.0em; font-weight:normal; margin:0;  padding:0 0 5px; }
.newslist li p{ font-size:0.8em; font-family:Arial; margin:0;  padding:0; color:#999;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.newslist li:active{ background:#EEE;}
.fybox{ text-align:center; background:#FFF; padding:20px 0;}
.fybox a{ border:1px solid #DDD; font-size:1.0em; padding:4px 8px; display:inline-block; margin:0 10px; border-radius:5px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
 background-image: -webkit-linear-gradient(top, #FFF, #EEE);
 background-image: linear-gradient(to bottom, #FFF, #EEE);
 }
 .fybox .page_no_click{border:1px solid #DDD; font-size:1.0em; padding:4px 8px; display:inline-block; margin:0 10px; border-radius:5px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#EEE));
 background-image: -webkit-linear-gradient(top, #eee, #EEE);
 background-image: linear-gradient(to bottom, #eee, #EEE);}
 .fybox .page_number select{ width:100px; text-align:center;}

#title{ text-align:center;font-size: 1.2em;}
.laiyuan{ text-align:center; font-size:0.8em; margin:0 auto; color:#999; padding-bottom:10px; border-bottom:1px solid #DDD;}
.nr{ padding:15px 0; font-size:1.0em; line-height:200%; padding:10px;word-break:break-all;}

/*产品列表*/
.saixuan{ margin-top: -1px; margin: 0px;  padding: 0px; position: fixed;  overflow: hidden;   width: 100%; background: #ffffff; z-index: 55;}
.saixuan ul{ margin:0px; padding:0px; height:32px; overflow:hidden; display:block;}
.saixuan li{ width:33.33%; float:left;}
.saixuan span.up{ background:url(../images/up01.gif) no-repeat right center; padding-right:15px;}
.saixuan span.down{ background:url(../images/down01.gif) no-repeat right center; padding-right:15px;}
.saixuan .selected .up{ background:url(../images/up02.gif) no-repeat right center; padding-right:15px;}
.saixuan .selected .down{ background:url(../images/down02.gif) no-repeat right center; padding-right:15px;}

.saixuan a{ text-align:center; margin:0 -1px -1px 0; height:30px; line-height:30px; border-right:1px solid #64c83d;border-top:1px solid #64c83d;border-bottom:1px solid #64c83d;
    display:block;  color: #64c83d;}
.saixuan li .selected{ color:#FFF;background: #64c83d;}

.splist { margin-bottom: 10px; padding:23px 0px; overflow:hidden; }
.splist ul{ margin:0px; padding:0px; height:auto; overflow:hidden; display:block;}
.splist li { position: relative; float: left; width: 100%; margin-bottom: 0px; overflow:hidden;border: 1px solid #eaeaea; padding-top: 14px;  }
 .good_box .g_title, .good_box .price{color: #64c83d;}
.good_box .g_title{font-size: 14px;}
/*.splist img { display: block; margin-left: auto;  width:30%; margin-right:10px; float:left;}*/
.spname{ font-size:12px; color:#999;line-height: 18px; height: 36px; text-align: justify; border-top: 1px solid #eaeaea; padding: 5px 10px 0; margin-bottom: 5px; overflow: hidden}
.spjg{ color:#333; font-family:Arial; font-size:12px; padding:8px 10px;}
.spjg i{font-size:16px;margin-top: 16px;margin-left: -10px;}
.spjg .price{ font-style:normal;}
.g_btn{margin-top: -4px;width: 90px;}
.g_btn .cat_cart_num,.g_btn .add_cart_num,.g_btn .num{ width: 27px;height: 27px;}
.g_btn .num{ font-size: 15px;width: 30px;}
.g_btn .cat_cart_num{background: url("../images/catcart.png") no-repeat ;background-size:auto 24px; }
.g_btn .add_cart_num{ background: url("../images/addcart.png") no-repeat ;background-size:auto 24px;}

 /*产品分类*/
.spfenlei { background:#FFF; margin-bottom:10px;}

.spfenlei h1{ font-size:1.1em; font-weight:normal; margin:0; color:#000; height:50px;  line-height:50px;  background:#F8F8F8;  padding:0 10px; font-weight:bold;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.spfenlei p{ line-height:30px; overflow:hidden; margin:0px; padding:0px; display:block;}
.spfenlei p a{ display:inline-block; width:48%; color:#666; font-size:0.9em; text-align:left; margin:8px 0; margin-left:5px;  font-size:1.0em;white-space: nowrap; /*overflow: hidden; text-overflow: ellipsis;*/}

/*产品详细*/

.pro-img{ display:block;margin:0px; padding:0px; overflow:hidden; position:relative; }
.pro-img .swipe-wrap{  height:240px;  float:left; overflow:hidden;}
.pro-img .swipe-wrap div{float:left; overflow:hidden;  width:220px;}
.pro-img .swipe-wrap div img{border-radius: 3px;  width:200px; height:200px;  margin:12px 10px;/* box-shadow: 0 0 9px #000000;*/}

.tip #popup_message{text-align:	center;}
.tip #popup_message img{max-width:320px;}

#tapSlider{width:220px; max-width: 220px; margin: 0px auto; }
#tapPrev{ position:absolute; top:80px; left:20px; color:#fff; font-size:40px;}
#tapNext{position: absolute ; top:90px; right: 20px; }
.tapSwipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div {float:left;width:100%;position: relative;}

.pro-wrap { padding:15px; }
.pro-wrap .pro-info{ display:block; overflow:hidden; height:auto; line-height:20px; border-bottom:1px #cccccc solid; padding:10px 0px;}
.pro-wrap .pro-info .pro-title{ font-size:16px;color: #333333}
.pro-wrap .pro-info .pro-price{display:block; width: 35%}
.pro-wrap .pro-info .pro-price .price{ color:#64c73e;}
.pro-wrap .pro-info .pro-price .price1{ padding-left:5px; text-decoration:line-through; color:#ccc;}

.pro-wrap .pro-property{ width:100%; padding:10px 0px 0px;  height:auto;}
.pro-wrap .pro-property .property-title{ width:auto; float:left; padding:5px 10px 5px 0;}
.pro-wrap .pro-property .property-item{  display:block; word-wrap:break-all; word-wrap:break-word; overflow:hidden;}
.pro-wrap .pro-property .property-item span{ width:auto; border:1px #eee solid; padding:5px 10px; float:left; margin-right:10px; margin-bottom:5px;}
.pro-wrap .pro-property .property-item .selected{ background:#FFC; border:1px #FF9966 solid;}

.pro-wrap .pro-num{ padding:10px 0px;}
.pro-wrap .pro-num .num-title{ float:left; padding:5px 10px 5px 0px;}
.pro-wrap .pro-num .num-item{ display:block; word-wrap:break-all; word-wrap:break-word; overflow:hidden;
}
.pro-wrap .pro-num-pad{padding:20px 10px 20px 0px}
.pro-wrap .pro-num-pad .num-title,.pro-wrap .pro-num-pad .fr{ padding-top:10px;}
.quantity {background-color: #FFFFFF;border: 1px solid #EAEAEA;display: inline-block;height: 36px;vertical-align: middle; }
.quantity input {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;font-size: 16px;height: 38px;text-align: center;vertical-align: top;width: 34px;}
.quantity .minus {border-right: 1px solid #EAEAEA;display: inline-block;height: 36px;position: relative;text-align: center;width: 44px;}
.quantity .minus:after {border-top: 2px solid #333333;content: "";left: 14px;position: absolute;top: 18px;width: 15px;}
.quantity .plus {border-left: 1px solid #EAEAEA;display: inline-block;height: 36px;position: relative;text-align: center;width: 44px;}
.quantity .plus:after {border-top: 2px solid #333333;content: "";left: 14px;position: absolute;top: 19px;width: 16px;}
.quantity .plus:before {border-left: 2px solid #333333;content: "";height: 16px;left: 21px;position: absolute;top: 12px;}
.quantity .minus:active:after, .quantity .plus:active:after {border-top: 2px solid #333333;}
.quantity .plus:active:before {border-left: 2px solid #333333;}
.btn_empty {background: none repeat scroll 0 0 #FAFCFF;border-bottom: 1px solid #F3F5FA;font-size: 17px;height: 44px;line-height: 44px;text-shadow: none;}

.pro-wrap .pro-detail{ line-height:150%;}
.pro-wrap .pro-detail .detail-title{ font-weight:bold; padding:10px 0px;}
.pro-wrap .pro-detail .detail-info{ margin:0px; padding:10px; overflow:hidden;}
.pro-wrap .pro-detail .detail-info p{margin:0px;}

.pro-wrap .pro-buy{}
.pro-wrap .pro-arrow{ text-align:center; height:20px;  border-top: 1px solid #EAEAEA;  box-shadow: 0 1px 0 #FDFDFD inset; padding-bottom:5px;}
.pro-wrap .pro-arrow .arrow{ width:10px; height:20px;  border:1px #EAEAEA solid; border-top:1px #fff solid; position:relative; padding:0px; background:#fff; display:inline-block; padding:0px 20px; top: -1px;}
.pro-wrap .pro-arrow .arrow i{background-repeat: no-repeat;display: inline-block;position:absolute;height: 11px; width:10px; left:20px}
.pro-wrap .pro-arrow .arrow .down {background-image: url("../images/icons.png");background-position:-144px -12px; }
.pro-wrap .pro-arrow .arrow .up  { background-image: url("../images/icons.png");background-position:-144px 5px; }
.goodinfo{width: 95%; height: 83px;font-size: 12px;border-bottom: 1px solid #cccccc}
.goodinfo span{ width: 45%;line-height: 20px; display: block;float: left;color: #999999}

.pdt5{ padding-top:1px; min-height:400px;}
.noresult{ padding:10px}

.search{ height: 40px; margin:10px; display:box; display:-webkit-box; display:-moz-box;}
.search input{ display:block; box-flex:1.0; -webkit-box-flex:1.0; background:#FFF; height: 38px;  padding:0 5px; border:1px solid #ff90d9; border-top-left-radius:5px; border-bottom-left-radius:5px; border-right:none; font-size:14px;}
.search button{ display:block; width: 50px; height:40px; border:none; background:#ff90d9 url(../../hzp/images/search.png) no-repeat center; background-size:auto 25px; border-top-right-radius:5px; border-bottom-right-radius:5px;}

.view-title{height: 30px;width: 100%; border-bottom: 1px #cccccc solid; float: left;line-height: 30px;position: relative;}

.view-title a{display: block;width: auto;height: 30px; float: left;margin-left: 12px;padding: 0 10px;}
.view-title .viewselected{border-left: 1px solid #cccccc;border-top: 1px solid #cccccc;border-right: 1px solid #cccccc;background: #FFFFFF}

.fdafd,.fdafd2 { width:100%; padding:10px 0; border-bottom:1px solid #DDD; overflow:hidden;}
.fdafd span,.fdafd2 span{width:25%; float:left;}
.fdafd a,.fdafd2 a{height: 30px; line-height:30px; display:block; margin:0 5px;  border-radius:3px; text-decoration:none; font-size:14px; color:#FFF; text-align:center; }
.fdafd a:active,.fdafd2 a:active{ box-shadow:inset 0 0 5px rgba(0,0,0,0.5);}
.fdafd  span:nth-child(n) a{background:#f79646;}
.fdafd  span:nth-child(2n) a{background:#4bacc6;}
.fdafd  span:nth-child(3n) a{background:#8064a2;}
.fdafd  span:nth-child(4n) a{background:#9bbb59;}

.fdafd2  span:nth-child(n) a{background:#c0504d;}
.fdafd2  span:nth-child(2n) a{background:#f2dcdb;}
.fdafd2  span:nth-child(3n) a{background:#92d050;}
.fdafd2  span:nth-child(4n) a{background:#eeece1;}


/*合并*/
input,button{ vertical-align:middle}
.clear{display:block;height:0;clear:both;content:"";overflow:hidden;visibility:hidden;}

/*快捷导航*/
.zhezhao{ width:100%; height:100%; background-color: rgba(0,0,0,0.3); position:fixed; left:0; top:0; z-index:998; display:none;}
.nav{ width:150px; height:100%; position:fixed; left:-160px; top:0; background:#FFF; z-index:999; overflow:auto; box-shadow:1px 1px 2px #666; }
.nav h1{ font-size:16px; color:#333; padding:0 20px; height:40px; line-height:40px; background:#CCC;}
.nav li { padding:0 10px;}
.nav li a { display:block; height:40px; padding:0 10px; line-height:40px; font-size:14px;  color:#444; border-bottom:1px dashed #DDD;}
.nav li a:active{ background:#DDD;position: absolute}
/*顶部*/
header{width: 100%; height:45px; line-height:45px; color:#FFF; font-size:15px;  text-align:center; position:fixed; top:0px; left:0px; z-index:112; font-weight:normal;border-bottom: 1px solid #ccc;background: #FFFFFF}
header ul li:first-child{ color: #333;width: 28%;}
header ul li{ color: #000000;width: 55%;margin-top: 2px;}
header .keywrod{display: inline-block;  text-decoration: none;text-indent: 2;line-height: 20px; }
header .input_keywrod{display: inline-block;  border: 1px solid #E0E0E0;border-radius: 20px;overflow: hidden;  text-decoration: none;text-indent: 0;padding-left: 10px; height: 25px; width: 76%;margin-top: 5px;  background-size:auto 18px;color: #999999; background-color: #f5f5f5;padding-right: 33px;}
/*header .input_keywrod:focus{  background-image:none}*/
header .searching{width: 10%; height: 18px;position: absolute  ;right:19px; top: 10px; background: url("../images/searching.png") no-repeat center;background-size: 17px;border: none }

header .searching_clr{width: 10%; height: 18px;position: absolute ;right:2px; top: 12px; background: url("../images/searching_clr.png") no-repeat center;background-size: 17px;border: none ;}

header ul li:last-child{ color: #000000;width: 12%}
header ul li:last-child img{margin-top: 8px;}
header a,header a:hover{color:#fff; display:block;}

#list{ position:absolute; top:0; right:0; width:42px; height:45px; background:url(../images/list.png) no-repeat center; background-size:22px auto;}

/*banner*/
#wrapper { width: 100%; overflow: hidden;  }
.swipe ul, .swipe li { margin: 0; padding: 0; list-style: none; overflow: hidden; }
.swipe img { display: block; width:100%;}
.swipe { overflow: hidden; position: relative; }
.swipe ul { -webkit-transition: left 800ms ease-in 0; -moz-transition: left 800ms ease-in 0; -o-transition: left 800ms ease-in 0; -ms-transition: left 800ms ease-in 0; transition: left 800ms ease-in 0; }
.swipe #pagenavi { position: absolute; left: 0; bottom: 0px; text-align: center; width: 100%; }
.swipe #pagenavi a { width: 8px; height: 8px; line-height: 99em; background:#FFF; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin:0 1px; overflow: hidden; cursor: pointer; display: inline-block; *display:inline;*zoom:1; margin:0px 5px; }
.swipe #pagenavi a.active { background: #64c37e; }

/*ico*/
.icoboxindex{ background:#FFF; overflow:hidden;padding-bottom: 25px;}
.icoboxindex a{ width:25%; font-size: 12xp; height:90px; text-align:center; float:left; }
.icoboxindex a span{ width:100%; height:50px; display:block; text-align:center;}
.icoboxindex a span img{ width:auto; height:50px; margin-top:8px;}
.icoboxindex a h1{ font-size:14px; font-weight:normal; padding-top:5px;  white-space: nowrap; /*overflow: hidden; text-overflow: ellipsis;*/}

/*新品上市&&推荐产品*/
.sp_tit{ height:40px; line-height:40px; padding:0 10px; margin-top:10px;}
.sp_tit strong{ float:left; font-size:16px; color:#dd127b;}
.more{ float:right; color:#666;}
.sp_txt{ border-top:1px solid #DDD; border-bottom:1px solid #DDD; padding:15px 0; background:#FFF; overflow:hidden;}
.sp_txt a { width:33.33%; float:left; text-align:center;}
.sp_txt a img{ width:80px; height:80px; display:block; margin:0 auto;}
.sp_txt a span{ display:block; line-height:20px; margin-top:5px; padding:0 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.sp_txt a span.jg{ color:#dd127b; line-height:20px; margin-top:0; font-family:Arial;}

/*版权*/
.footindex{ padding:15px 10px 15px; text-align:center; line-height:20px; color:666; font-size:12px;}

/*底部*/
footer{ width:100%; height:57px;  color: #666666;  position:fixed; left:0; bottom:0 ;background:#F4FEF5; border-top: 1px solid #cccccc;}
footer li{width: 25%; height:100%;  float: left; position:relative; top:5px; }

/*home*/
footer .foot_home{ background:url(../images/home.png) no-repeat center 3px;}
footer .foot_home_c{ background:url(../images/home_c.png) no-repeat center 3px;}
/*categories*/
footer .foot_cat{ background:url(../images/categorie.png) no-repeat center 3px;}
footer .foot_cat_c{ background:url(../images/categorie_c.png) no-repeat center 3px;}
/*cart*/
footer .foot_cart{ background:url(../images/cart.png) no-repeat center 3px;}
footer .foot_cart_c{ background:url(../images/cart_c.png) no-repeat center 3px;}

footer .foot_me{ background:url(../images/me.png) no-repeat center 3px;}
footer .foot_me_c{ background:url(../images/me_c.png) no-repeat center 3px; }
/*footer .foot_item .ietm{position: relative;bottom: -28px;}*/

footer .foot_item{ font-size:13px;height: 49px; color: #666666;  background-size:auto 45px; }
footer #CartNo{display: block; width: 20px;height: 20px;background: #f17a02; color: #ffffff;border-radius: 20px;position: relative; line-height: 20px; left:50%;top: -50px;}


.imgbox{ padding:10px;}
.imgbox a{ display:block;}
.imgbox img{width: 100%;height: auto; margin-bottom:10px; vertical-align:top;}

.search{ height: 40px; margin:10px; display:box; display:-webkit-box; display:-moz-box; padding:0px;}
.search input{ display:block; box-flex:1.0; -webkit-box-flex:1.0; background:#FFF; height: 38px;  padding:0 5px; border:1px solid #ff90d9; border-top-left-radius:5px; border-bottom-left-radius:5px; border-right:none; font-size:14px;}

.search button{ display:block; width: 50px; height:40px; border:none; background:#ff90d9 url(../images/search.png) no-repeat center; background-size:auto 25px; border-top-right-radius:5px; border-bottom-right-radius:5px;}
.hotkey{ padding:10px; line-height:32px;}

.pplist{ padding:10px;}
.pplist  li{ width:50%; float:left; text-align:center; font-size:12px; margin:10px 0;}
.pplist  li img{ width: 100px;height: 100px; border-radius:50%; box-shadow:0 0 5px #CCC;}
.pplist li p{ margin:10px 0 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}


#back{ position:absolute; top:0; left:0; width:42px; height:45px; background:url(../images/back.png) no-repeat center;background-size: auto 20px;}

.tcbox{width:100%;position:absolute; right:5px; bottom:45px; display:none;}
.smenu{  background:#90B830;  border-radius:5px;}
.smenu a{ margin:0 10px;font-size:14px; text-align:center; color:#FFF; line-height:40px; display:block; border-bottom:1px solid #799E0F;}
.smenu a:last-child{ border:none;}
.jiao{height: 5px; text-align:center; line-height:0; position:relative; overflow:hidden;}
.jiao svg{ margin-left:-5px; position:absolute; left:50%;}


.spliter{border:0;clear: both; border-top: 1px solid #EAEAEA; border-bottom: 1px solid #FFF;}
.price-delete{text-decoration:line-through; color:#999;}
.box{ margin:10px; padding:15px; overflow:hidden; background:#FFF; border:1px solid #DDD; border-radius:5px; box-shadow:0 0 5px #DDD;}
/*申请兑现*/
.sqjl p{ margin:10px 0 0; font-size:12px; color:#666; line-height:24px;}
.sqjl h2{ font-size:12px; margin:0px; padding:0px; border-bottom:1px solid #E8E8E8; padding-bottom:10px;}

/*积分*/
.jfze{ text-align:center; font-size:14px; text-align:center; height:40px; line-height:40px; margin-top:10px;}
.jfze strong{ font:bold 18px/40px Arial; color:#F60;}

.chenggong{ text-align:center; padding:100px 0px;}
.chenggong .pay{ }
.main-list .main-item .item-title .alogin{ float:none; color:#f00;}

#searchform{position:fixed; bottom:40px; width:100%; background:#fff; padding:5px 0px 5px 0px;}
.footer-form form {  margin:0px 10px;  }
.buyNow{height: 58px; background: url("../images/buy_now.png") no-repeat right;background-size: auto 58px;    margin-top: 8px;}

#searchform .pure-button,.footer-form .btnSearch {font-size: 12px;position: absolute;margin: 0px;padding: 0px;width: 50px;height: 24px;line-height: 20px;right: 13px;top: 8px; margin-top:0px; text-align: center;}

/*=======================================新版=======================================================*/
.divide{height: 5px;background: #EEEEEE;border-top: 1px solid #cccccc }
.db-info img{ width: 100%}
.re_style{ padding: .5em .6em;  border:none; font-size: 1em; box-shadow: none; border-radius: 4px; box-sizing: border-box; }
/*//////////////////////////////////首页/////////////////////////////////////*/
#showAddr {text-align: center;}
#showAddr .addr{border-bottom: 1px solid #E0E0E0;color: #333333;font-size: 16px;height: 45px; line-height: 45px; width: 90%; margin: 0 auto;}
#showAddr .addr:last-child{border:none}
.good_body{word-wrap: break-word;word-break:break-all;}
.g_title{height: 35px;}
.g_title .tic{font: bolder;color: #f17b02;font-size: 21px;margin-top: -5px;}
.good_body .good_title{color: #555555;font-size: 14px;width: 95%;height: 40px;overflow: hidden; margin: auto}
.g_title .more{color: #666;font-size: 15px;margin-top: 7px; margin-right: 15px;}
.g_goods{width: 100%;background: #EDEDED;height: auto; }
.g_goods .g_l,.g_goods .g_r{width: 49%;height: 250px; background: #FFFFFF;border-bottom: 1px solid #ccc; padding-top: 20px;margin-bottom:2% }
.g_goods .g_l img{width: 135px;height: 135px;}

.price{color: #f17b02;font-size: 18px;}
.price_old{color: #999;font-size: 15px;}

/***************************列表页******************************************/
.list-good-img{width: 30%;margin-left: 3%;}
/*.list-good-img img{margin-top: 10%;}*/
.list-good-title{width: 63%;padding-right: 2%}
/*************************************购物车*************************************/
#content{width: 96%;margin:0 auto }
.itemg-li{ width: 100%;margin: 22px  auto}
.itemg-li .itemg-img{ width:30%; height:100px;position: relative;top: 15px; }
.itemg-li .itemg-name{width: 65%; display:table-cell;  word-break: break-all; word-wrap: break-word;}
.cartgoodnum{display: block; margin: 0 10px; border: none;background: #EEEEEE;}
.itemg-title{width: 95%;height:55px;  margin: 0 auto;}
.icon_trash {background: url("../images/trash.png") no-repeat left; background-size: auto 18px; }

.item-foot {width: 100%;height:39px; float: left;}
.item-foot-r{width: 70%;}
.jsCart{position: relative}
._trash{width: 20%;height: 39px;margin-left: 10%;position: absolute; top: 56px; right: -40px;}
.item-foot-r .cartbtn{width: 53%;height:39px; }
.item-foot-r .ptotal{width: 43%;margin-right: 5px; }
.empty{color: #999999;font-size: 14px; margin-left: 25px;}
.emptycart{height: 50px;color: #64c73e;font-size: 17px; line-height: 40px;}
.emptycart div{margin: 10px 15px;}
.emptycart div:first-child{margin-left: 5%}

.cart_foot{width: 100%;    position: fixed; bottom: 58px;height: 45px;line-height: 45px; color: #333333;border-top: 1px solid #cccccc;background: #FFFFFF}
.cart_foot .total-m{width: 65%;text-indent: 10%}
.cart_foot .totalMoney{color: #f17a02;font-size: 16px;}
.checkout { height: 45px;line-height: 45px;display: block; background: #3eb52e;color: #FFFFFF;width: 33%;}

/*************************************结算****************************************/
.good-item { padding: 0px 10px; overflow: hidden;}
.good-item-title{height: 35px;text-indent: 3%;line-height: 35px; color: #333333;font-size: 16px;}
.addr_img {width: 15%;}
.addr_list {width: 83%;}
.good-info{width: 95%;}
.good-info .good-img{width: 30%}
.good-info .good-img img{width:100%}
.good-info .good-name{width: 67%}
.good-money{width: 95%;padding-bottom: 7px;}
.good-money .good-num{width: 50%;float: right}
.good-title{color: #333333;font-size: 13px;}
#delivertimeselect{width: 135px;height: 35px;border-radius: 3px;font-size: 13px; color: #333333}
.cashie-tic{padding: 10px 0;font-size: 13px; }

.time_list{text-align:center;color: #000;font-size:13px;width :111px; height:28px;border:solid 1px #666666;border-radius:3px;cursor:pointer;margin-top: 5px;line-height: 28px;}
.old_time{text-align:center;color: #c2cbe0;font-size:12px;width :111px; height:28px;border:solid 1px #666666;border-radius:3px;cursor:pointer;margin-top: 5px;line-height: 28px;}
.click{background:url("../images/selected-icon.png") no-repeat 100% 11px ; border: 1px solid #64c73e}
.click:hover,.time_list:hover,{background:url("../images/selected-icon.png") no-repeat 100% 11px ; border: 1px solid #64c73e}

.item-pay-container{margin-top: 10px;padding-bottom: 100px;}
.cashier-info{width: 98%;font-size: 13px; border-radius: 3px; color: #999999;}
.good-count{width: 100%;height: 60px;position: fixed;bottom: 50px;background: #FFFFFF;border-top: 1px solid #cccccc}
.good-count .foot-item{width: 30%;overflow: hidden}
.good-count .foot-item:first-child{width: 38%;overflow: hidden;text-indent: 3px;margin-top: 7px;}
.good-count .foot-item:last-child{background: #3eb52e;width: 30%;height: 100%;color: #FFFFFF; word-break: break-all; word-wrap: break-word;}
.good-count .foot-item:last-child span{display: block ; width: 60%;margin: 0 auto;  height: 100%;color: #FFFFFF;margin-top: 5px; text-align: center}
.addr-user {width: 100%;margin: 0 auto}
.addr-user span{width: 40%;display: block; }
.fi-li{width: 100%; font-size: 12px;color: #666666}
/*////////////////////////////////////member//////////////////////////////////*/
.member .userinfo{width: 100%;height: 159px; margin-top: 15px;}
.userinfo .userhead{width: 90px;height: 90px;border: 1px solid #64c73e; border-radius: 50px ;margin:  0 auto}
.userinfo .userhead img{ width: 77px;height: 77px;background: #64c73e;margin: 6px; border-radius: 50px ;}
.userinfo .user_tie{font-size: 16px;width: 50%; margin:  20px auto;}

.useritem{width: 100%;margin: 0 auto;}
.useritem .uitem{width: 33%;height: 100px; border-bottom: 1px solid #cccccc; float: left;}
.useritem .userbind{border-left: 1px solid #cccccc;border-right: 1px solid #cccccc;}

.uitem img{margin-top: 17px;width: 28%;height: 35px; position: relative;left: 33%}
.uitem:first-child img{width: 20%;left: 40%}
.userbind img{width: 27%;left: 38%}
.uitem .item_tic{color: #666666; font-size: 16px;margin-top: 5px}

.ordertap{position: fixed; background: #ffffff;}
.ordertap,.ordertap a{height: 46px;font-size:16px;line-height: 46px; }
.ordertap a{display: block;width: 40%;float: left ;text-align: center}
.select_tap {color: #64c73e;border-bottom: 2px solid #64c73e }
.main-item,.order-title,.order-money{width: 100%;text-indent: 3%;}
.order-title{height: 35px; line-height: 35px;border-bottom: 1px solid #cccccc}
.order-title .order_id{width: 73%;color: #333333;font-size: 15px;text-indent: 0}
.order-title .order_id .or_no{font-size: 14px;}
.order-title .unpaid{width: 27%;color: #f17a02;font-size: 16px;}
.order-money{height: 80px;}
.order-info{ border-bottom: 1px solid #cccccc;}
.info-l{width: 45%;float: left;display: block;padding: 3px 0}
.info-r{width: 50%;float: left;display: block;margin-left: 5%; text-indent: 0px;padding: 3px 0}
.o_money{padding: 5px 11px;}
 .cancal-btn , .view-btn {font-size: 15px; border-radius: 3px;margin-left: 30px;}
 .cancal-btn{color: #999999;border: 1px solid #999999}
.view-btn{color: #f17a02;border: 1px solid #f17a02;}
.pay-btn{background:#f17a02;color: #FFFFFF;padding: 2px 5px; }
.btns{ border-top: 1px solid #cccccc;margin-right: 5%; }

/*=-=======================order view===============================*/
.order_center{padding-top: 46px;overflow: hidden}
.ov-title{width:100%;height: 40px; line-height: 40px;text-indent: 5%;font-size: 16px; color: #333 ;border-bottom: 1px solid #cccccc}
.ov_no{font-size: 14px;color: #333}
.ov_status{font-size: 15px;margin-right: 3%;}
.address-list{width: 100%;height: 116px;}
.address-list .ov_addr_img{width: 15%;float: left;text-align: center;}
.address-list .ov_addr_img img{margin-top: 45px;}
.address-list .ov_addr{width: 83%;float: left}
.ov_addr p{color: #333333;font-size: 14px;}
.ov_addr div{color: #333333;font-size: 13px;}
.ov-info{font-size: 13px; color: #666666;width: 90%;margin: 0 auto}
.good_info{width: 100%;height: 110px;}
.good-li{width: 95%;margin: 0 auto;}
.good-li .ov-good-img {width: 25%;}
.good-li .ov-good-img img{width: 100%;}
.good-li .ov-good{width: 73%}
.good-li .ov-good .fc_orange{font-size: 13px;}
.money-info{width: 90%; color: #333333;text-align: right;margin: 0 auto}
.money-info{height: 43px; font-size: 13px;line-height: 23px;}
.money-total{height: 49px;width: 100%;line-height: 40px;  font-size: 16px;position: fixed;bottom:50px;background: #FFFFFF;border-top:  1px solid #cccccc;text-indent: 5%}
.ov-pay{font-size: 14px}
.ov-payed {font-size: 14px;color: #666666}
.user-form{font-size: 14px;}
.user-form label{width: 40%;float: left; height: 45px;line-height: 45px;text-indent: 5px;}
.user-form .re_style{ width: 60%; float: left;height: 45px;}
.user-li{width: 100%;border:1px solid #64c73e;height: 100%}
.ov-pay-btn{background: #3EB52E;display: block;float: right;height: 49px;width: 20% ;text-indent: 0}
.ov-pay-btn a{color: #FFFFFF;}
#paymethod{ position: fixed; height: 150px; width: 150px; z-index: 9999;background: #ffffff; padding: 20px 20px;line-height: 30px;margin-left: -85px;margin-top: -85px; border-radius: 5px;}
#paymethod label{ border-bottom: 1px solid #cccccc}
#paymethod label i{margin-top: 9px;}
.ov-foot{padding-bottom: 50px;}
.loadmore{width: 100%;height: 35px; line-height: 35px;color: #999999;text-align:center;padding-bottom: 50px; }
/************************addresss*********************************/
.main-item{width: 90%;margin: 0 auto;}
.address-name ,.addr-info{font-size: 14px; color: #444444 }
.addrform{width: 95%;margin: 0 auto}
.addr_btn{font-size: 12px; color: #444444 }
.addr_btn img{position:relative;top:5px;}
.address_info {font-size: 13px; color: #444444;}
.address_info label{width: 43%;float: left;height: 45px;line-height: 45px;text-indent: 5px;}
.address_info .re_style{ width: 57%;height: 45px; float: left;}
.newAddr{background:#64c73e;height: 49px;font-size: 19px; color: #FFFFFF;line-height: 49px; position: fixed;width: 100%;bottom: 0; }
.newAddr a{ color: #FFFFFF; }


