<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{$childtitle}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>
 
<body>
<include file="Index:bar" />
<div class="content">
<div class="newslist">
    <ul>
      <volist name="channel" id="vo">
         <li><a href="{:Uu('Content/lists','id='.$vo['id'])}">
        <eq name="indexpic" value="">
          <else/>
          <img src="{$vo.indexpic}" /></eq>
        <h1>{$vo.name}</h1>
        <p>{$vo.remark}&nbsp;</p>
        </a></li>
        
      </volist>
    </ul>
  </div>
</div>
<include file="Index:footer" />
</body>
</html>
