<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<include file="Index:header" /> 
</head>
<body>
<include file="Index:bar" />
<div class="container pdt5">
<div class="newslist">
    <h1 id="title">{$db.title}</h1>
    <div class="laiyuan">Date:{$db.addtime}</div>
    <div class="nr" id="detail-info">{$db.content} </div>
  </div>
  <div class="clr"></div>
</div>
 
<include file="Index:footer" /> 
</body>
</html>
