<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header"/>
</head>

<body>
<include file="Index:bar"/>
<div class="container">
    <div class="content">
        <div class="main-body">
            <include file="Index:top"/>
            <div class="main-list">
                <form onsubmit="return false" method="post" name="form1" id="form1"
                      class="pure-form pure-form-stacked">
                    <div class="main-item">
                        <div class="address-info">
                            <div class="address-form">
                                <fieldset>
                                    <label for="username"> User Name： {:get_displayname()}</label>
                                    <input type="hidden" name="id" value="{$addr.id}"/>
                                    <label for="username"> Consingee：</label>
                                    <input id="username" name="username" type="text" value="{$addr.username}"
                                           placeholder="enter your name" class="pure-input-1" maxlength="20">
                                    <label for="telephone"> <span class="fc_red">*</span> Mobile：</label>
                                    <input id="telephone" name="telephone" type="text" value="{$addr.telephone}"
                                           placeholder="enter your mobile" class="pure-input-1" maxlength="11" required>
                                    <label for="telephone2">Alternative phone：</label>
                                    <input id="telephone2" name="telephone2" type="text"
                                           value="{$addr.telephone2}" placeholder="enter your alternative phone"
                                           class="pure-input-1" maxlength="11" required>
                                    <label for="address"><span class="fc_red">*</span> Address：</label>
                                    <input id="address" name="address" type="text" value="{$addr.address}"
                                           placeholder="enter your address" class="pure-input-1" maxlength="50"
                                           required>
                                    <label>Gender：</label>
                                    <label for="sex1" style="float: left;width: 40%">
                                        <input type="radio" name="sex" id="sex1" value="1"
                                        <if condition="$addr['sex'] eq 1"> checked</if>
                                        />Male
                                    </label>
                                    <label>
                                        <input type="radio" name="sex" id="sex1" value="0"
                                        <if condition="$addr['sex'] eq 0"> checked</if>
                                        /> Female
                                    </label>

                                    <div style="clear: both"></div>

                                    <label for="cityname">City：</label>
                                    <select name="cityname" id="cityname">
                                        <option
                                        <if condition="$addr['cityname'] eq 'chengdu'">selected</if>
                                        value="chengdu">Chengdu</option>
                                        <option
                                        <if condition="$addr['cityname'] eq 'chongqing'">selected</if>
                                        value="chongqing">Chongqing</option>
                                        <option
                                        <if condition="$addr['cityname'] eq 'shenzhen'">selected</if>
                                        value="shenzhen">Shenzhen</option>
                                        <option
                                        <if condition="$addr['cityname'] eq 'Shanghai'">selected</if>
                                        value="shanghai">Shanghai</option>
                                        <option
                                        <if condition="$db['cityname'] eq 'other'">selected</if>
                                        value="other">Other</option>
                                    </select>
                                    <label>Default address：</label>
                                    <label for="isdefault" style="float: left;width: 40%">
                                        <input name="isdefault" type="radio" id="isdefault" value="1"
                                        <if condition="$addr['isdefault'] eq 1"> checked</if>
                                        />Default
                                    </label>
                                    <label>
                                        <input type="radio" name="isdefault" id="isdefault" value="0"
                                        <if condition="$addr['isdefault'] eq 0"> checked</if>
                                        /> Other
                                    </label>

                                    <div style="clear: both"></div>
                                    <label for="language">Language：</label>
                                    <select name="language" id="language">
                                        <option
                                        <if condition="$addr['language'] eq 1">selected</if>
                                        value="1">Chinese general</option>
                                        <option
                                        <if condition="$addr['language'] eq 2">selected</if>
                                        value="2">Fluent in Chinese</option>
                                        <option
                                        <if condition="$addr['language'] eq 3">selected</if>
                                        value="3">English</option>
                                    </select>

                                </fieldset>
                            </div>
                            <div class="clr"></div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <if condition="is_bind() neq true">
                        <div class="tr" style="line-height:30px; margin:10px;">
                            <a href="{:U('Member/pwd')}" style="color:#00f;">Click here to modify password</a>
                        </div>
                    </if>
                    <div align="center" style="padding:10px 0px;">
                        <button type="button" class="pure-button pure-button-primary w49" onclick="subAddress()">Save
                        </button>
                        <button type="button" class="pure-button w49" onClick="history.back();">Back</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<js href="__PUBLIC__/Shop/js/jquery-1.8.2.js,__PUBLIC__/Shop/js/jquery.lazyload.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/Admin/js/alerts/jquery.alerts.js" />

<include file="Index:footer"/>
<script>
    function subAddress() {
        $.post('/home/member/modifyShoppingAddr', $("#form1").serialize(), function (data) {
            if (data.code == 200) {
                clearpopj(data.message,data.data);
            } else {
                clearpopj(data.message);
            }
        });
    }
</script>
</body>
</html>
