<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header"/>
</head>

<body>
<include file="Index:bar"/>
<div class="container">
    <div class="main-item" style="box-shadow:none">
        <volist name="list" id="vo">
            <div class="address-info">
                <a href="/m_cashier.html?addr_id={$vo.id}">
                    <div class="address-name">
                        <span class="fl">{$vo.username}</span>
                        <span class="fr" style="margin-left: 50px;">{$vo.telephone}</span>
                    </div>
                    <div class="addr-info clr">
                        {$vo.address}
                    </div>
                    <hr size="1" color="#cccccc" width="110%" style="margin-left: -5%"/>
                    <div class="addr_btn">
                        <if condition="$vo['isdefault'] eq 1">
                            <a href="javascript:void(0);" class="fl">
                                <img src="__PUBLIC__/Home/images/choose.png" alt="" width="16"/>
                                <span class="green">Default Address</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>
                        <else/>
                            <a onclick="$.setDefaultAddress('{$vo.id}');" class="fl">
                                <img src="__PUBLIC__/Home/images/noselect.png" alt="" width="16"/>Set as default Address
                            </a>
                        </if>
                        &nbsp;&nbsp;
                        <a href="/Member/addaddress.html?addr_id={$vo['id']}"><img src="__PUBLIC__/Home/images/edit.png" alt="" width="19"/>Edit</a> &nbsp;
                        <a  onClick="$.delAddress('{$vo.id}');"><img src="__PUBLIC__/Home/images/delete.png" alt=""width="19"/>Delete</a>
                    </div>
                </a>
            </div>
            <div class="divide clr" style="height: 10px;width: 110%;margin-left: -5%"></div>
        </volist>
    </div>
    <div class="newAddr tc"><a href="/member/addaddress.html">+ New Address</a></div>
    <div style="padding-bottom:30px;;"></div>
</div>
<include file="Index:footer"/>
</body>
</html>
