<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
 <div class="container">
  <div class="content">
    <div class="main-body">
      <div class="main-list">
        <div class="main-item">
          <div class="item-title">
            <h3>Receiving information</h3>
            <a href="{:U('Member/addAddress')}"  class="item-add"><i class="fa fa-plus-square"></i> Add new</a> </div>
          <eq name="listcount" value="0">
           
          <div class="item-title bdnone"> <span>Not found.</span> </div>
          <div class="clr"></div>
       
          </eq>
          <volist name="list" id="vo">
          <div class="address-info">
            <div class="address-name">{$i}. {$vo.username}，{$vo.telephone}<br />&nbsp;&nbsp;&nbsp;&nbsp;{$vo.proname}{$vo.cityname}{$vo.disname} &nbsp; {$vo.address}</div>
            <div class="address-act">
              <div class="pure-g">
                <div class="pure-u-1-3"><a href="{:U('Member/editAddress?id='.$vo['id'])}" class="pure-button">Edit</a></div>
                <div class="pure-u-1-3 tc">
                 <eq name="vo.isdefault" value="1">
                  <button class="pure-button pure-button-error">Default</button>
                  <else/>
                  <button class="pure-button " onClick="$.setDefaultAddress({$vo.id});">Set default</button>
                  </eq>
                </div>
                <div class="pure-u-1-3 tr"><a  class="pure-button" href="javascript:void(0);" onClick="$.delAddress({$vo.id});">Remove</a></div>
              </div>
            </div>
            <div class="clr"></div>
          </div>
          </volist> 
          <div class="clr"></div>
        </div>
     
     
          <div class="paging">
          {$page}
          </div> 
      </div>
    </div>
  </div>
</div>
<include file="Index:footer" />
</body>
</html>
