<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" /> 
<div class="container">
  <div class="content">
    <div class="main-body">
      <div class="main-list">
        <div class="main-item">
          <div class="item-title">
            <h3>{$title}</h3>
            <a href="javascript:void(0);" onClick="history.back();"  class="item-add"><i class="fa fa-reply"></i> Back</a> </div>
          <div class="address-info">
            <div class="address-form">
              <form action="{:U('Member/editAddress')}" method="post" name="formAddress" id="formAddress" class="pure-form pure-form-stacked">
                <input type="hidden" value="{$db.id}" name="id" id="id">
                <fieldset>
                  <label for="username"><span class="fc_red">*</span> Name：</label>
                  <input id="username" name="username" type="text" maxlength="20" value="{$db.username}"  placeholder="enter your name" class="pure-input-1" required />
                  <label for="username">Gender：</label>
                  <select name="sex" id="sex">
                   <option value="1">Male</option>
                    <eq name="db.sex" value="0">
                    <option value="0" selected="selected">Female</option>
                    <else/>
                    <option value="0">Female</option>
                    </eq>
                  </select>
                  <label for="telephone"><span class="fc_red">*</span> Phone：</label>
                  <input id="telephone" name="telephone" type="text" maxlength="20" value="{$db.telephone}" placeholder="enter your mobile" class="pure-input-1" required />
                  <label for="telephone"><span class="fc_red">*</span> Email：</label>
                  <input id="email" name="email" type="text" maxlength="50" value="{$db.email}" placeholder="enter your email" class="pure-input-1" required />
                 <!-- <label for="China_Province">省/市/区：</label>
                  <select id="China_Province" class="common-input" name="China_Province">
                  {get_area('china_province',0,$db['provinceid'])}
                  </select>
                  <select id="China_City" class="common-input" name="China_City"  >
                  {get_area('china_city',$db['provinceid'],$db['cityid'])}
                  </select>
                  <select id="China_District" class="common-input" name="China_District"  >
                  {get_area('china_district',$db['cityid'],$db['districtid'])}
                  </select>-->
                  <label for="address">Shipping address：</label>
                  <input id="address" name="address" type="text" maxlength="50" value="{$db.address}" placeholder="enter your address" class="pure-input-1" required />
                  <label for="info">Remark：</label>
                  <input id="info" name="info" type="text" maxlength="50" value="{$db.info}" placeholder="Remark" class="pure-input-1" required />
                  <div align="center" style="padding:10px 0px;">
                    <button type="submit" class="pure-button pure-button-primary w49" >Save</button>
                    <button type="button" class="pure-button w49" onClick="history.back();">Back</button>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="clr"></div>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Index:footer" /> 
<script language="javascript">
$(function(){ 
	//InitArea(); 
});
</script>
</body>
</html>
