<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <script>
        var APP_PATH="__APP__";
        var CONST_PUBLIC="__PUBLIC__";
        var CONST_CART="{:U('Cart/URL')}";
        var EXTRA_PARAM="{:get_fid()}";
    </script>
    <js href="__PUBLIC__/Home/member/js/jquery-2.0.3.min.js,__PUBLIC__/Home/newjs/jquery.leanModal.min.js,__PUBLIC__/Home/newjs/jquery.cookies.2.2.0.js,__PUBLIC__/Home/newjs/jquery.fly.min.js,__PUBLIC__/Home/newjs/json.js,__PUBLIC__/Shop/js/jquery.lazyload.js,__PUBLIC__/Admin/js/jquery.numeric.only.js,__PUBLIC__/js/common.js,__PUBLIC__/Home/js/jquery.func.js,__PUBLIC__/Home/newjs/home.js" />

    <css href="__PUBLIC__/Home/member/css/pure-style.css,__PUBLIC__/Home/css/main.css,__PUBLIC__/Home/css/main.css" />
</head>

<body>
<header>
    <a href="javascript:void(0);" onclick="history.back();" id="back" style="color: #000000"></a>
    <ul style="width: 100%;">
        <li class="fl" style="width: 22%;">
        </li>
        <li class="fl keywrod">
            <if condition="$title">
                <span style="line-height: 45px;color: #333333;font-size: 21px;">{$title}</span>
                <else/>
                <input type="text" class="input_keywrod" placeholder="Keywords"/>
                <img src="__PUBLIC__/Home/images/searching.png" class="searching" onclick="alert(222)" height="20">
            </if>
        </li>
        <li class="fr" style="margin-right: 10px;" onclick="editMember();">Save</li>
    </ul>
</header>
<div class="content">
    <form action="{:U('Member/modifyMember')}" method="post" id="editForm" class="pure-form user-form" style=" margin-top: 9px;">
        <input type="hidden" value="{$user.id}" name="id" id="id">
            <label for="username">User Name:</label>
            <input id="username" name="username" type="text"  value="{$user.username}" placeholder="enter your name" class="re_style" required/>
            <hr size="1" width="100%" color="#cccccc"/>

            <label for="sex">Gender：</label>
            <select name="sex" id="sex" class="re_style">
                <option value="1" <if condition="$user['sex'] eq 1">selected</if>>Male</option>
                <option value="0" <if condition="$user['sex'] eq 0">selected</if>>Female</option>
            </select>
            <hr size="1" width="100%" color="#cccccc"/>
            <label for="telephone">Phone：</label>
            <input id="telephone" name="telephone" type="text" maxlength="20" value="{$user.telephone|default='+86'}"  placeholder="enter your mobile" class="re_style" required/>
            <hr size="1" width="100%" color="#cccccc"/>

            <label for="email"> Email：</label>
            <input id="email" name="email" type="text"  value="{$user.email}"
                   placeholder="enter your email" class="re_style" required/>
            <hr size="1" width="100%" color="#cccccc"/>

            <label for="address"> Address：</label>
            <input id="address" name="address" type="text"  value="{$user.address}"
                   placeholder="living city in China" class="re_style" required/>
            <hr size="1" width="100%" color="#cccccc"/>

            <label for="nationality"> Your Nationality：</label>
            <select name="nationality" id="nationality" class="re_style">
                <if condition="$user['nationality'] eq $nationality[$i]">
                    <option value="$user['nationality']">{$user['nationality']}</option>
                    <else/>
                    <option value=""> Please select your nationality</option>
                </if>
                <option value="Andorra">Andorra</option>
                <option value="Argentina">Argentina</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                <option value="Brazil">Brazil</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burma">Burma</option>
                <option value="Canada">Canada</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="China Taiwan">China Taiwan</option>
                <option value="Colombia">Colombia</option>
                <option value="Crotia">Crotia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cyprus ">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="Fiji Islands">Fiji Islands</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="HK">HK</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Korea">Korea</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Liechtenstein ">Liechtenstein</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mexico">Mexico</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Morocco">Morocco</option>
                <option value="Netherlands">Netherlands</option>
                <option value="New Zealand">New Zealand</option>
                <option value="North Korea">North Korea</option>
                <option value="Norway">Norway</option>
                <option value="Pacific Ocean">Pacific Ocean</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Poland">Poland</option>
                <option value="PORTUGAL">PORTUGAL</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Saudi Arab">Saudi Arab</option>
                <option value="Scotland">Scotland</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="South Africa">South Africa</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Thailand">Thailand</option>
                <option value="The Republic of Mauritius">The Republic of Mauritius</option>
                <option value="The State of Israel">The State of Israel</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="UAE">UAE</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vatican">Vatican</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Yemen">Yemen</option>
            </select>
        <hr size="1" width="100%" color="#cccccc"/>
    </form>
</div>
<include file="Index:footer"/>
<script language="javascript">
    function editMember(){
        $('#editForm').submit();
    }
</script>
</body>
</html>
