<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$shoptitle}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
<div class="container member">
    <div class="userinfo" >
        <a href="/Member/editMember.html">
            <div class="userhead">
                <img src="{$user.indexpic|default='__PUBLIC__/Home/images/nohead.png'}" alt=""/>
            </div>
            <div class="green tc user_tie">{$user.username} <if condition="$user['weixin']"><br/>{$user.weixin}</if></div>
        </a>
    </div>
    <div class="divide" style="height: 10px;"></div>

    <div class="useritem">
        <div class="userAddr uitem">
            <a href="/member/address">
                <img src="__PUBLIC__/Home/images/address.png" alt=""  /><br/>
                <div class="tc item_tic">My address</div>
            </a>
        </div>
        <div class="userbind uitem">
            <a href="/login/bind.html">
                <img src="__PUBLIC__/Home/images/bind.png" alt="" /><br/>
                <div class="tc item_tic">Bind My Account</div>
            </a>
        </div>
        <div class="userorder uitem">
            <a href="/member/order.html">
                <img src="__PUBLIC__/Home/images/order.png" alt="" /><br/>
                <div class="tc item_tic">My Order</div>
            </a>
        </div>
    </div>
</div>

<include file="Index:footer" />
</body>
</html>
