<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
<div class="container">
  <div class="content">
    <div class="main-body">
    <include file="Index:top" />
      <div class="main-list"> 
		<form action="?Action=SaveInfo" method="post" name="form1" id="form1" class="pure-form pure-form-stacked"> 
        <div class="main-item">
          <div class="address-info">
            <div class="address-form">
                <fieldset>
                  <label for="userreal">  User Name： {:get_displayname()}</label>
                  
                  <label for="userreal"> Consingee：</label>
                  <input id="userreal" name="userreal" type="text" value="{$db.userreal}"  placeholder="enter your name" class="pure-input-1" maxlength="20" >
                  <label > <span class="fc_red">*</span> Gender：</label>
                  <eq name="db.sex" value="1">
                <label  ><input name="sex" type="radio" id="sex1" value="1" checked />
                  Male</label>
                  <label ><input type="radio" name="sex" id="sex2" value="0" />
                  Female</label>
                <else/>
                <label  ><input name="sex" type="radio" id="sex1" value="1"  />
                  Male</label>
                  <label ><input type="radio" name="sex" id="sex2" value="0" checked/>
                  Female</label>
                </eq>
                  <label for="telephone"> <span class="fc_red">*</span> Mobile：</label>
                  <input id="telephone" name="telephone" type="text" value="{$db.telephone}" placeholder="enter your mobile" class="pure-input-1" maxlength="20" required>
                  <label for="email"><span class="fc_red">*</span> Email：</label>
                  <input id="email" name="email" type="text" value="{$db.email}" placeholder="enter your email" class="pure-input-1" maxlength="50" required >
                 <!-- <label for="qq">Q Q：</label>
                  <input id="qq" name="qq" type="text" value="{$db.qq}" placeholder="常用QQ，方便联系" class="pure-input-1" maxlength="11">-->
                  <label for="address"><span class="fc_red">*</span> Address：</label>
                  <input id="address" name="address" type="text" value="{$db.address}" placeholder="enter your address" class="pure-input-1" maxlength="50" required >
				  
                  <label for="info">Remark：</label>
                  <input id="info" name="info" type="text" value="{$db.info}" placeholder="enter your remark" class="pure-input-1" maxlength="50">
                </fieldset>
            </div>
            <div class="clr"></div>
          </div>
          <div class="clr"></div>
        </div> 
        <if condition="is_bind() neq true">
		<div class="tr" style="line-height:30px; margin:10px;">  
      <a href="{:U('Member/pwd')}" style="color:#00f;">Click here to modify password</a>
      </div> 
      </if>
		<div align="center" style="padding:10px 0px;">
                    <button type="submit" class="pure-button pure-button-primary w49" >Save</button>
                    <button type="button" class="pure-button w49" onClick="history.back();">Back</button>
                  </div>
		</form>
		
      </div>
    </div> 
      
  </div>
</div>
<include file="Index:footer" />  
</body>
</html>
