<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header"/>
</head>
<body>
<include file="Index:bar"/>
<div class="container order" style="padding-bottom: 15px;">
    <div class="view-title ordertap">
        <a href="?show=going" <if condition="!isset($_REQUEST['show']) || $_REQUEST['show'] neq 'all'">class="select_tap"</if> >Ongoing orders</a>
        <a href="?show=all" <if condition="$_REQUEST['show'] eq 'all'">class="select_tap"</if>  >All Orders</a>
    </div>
    <div class="order_center">
        <volist name="list" id="vo">
            <if  condition="$_REQUEST['show'] eq 'all' ">
                <div class="divide clr" style="height: 10px;"></div>
                <div class="main-item">
                    <div class="order-title">
                        <a style="width:auto;" href="/Member/orderView.html?orderno={$vo['orderno']}">
                            <span class="fl order_id">Order ID:<span class="or_no">{$vo.orderno}</span></span>
                    <span class="fl unpaid">
                       <if condition="$vo['paymethod'] eq 2 ">
                           <if condition="$vo['pay'] eq 0 ">
                               <img src="__PUBLIC__/Home/images/unpaid.png" width="90%" alt=""/>
                               <else/>
                               Paid
                           </if>
                       </if>
                    </span>
                        </a>
                    </div>

                    <div class="order-info ">
                        <p><span class="info-l">Delivery time:</span><span class="info-r" >{$vo.delivertime}</span></p>
                        <p>
                            <span class="info-l">Payment method:</span>
                    <span class="info-r">
                        <if condition="$vo['paymethod'] eq 2">
                            Paypal
                            <else/>
                            Cash on delivery Confirmed
                        </if>
                    </span>
                        </p>
                        <p><span class="info-l">Order status:</span>
                            <span class="info-r">{:get_status($vo['status'])}</span>
                        </p>
                        <div class="clr"></div>
                    </div>
                    <div class="order-money">
                        <if condition="$vo['paymethod'] eq 2 && $vo['pay'] eq 0">
                            <div class="o_money fl">
                                <p>Total Amount: <span>&yen;{$vo.amount}</span></p>
                                <p>
                                    <if condition="$vo['status'] lt 3"><span class="cancal-btn">Cancel</span></if>
                                    <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                </p>
                            </div>
                            <div class="o_m_btn fl" onclick=""></div>
                            <else/>
                            <div class="o_money fr" style="padding: 5px 0;" >
                                Total Amount: <span>&yen;{$vo.amount}</span>
                            </div>
                            <div class="clr btns">
                                <div class="tr" style="padding: 7px 0;">
                                    <if condition="$vo['status'] lt 3"><span class="cancal-btn">Cancel</span></if>
                                    <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                </div>
                            </div>
                        </if>
                    </div>
                </div>
                <else/>
                <if condition="$vo['status'] lt 2">
                    <div class="divide clr" style="height: 10px;"></div>
                    <div class="main-item">
                        <div class="order-title">
                            <a style="width:auto;" href="/Member/orderView.html?orderno={$vo['orderno']}">
                                <span class="fl order_id">Order ID:<span class="or_no">{$vo.orderno}</span></span>
                    <span class="fl unpaid">
                       <if condition="$vo['paymethod'] eq 2 ">
                           <if condition="$vo['pay'] eq 0 ">
                               <img src="__PUBLIC__/Home/images/unpaid.png" width="90%" alt=""/>
                               <else/>
                               Paid
                           </if>
                       </if>
                    </span>
                            </a>
                        </div>

                        <div class="order-info ">
                            <p><span class="info-l">Delivery time:</span><span class="info-r" >{$vo.delivertime}</span></p>
                            <p>
                                <span class="info-l">Payment method:</span>
                    <span class="info-r">
                        <if condition="$vo['paymethod'] eq 2">
                            Paypal
                            <else/>
                            Cash on delivery Confirmed
                        </if>
                    </span>
                            </p>
                            <p><span class="info-l">Order status:</span>
                                <span class="info-r">{:get_status($vo['status'])}</span>
                            </p>
                            <div class="clr"></div>
                        </div>
                        <div class="order-money">
                            <if condition="$vo['paymethod'] eq 2 && $vo['pay'] eq 0">
                                <div class="o_money fl">
                                    <p>Total Amount: <span>&yen;{$vo.amount}</span></p>
                                    <p>
                                        <if condition="$vo['status'] lt 3"><span class="cancal-btn">Cancel</span></if>
                                        <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                    </p>
                                </div>
                                <div class="o_m_btn fl" onclick=""></div>
                                <else/>
                                <div class="o_money fr" style="padding: 5px 0;" >
                                    Total Amount: <span>&yen;{$vo.amount}</span>
                                </div>
                                <div class="clr btns">
                                    <div class="tr" style="padding: 7px 0;">
                                        <if condition="$vo['status'] lt 3"><span class="cancal-btn">Cancel</span></if>
                                        <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                    </div>
                                </div>
                            </if>
                        </div>
                    </div>
                </if>
            </if>
        </volist>
    </div>
    <div class="paging">
        {$page}
    </div>
</div>
<include file="Index:footer"/>
</body>
</html>
