<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Index:header"/>
</head>

<body>
<include file="Index:bar"/>
<div class="main-list">
    <div>
        <div class="divide clr" style="height: 10px;"></div>
            <div class="ov-title">Order ID:
                <span class="ov_no">{$db.orderno}</span>
                <span class="ov_status"> {:get_status($db['status'])}</span>
            </div>
            <div class="address-list">
                <div class="ov_addr_img"><img src="__PUBLIC__/Home/images/ov_address.png" width="25" alt=""/></div>
                <div class="ov_addr">
                    <p><span>Consigee:{$db.username}</span>&nbsp;&nbsp;<span>{$db.telephone}</span></p>
                    <div>{$db.address}</div>
                </div>
            </div>
        <div class="clr"></div>
        <img src="__PUBLIC__/Home/images/xinfeng_address.png" width="100%" height="10" alt=""/>
    </div>
    <div class=" clr divide" style="height: 10px;margin-top: -5px;"></div>

    <div>
        <div class="ov-title">Order detail</div>
        <div class="ov-info">
            Placed time:{$db.addtime}<br/>
            Delivery time:{$db.delivertime}<br/>
            <div class="vo-bo">
                <div class="fl">
                Payment Method:
                <if condition="$db['paymethod'] eq 2">
                    Paypal(USD)
                    <elseif condition="$db['paymethod'] eq 3"/>
                    WeChat
                    <else/>
                    Cash on delivery
                </if>
                <if condition="$db['paymethod'] neq 4 && $db['pay'] eq 1">
                    &nbsp;&nbsp;&nbsp;<span class="ov-payed">Paid</span>
                <else/>
                    <span  class="fc_orange ov-pay">Unpaid</span>
                </if>
                <br/>
                Faipiao(Invoic):
                    <if condition="$db['invoice'] eq 1">
                        Yse
                        <else/>
                        No
                    </if>
                </div>
                <if condition="$db['paymethod'] neq 4 && $db['pay'] neq 1">
                    <div class="fr">
                        <img src="__PUBLIC__/Home/images/Pay.png" width="77" height="50" alt=""/>
                    </div>
                </if>
            </div>
            <div class="clr"></div>
            Customer Message:{$db.info}
            <br/>
            <br/>
        </div>
    </div>
    <div class=" clr divide" style="height: 10px;"></div>
    <div>
        <div class="ov-title">Product list</div>
        <div class="good_info">
            <php>$quantity = 0 ; $money = 0;</php>
            <volist name="list" id="vo">
                <php>
                    $quantity += $vo['num'];
                    $money += $vo['price'];
                </php>
                <div class="good-li">
                    <div class="ov-good-img fl"><img src="{$vo.indexpic}" alt="{$vo.productname}"/></div>
                    <div class="ov-good fr" >
                        <div >{$vo.productname}</div>
                        <div><span class="fc_orange">&yen;{$vo.price} </span><span class="fr" style="margin-right: 30px;color: #333;font-size: 13px;">x {$vo.num|float_fee}</span> </div>
                    </div>
                </div>
                <hr width="99%" color="#ccc" size="1px"/>
                <div class="clr"></div>
            </volist>
        </div>
    </div>
    <div class="ov-foot clr">
        <div class="money-info">
            Quantity:{$quantity} Total:&yen;{$money}<br/>
            Delivery Fee:&yen;{$db.shipfee}<br/>
        </div>
        <hr width="99%" color="#ccc" size="1px"/>
            <div class="money-total">Total amount: <span class="fc_orange">&yen;{$db.amount}</span>
        </div>
    </div>
    <hr width="99%" color="#ccc" size="1px"/>
    <div class=" clr divide" style="height: 10px;"></div>
</div>
<include file="Index:footer"/>
</body>
</html>
