<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <include file="Index:header"/>
    <js href="__PUBLIC__/Admin/js/alerts/jquery.alerts.js" />
</head>
<body  pagename="order">
<include file="Index:bar"/>
<div class="container order" style="padding-bottom: 15px;">
    <div class="view-title ordertap">
        <a href="?show=going" <if condition="!isset($_REQUEST['show']) || $_REQUEST['show'] neq 'all'">class="select_tap"</if> >Ongoing orders</a>
        <a href="?show=all" <if condition="$_REQUEST['show'] eq 'all'">class="select_tap"</if>  >All Orders</a>
    </div>
    <div class="order_center">
        <volist name="list" id="vo">
            <if  condition="$_REQUEST['show'] eq 'all' ">
                <div class="divide clr" style="height: 10px;"></div>
                <div class="main-item">
                    <a style="width:auto;" href="/Member/orderView.html?orderno={$vo['orderno']}">
                        <div class="order-title">
                            <span class="fl order_id">Order ID:<span class="or_no">{$vo.orderno}</span></span>
                                <span class="fl unpaid">
                                      <!--（Unpaid）未完成并且未支付的-->
                                   <if condition="$vo['pay'] eq 1">
                                       Paid <else/> Unpaid
                                   </if>
                                </span>
                        </div>
                        <div class="order-info ">
                            <p><span class="info-l">Delivery time:</span><span class="info-r" >{$vo.delivertime}</span></p>
                            <p>
                                <span class="info-l">Payment method:</span>
                                <span class="info-r">
                                    <if condition="$vo['paymethod'] eq 2">
                                        Paypal
                                        <else/>
                                        Cash on delivery
                                    </if>
                                </span>
                            </p>
                            <p><span class="info-l">Order status:</span>
                                <span class="info-r">{:get_status($vo['status'])}</span>
                            </p>
                            <div class="clr"></div>
                        </div>
                    </a>
                    <div class="order-money">
                        <div class="o_money fr">
                            Total Amount: <span>&yen;{$vo.amount}</span>
                        </div>
                        <div class="clr btns">
                            <div class="tr" style="padding: 13px 0;">
                                <if condition="$vo['status'] lt 3"><span class="cancal-btn" onClick="$.cancelOrder('{$vo.orderno}');">Cancel</span></if>
                                <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                <!--（显示条件）未完成并且未支付的-->
                                <if condition="$vo['status'] lt 3 && $vo['pay'] eq 0">
                                    <span onclick="showPaymethod(this)"  data-id="{$vo['orderno']}" data-paymethod="{$vo['paymethod']}" class="view-btn pay-btn">Pay now</span>
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
                <else/>
                <!--正在进行中的订单-->
                <if condition="$vo['status'] lt 3">
                    <div class="divide clr" style="height: 10px;"></div>
                    <div class="main-item" >
                        <a style="width:auto;" href="/Member/orderView.html?orderno={$vo['orderno']}">
                            <div class="order-title">
                                    <span class="fl order_id">Order ID:<span class="or_no">{$vo.orderno}</span></span>
                                    <span class="fl unpaid">
                                      <!--（Unpaid）未完成并且未支付的-->
                                        <if condition="$vo['status'] lt 3 && $vo['pay'] eq 0"> Unpaid <else/>Paid</if>
                                    </span>
                            </div>

                            <div class="order-info ">
                                <p><span class="info-l">Delivery time:</span><span class="info-r" >{$vo.delivertime}</span></p>
                                <p>
                                    <span class="info-l">Payment method:</span>
                                    <span class="info-r">
                                        <if condition="$vo['paymethod'] eq 2">
                                            Paypal
                                            <else/>
                                            Cash on delivery
                                        </if>
                                    </span>
                                </p>
                                <p><span class="info-l">Order status:</span>
                                    <span class="info-r">{:get_status($vo['status'])}</span>
                                </p>
                                <div class="clr"></div>
                            </div>
                        </a>
                        <div class="order-money">
                            <div class="o_money fr" >
                                Total Amount: <span>&yen;{$vo.amount}</span>
                            </div>
                            <div class="clr btns">
                                <div class="tr" style="padding: 13px 0;">
                                    <if condition="$vo['status'] lt 3"><span class="cancal-btn"  onClick="$.cancelOrder('{$vo.orderno}');" >Cancel</span></if>
                                    <a  href="/Member/orderView.html?orderno={$vo['orderno']}" class="view-btn">View</a>
                                    <!--（显示条件）未完成并且未支付的-->
                                    <if condition="$vo['status'] lt 3 && $vo['pay'] eq 0">
                                        <span onclick="showPaymethod(this);"  data-id="{$vo['orderno']}" data-paymethod="{$vo['paymethod']}" class="view-btn pay-btn" class="view-btn pay-btn">Pay now</span>
                                    </if>
                                </div>
                            </div>
                        </div>
                    </div>
                </if>
            </if>
        </volist>
        <hr size="1" color="#cccccc" width="100%"/>
    </div>
    <div class="paging">
        {$page}
    </div>
</div>
<include file="Index:footer"/>
</body>
</html>
