<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Index:header" />
</head>

<body>
<include file="Index:bar" />
<div class="container">
  <div class="content">
    <div class="main-body">
    <include file="Index:top" />
      <div class="main-tab" style="margin-top:10px; display:none;">
        <div class="pure-g">
          <div class="pure-u-1-4"><a href="{:U('Member/order?status=0')}" <eq name="status" value="0">class="selected"</eq> >Draft<gt name="num[0]" value="0"><font class="fc_red">({$num[0]})</font></gt></a></div>
          <div class="pure-u-1-4"><a href="{:U('Member/order?status=1')}" <eq name="status" value="1">class="selected"</eq> >Confirmed<gt name="num[1]" value="0"><font class="fc_red">({$num[1]})</font></gt></a></div>
          <div class="pure-u-1-4"><a href="{:U('Member/order?status=2')}" <eq name="status" value="2">class="selected"</eq> >Delivering<gt name="num[2]" value="0"><font class="fc_red">({$num[2]})</font></gt></a></div>
          <div class="pure-u-1-4"><a href="{:U('Member/order?status=3')}" <eq name="status" value="3">class="selected"</eq> >Completed<gt name="num[3]" value="0"><font class="fc_red">({$num[3]})</font></gt></a></div>
        </div>
      </div>
      <eq name="listcount" value="0">
        <div class="main-list">
          <div class="main-item">
            <div class="item-title bdnone"> <span>Not found.</span> </div>
            <div class="clr"></div>
          </div>
        </div>
        <else/>
        <div class="main-list">
        <volist name="list" id="vo">
          <div class="main-item">
              <div class="item-title"> <a style="width:auto;" href="{:U('Member/orderView?orderno='.$vo['orderno'])}">
                <h3>{:get_status($vo['status'])} (<span class="" style="font-weight:normal;">
                  <eq name="vo.pay" value="1">Paid
                    <else/>
                    Unpaid</eq>
                  </span>)</h3>
                </a> <span class="fr fc_red">&yen;{$vo.amount}</span> </div>
              <div class="item-info">
                <?php 
           $vo1 = get_order_products($vo['orderno'],1);
            ?>
                <div class="item-li" style="padding:0px;">
                  <div class="item-img"><a href="{:U('Product/view?id='.$vo1[0]['productid'])}"><img src="{$vo1[0]['indexpic']}" alt="{$vo1[0]['productname']}" /></a></div>
                  <div class="item-name" > <a href="{:U('Member/orderView?orderno='.$vo['orderno'])}">
                    <h3>{$vo1[0]['productname']}</h3>
                    <div class="item-no"> <span>&yen;{:to_price($vo1[0]['price'])} </span>* {$vo1[0]['num']}</div>
                    </a> </div>
                  <div class="clr"></div>
                </div>
                <div class="item-msg">
                  <div class="item-status">Delivery time:{$vo.delivertime}</div>
                </div>
                <div class="clr"></div>
              </div>
              <div class="clr"></div>
            </div>
          </volist>
          
           
          <div class="paging">
          {$page}
          </div> 
        
        </div>
      </eq>
    </div>
  </div>
  <div class="clr"></div>
</div>
<include file="Index:footer" />
</body>
</html>
