<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>会员编辑</title>
    <include file="Index:header"/>
    <script type="text/javascript"
            src="__PUBLIC__/Admin/js/xheditor/xheditor-1.2.1.min.js"></script>
    <script type="text/javascript"
            src="__PUBLIC__/Admin/js/xheditor/xheditor_lang/zh-cn.js"></script>
    <js href="__PUBLIC__/Admin/js/alerts/jquery.alerts.js" />
    <style>
        table{ margin-top: 10px; border: 1px solid #bebbdb}
    </style>
</head>
<body>
<!--<form action="__URL__/editMember" method="post" name="form1" id="form1" >-->
    <table border="0" cellspacing="0" cellpadding="3" class="MainTbl member" id="member">
        <tr class="toolbar">
            <td colspan="5" class=" ">【 会员信息 】</td>
        </tr>
        <tr>
            <td>
                <span class="title">用户名:</span>
                <span class="t_val"><input type="text" name="username" value="{$user.username}"/></span>
            </td>
            <td >
                <span class="title">ID&nbsp;编&nbsp;&nbsp;号:</span>
                <span class="t_val">{$user.id}</span>
            </td>
            <td>
                <span class="title">openid&nbsp;:</span>
                <span class="t_val">{$user.openid}</span>
            </td>
            <td>
                <span class="title">家庭人数:</span>
                <span class="t_val">{$user.familynum}</span>
            </td>
            <td>
                <span class="title">注&nbsp;&nbsp;册&nbsp;&nbsp;日&nbsp;&nbsp;期:</span>
                <span class="t_val">{$user.addtime}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="title">Email&nbsp;:</span>
                <span class="t_val"><input type="text" name="email" value="{$user.email}"/></span>
            </td>
            <td>
                <span class="title">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业:</span>
                <span class="t_val"><input type="text" name="occupation" value="{$user.occupation}"/></span>
            </td>
            <td>
                <span class="title">微&nbsp;信&nbsp;名:</span>
                <span class="t_val">{$user.weixin}</span>
            </td>

            <td>
                <span class="title">注册时长:</span>
                <span class="t_val">55天</span>
            </td>

            <td>
                <span class="title">上次下单天数:</span>
                <span class="t_val">1天</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="title">电&nbsp;&nbsp;&nbsp;话:</span>
                <span class="t_val"><input type="text" name="telephone" value="{$user.telephone}"/></span>
            </td>
            <td>
                <span class="title">用户级别:</span>
                <span class="t_val">
                    <select name="usertype">
                        <option value="">--用户级别--</option>
                        <volist name="level" id="vo">
                            <option value="{$vo.id}"  <if condition="($user['usertype'] eq $vo['id'])">selected</if>>{$vo.name}</option>
                        </volist>
                    </select>
                </span>
            </td>
            <td>
                <span class="title">居住城市:</span>
                <span class="t_val"> <input type="text" name="cityname" value="{$user.cityname}" /></span>
            </td>
            <td>
                <span class="title">性&nbsp;&nbsp;&nbsp;别:</span>
                <span class="t_val">
                        <input type="radio"  name="sex" id="sex1"  value="1"  <if condition="($db.sex eq 1)">checked</if> />
                        <label for="sex1">男</label>
                        <input type="radio"  name="sex" id="sex0"  value="0"  <if condition="($db.sex eq 0)">checked</if> />
                        <label for="sex0">女</label>
                </span>
            </td>
            <td>
                <span class="title">上次下单日期:</span>
                <span class="t_val">1天</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="title">改密码:</span>
                <span class="t_val"><input type="password" name="password" value="{$user.password}"/></span>
            </td>
            <td>
                <span class="title">用户喜好:</span>
                <span class="t_val"><input type="text" name="hobby" value="{$user.hobby}"/></span>
            </td>
            <td colspan="2">用户折扣组</td>
            <td>
                <button onclick="modifyUser({$user.id})">保存</button>
                <button onclick="login({$user.id})">以该会员身份登录</button>
            </td>
        </tr>
    </table>
    <br/>

    <div>
        <h3>
           【 收货地址 】
        </h3>
        <volist name="addresslist" id="vo">
            <table border="0" cellspacing="0" cellpadding="3" class="MainTbl member" >
                <tr>
                    <td rowspan="4" width="20">{$i}</td>
                    <td rowspan="4" width="20"><if condition="$vo['isdefault'] eq 1">默认</if></td>
                    <td>
                        <span class="title">收&nbsp;货&nbsp;人&nbsp;:</span>
                        <span class="t_val"><input type="text" name="username" value="{$vo.username}" /> </span>
                    </td>
                    <td>
                        <span class="title">电&nbsp;&nbsp;话:</span>
                        <span class="t_val"><input type="text" name="telephone" value="{$vo.telephone}" /></span>
                    </td>

                    <td>
                        <span class="title">性&nbsp;&nbsp;&nbsp;别:</span>
                        <span class="t_val">
                            <input type="radio"  name="sex{$i}" value="1"  <if condition="($db.sex eq 1)">checked</if> />
                            <label for="sex1">男</label>
                            <input type="radio"  name="sex{$i}" value="0"  <if condition="($db.sex eq 0)">checked</if> />
                            <label for="sex0">女</label>
                        </span>
                    </td>
                    <td>
                        <span class="title">语言:</span>
                        <span class="t_val">
                             <if condition="$vo.language eq 1">
                                 中文
                             <else/>
                                 英文
                             </if>
                        </span>
                    </td>

                </tr>
                <tr>
                    <td>
                        <span class="title">地址简称:</span>
                        <span class="t_val"><input type="text"/></span>
                    </td>
                    <td>
                        <span class="title">电话2:</span>
                        <span class="t_val"><input type="text" name="telephone2" value="{$vo.telephone2}"/></span>
                    </td>

                    <td>
                        <span class="title">城市:</span>
                        <span class="t_val"><input type="text" name="cityname" value="{$vo.cityname}"/></span>
                    </td>
                    <td colspan="3">
                        <span class="title">进入提示:</span>
                        <span class="t_val"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="title">详细地址:</span>
                        <span class="t_val">
                            <input type="text" value="tian fu xin gu" size="100" />
                        </span>
                    </td>
                    <td rowspan="2"><button onclick="modifyAddr({$vo.id})">保存</button></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="title">中文地址:</span>
                        <span class="t_val">
                            <input type="text" value="天府新谷" size="100" />
                        </span>
                    </td>
                </tr>
            </table>
        </volist>
    </div>
<include file="Index:footer"/>
</body>
</html>