<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员编辑</title>
<include file="Index:header" />
<script type="text/javascript"
	src="__PUBLIC__/Admin/js/xheditor/xheditor-1.2.1.min.js"></script>
<script type="text/javascript"
	src="__PUBLIC__/Admin/js/xheditor/xheditor_lang/zh-cn.js"></script>
</head>
<body>
<form action="__URL__/editMember" method="post" name="form1"
		id="form1">
  <input type="hidden" id="id" name="id" value="{$db.id}" />
  <table border="0" cellspacing="1" cellpadding="3" class="MainTbl">
    <tr class="toolbar">
      <td colspan="4" class="tc">【 编辑会员 】</td>
    </tr>
    <tr class="row0">
      <td class="col1" width="140" >会员等级：</td>
      <td colspan="3"><select name="usertype" id="usertype">
          <option value="0">--选择等级--</option>
          <volist id="vo" name="list">
            <if
							condition="($db['usertype'] eq $vo['id'])">
              <option value="{$vo.id}" selected="selected">
              <?php 
if ($vo['depth']!=='1'){
echo(str_repeat("&nbsp;",($vo['depth']-1)*4).'|-');
}?>
              {$vo.name}</option>
              <else />
              <option value="{$vo.id}">
              <?php 
if ($vo['depth']!=='1'){
echo(str_repeat("&nbsp;",($vo['depth']-1)*4).'|-');
}?>
              {$vo.name}</option>
            </if>
          </volist>
        </select>
        <span class="fc_red">* </span></td>
    </tr>
    <tr class="row0">
      <td class="col1" >用户名：</td>
      <td><input type="text" class="inputText1 readonly" id="username" name="username"
					maxlength="100" value="{$db.username}" readonly="readonly" />
        <span class="fc_red">* </span></td>
      <td class="col1" width="140">密码：</td>
      <td><input type="password" class="inputText1" id="userpwd" name="userpwd"
					maxlength="32" value="{$db.userpwd}" />
        <span class="fc_red">* </span></td>
    </tr>
    <tr class="row0">
      <td class="col1">真实姓名：</td>
      <td><input type="text" class="inputText1" name="userreal" id="userreal" maxlength="100" value="{$db.userreal}" /></td>
      <td class="col1">性别：</td>
      <td><if condition="($db.sex eq 0)">
          <input type="radio"  name="sex" id="sex1"  value="1"  />
          <label for="sex1">男</label>
          <input type="radio"  name="sex" id="sex0"  value="0" checked="checked" />
          <label for="sex0">女</label>
          <else/>
          <input type="radio"  name="sex" id="sex1"  value="1" checked="checked" />
          <label for="sex1">男</label>
          <input type="radio"  name="sex" id="sex0"  value="0"  />
          <label for="sex0">女</label>
        </if></td>
    </tr>
    <tr class="row0">
      <td class="col1">身份证号：</td>
      <td><input type="text" class="inputText1" name="idcard" id="idcard" maxlength="18" value="{$db.idcard}" /></td>
      <td class="col1">生日：</td>
      <td><input type="text" class="inputText1 calendar1" name="birthday" id="birthday" maxlength="100" value="{$db.birthday}" /></td>
    </tr>
    <tr class="row0">
      <td class="col1">形象图：</td>
      <td colspan="3"><input type="text" class="inputText1 w350" name="indexpic" id="indexpic" maxlength="100" value="{$db.indexpic}" />
        <input type="button" class="btn1 btnUpload" id="btnUpload" value="上传" /></td>
    </tr>
    <tr class="row0">
      <td class="col1">喜好：</td>
      <td colspan="3"><input type="text" class="inputText1 w350" name="hobby" maxlength="100" value="{$db.hobby}" />
      </td>
    </tr>
    <tr class="row0">
      <td  colspan="4"><strong>联系信息</strong></td>
    </tr>
    <tr class="row0">
      <td class="col1">联系电话：</td>
      <td><input type="text" class="inputText1 " name="telephone" id="telephone" maxlength="100" value="{$db.telephone}" /></td>
      <td class="col1">传真：</td>
      <td><input type="text" class="inputText1 " name="fax" id="fax" maxlength="100" value="{$db.fax}" /></td>
    </tr>
    <tr class="row0">
      <td class="col1">Email：</td>
      <td><input type="text" class="inputText1 " name="email" id="email" maxlength="100" value="{$db.email}" /></td>
      <td class="col1">地址：</td>
      <td><input type="text" class="inputText1 w350 " name="address" id="address" maxlength="100" value="{$db.address}" /></td>
    </tr>
    <tr class="row0">
      <td class="col1">详细介绍：</td>
      <td colspan="3"><textarea type="text" class="inputText1 editor" name="info" id="info">{$db.info}</textarea></td>
    </tr>
    <tr class="row0 hide">
      <td  colspan="4"><strong>收货地址列表</strong></td>
    </tr>
    <tr class="row0 hide"> 
      <td colspan="4">
  <table border="0" cellspacing="1" cellpadding="3" class="MainTbl">
  <tr class="header">
    <td>编号</td>
    <td>Name</td>
    <td>Gender</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Address</td>
    <td>Remark</td> 
    <td width="50">默认地址</td> 
    </tr>
    <volist name="addresslist" id="vo">
  <tr>
    <td>{$key+1}</td>
    <td>{$vo.username}</td>
    <td><eq name="vo.sex" value="1">男<else/>女</eq></td>
    <td>{$vo.telephone}</td>
    <td>{$vo.email}</td>
    <td>{$db.proname}{$db.cityname}{$db.disname} {$db.address}</td>
    <td>{$vo.info}</td>
    <td><eq name="vo.isdefault" value="1">是<else/>否</eq></td>
  </tr>
  </volist>
  </table>

      </td>
    </tr>
    <tr class="row0">
      <td  colspan="4"><strong>登录信息</strong></td>
    </tr>
    <tr class="row0">
      <td class="col1">注册时间：</td>
      <td>{$db.addtime}</td>
      <td class="col1">登录次数：</td>
      <td>{$db.logtimes}</td>
    </tr>
    <tr class="row0">
      <td class="col1">最后登录时间：</td>
      <td>{$db.lastlogtime}</td>
      <td class="col1">最后登录IP：</td>
      <td>{$db.lastlogip}</td>
    </tr>
    <tr class="row0">
      <td class="col1">余额：</td>
      <td><a href="{:U('Member/balance','searchtype=0&keyword='.$db['username'])}">{$db.balance}</a></td>
      <td class="col1">积分：</td>
      <td><a href="{:U('Member/credit','searchtype=0&keyword='.$db['username'])}">{$db.credit}</a></td>
    </tr>
    <tr class="row0 ">
      <td class="col1">openid：</td>
      <td colspan="3">{$db.wechatid}</td>
    </tr>
    <tr class="row0 hide">
      <td class="col1">排序：</td>
      <td colspan="3"><input type="text" class="inputText1 numeric w50" name="sort" id="sort" maxlength="10" value="{$db.sort}" /></td>
    </tr>
    <tr class="row0">
      <td class="col1">状态：</td>
      <td colspan="3"><select name="status" id="status">
          <option value="1">启用</option>
          <if condition="($db.status eq 0)">
            <option value="0" selected="selected">禁用</option>
            <else/>
            <option value="0">禁用</option>
          </if>
        </select></td>
    </tr>
    <tr class="footer">
      <td colspan="4" class="tc"><input type="submit" class="btn1" value="保存" />
        <input type="button" class="btn1" value="返回" onclick="history.back();" /></td>
    </tr>
  </table>
</form>
<include file="Index:footer" />
</body>
</html>