<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
</head>

<body>
<include file="Index:nav2" />
<div class="container">
<div class="content">
<div class="box980">
  <div class="left"> 
    
    <!--二级栏目--> 
    <include file="Index:nav2sub" />
    <div class="tit01 nyltit"><strong>推荐兑换</strong></div>
    <div class="txt01 nytjcp">
      <ul>
        <volist name=":get_product_lists(C('DEFAULT_CREDIT_CHANNEL'),3,2)" id="vo">
          <empty name="vo.linkurl">
            <li><a href="{:U('Point/view','id='.$vo['id'])}" target="_blank"><img src="{$vo.indexpic}" width="130" height="130" alt="{$vo.title}" /><span>{$vo.title}</span><span class="jiage"><strong>{$vo.price}积分</strong> / {$vo.unit}</span></a></li>
            <else/>
            <li><a href="{$vo.linkurl}" target="_blank"><img src="{$vo.indexpic}" width="130" height="130"  alt="{$vo.title}" /><span>{$vo.title}</span><span class="jiage"><strong>{$vo.price}积分</strong> / {$vo.unit}</span></a></li>
          </empty>
        </volist>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="tit01 sx_tit"><strong>商品筛选</strong></div>
    <div class="txt01 sx_txt">
      <p><span class="zdname">品牌：</span><span class="zdcs">
      <a href="{:U('Point/lists','id='.$id.'&brand=&price='.$price)}" <eq name="brand" value="">class="selected"</eq>>不限</a> 
      <volist name="brandlist" id="vo">
      <a href="{:U('Point/lists','id='.$id.'&brand='.$vo.'&price='.$price)}" <eq name="brand" value="$vo">class="selected"</eq> >{$vo}</a>
      </volist>
      </span></p>
      <p><span class="zdname">积分：</span><span class="zdcs">
      <a href="{:U('Point/lists','id='.$id.'&brand='.$brand.'&price=')}" <eq name="price" value="">class="selected"</eq> >不限</a> 
      <volist name="pricelist" id="vo">
      <a href="{:U('Point/lists','id='.$id.'&brand='.$brand.'&price='.$vo[0].'-'.$vo[1])}" <eq name="price" value="$vo[0]">class="selected"</eq> >{$vo[0]}-{$vo[1]}</a>
      </volist>
      </span></p>
    </div>
    <div class="tit01 px_tit">
    <span id="fenye">
    <neq name="pageprev" value="">
    <a href="{:U('Point/lists','id='.$id.'&brand='.$brand.'&price='.$price.'&p='.$pageprev)}"><span class="prev">上一页</span></a>
    <else/>
    <a href="javascript:void(0)" class="disabled"><span class="prev">上一页</span></a>
    </neq>
    <neq name="pagenext" value="">
    <a href="{:U('Point/lists','id='.$id.'&brand='.$brand.'&price='.$price.'&p='.$pagenext)}"><span class="next">下一页</span></a>
   <else/>
    <a href="javascript:void(0)" class="disabled"><span class="next">下一页</span></a>
     </neq>
    
    </span><strong>排序</strong><a href="{:U('Point/lists?id='.I('id').'&order=1')}"  
      <eq name="order" value="1"> class="selected" </eq>
      >默认</a><a href="{:U('Point/lists?id='.I('id').'&order=2')}"  
      <eq name="order" value="2"> class="selected" </eq>
      ><span  class="up">积分</span></a><a href="{:U('Point/lists?id='.I('id').'&order=3')}"  
      <eq name="order" value="3"> class="selected" </eq>
      ><span  class="down">销量</span></a><a href="{:U('Point/lists?id='.I('id').'&order=4')}"  
      <eq name="order" value="4"> class="selected" </eq>
      >最新</a></div>
    <div class="txt01 cplist">
      <ul>
        <volist name="list" id="vo">
          <li><a href="{:U('Point/view?id='.$vo['id'])}"><img src="{$vo.indexpic}" alt="{$vo.title}" width="150" height="150"   /><span>{$vo.title}</span><span class="jiage"><strong>{$vo.price}积分</strong> / {$vo.unit}</span></a></li>
        </volist>
      </ul>
      <div class="pagelist">{$page}</div>
    </div>
  </div>
  <div class="clear"></div>
</div>
  <div class="clear"></div>
</div>
  <div class="clear"></div>
</div>
<include file="Index:footer" />
</body>
</html>
