<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$title}{:lbl('subtitleshop')}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<include file="Index:header" />
<js href="__PUBLIC__/js/jquery.idTabs.min.js" />
<js href="__PUBLIC__/js/jquery.jcarousel.pack.js,__PUBLIC__/js/jquery.jqzoom-core-pack.js,__PUBLIC__/js/jquery.jproducts.js" />
<css href="__PUBLIC__/js/jquery.jcarousel.css,__PUBLIC__/js/jquery.jqzoom.css" />
</head>

<body>
 <include file="Index:nav2" />
<div class="container">
  <div class="content">
    <div class="box980">
      <div class="left"> 
        
        <!--二级栏目--> 
        <include file="Index:nav2sub" />
        <div class="tit01 nyltit"><strong>推荐兑换</strong></div>
        <div class="txt01 nytjcp">
          <ul>
            <volist name=":get_product_lists($db['pid'],3,2)" id="vo">
              <empty name="vo.linkurl">
                <li><a href="{:U('Point/view','id='.$vo['id'])}" target="_blank"><img src="{$vo.indexpic}" width="130" height="130" alt="{$vo.title}" /><span>{$vo.title}</span><span class="jiage"><strong>{$vo.price}积分</strong> / {$vo.unit}</span></a></li>
                <else/>
                <li><a href="{$vo.linkurl}" target="_blank"><img src="{$vo.indexpic}" width="130" height="130"  alt="{$vo.title}" /><span>{$vo.title}</span><span class="jiage"><strong>{$vo.price}积分</strong> / {$vo.unit}</span></a></li>
              </empty>
            </volist>
          </ul>
        </div>
      </div>
      <div class="right03">
        <h1 class="cpname">{$db.title}</h1>
        
        <neq name="gallery|count" value="0">
          <div class="cpshow">
            <div class="bigcp">
                <volist name="gallery" id="vo"><eq name="key" value="0"><a href="{$vo}" class="jqzoom" rel="gal1" title="{$db.title}"> <img src="{$vo}" width="360" height="360"  alt="" /></a></eq></volist>
                </div>
            <div class="smallcp"> <a href="javascript:void(null)" class="pro-prev" id="mycarousel-prev"></a>
              <div  class="mycarousel-box">
              <ul  id="mycarousel">
                <volist name="gallery" id="vo">
                  <li><a href="javascript:void(0);" <eq name="key" value="0">class="zoomThumbActive"</eq> rel="{ gallery: 'gal1',largeimage:'{$vo}',smallimage:'{$vo}' }" title=""><img src="{$vo}" width="60" height="60"  alt="" /></a></li> 
                </volist>
              </ul>
              </div>
              <a href="javascript:void(null)" class="pro-next" id="mycarousel-next"></a> </div>
          </div>
        </neq>
        
        <div class="cpcs">
          <p><span class="csname">品牌：</span>{$db.brand}</p> 
          <p><span class="csname">积分：</span><span class="jiage02">{$db.price}</span> / {$db.unit}</p>
          <p><span class="csname">库存：</span>
            <gt name="db.stock" value="0">
            有货
            <else/>
            缺货
            </gt>
          </p> 
          <p><span class="csname">支付方式：</span>积分抵扣</p>
          <p><span class="csname">兑换数量：</span><a href="javascript:void(null)" id="jian" class="btnDeduct"></a>
            <input type="text" class="sl numeric" value="1" id="buycount" name="buycount"  >
            <a href="javascript:void(null)" id="jia" class="btnPlus"></a></p>
          <div class="jrgwc"><a href="javascript:void(null)" id="btnAddPoint"></a><br /><br />
          注意：兑换订单一旦提交，积分不退。<br />（您的积分：<span class="fc_red">{:get_usercredit(get_userid())}</span>）
      <input type="hidden" name="hid" id="hid" value="{$db.id}" /> 
      <input type="hidden" name="stock" id="stock" value="99" />
      <input type="hidden" name="ext" id="ext" value="" /> 
      <input type="hidden" name="priceinfo" id="priceinfo" value="{$db.priceinfo}" /></div>
        </div>
        <div class="clear"></div>
        <div class="cptab idTabsHover"><a href="javascript:void(0)" class="selected" rel="#tab1">商品介绍</a> </div>
        <div class="cpjs"> 
        <div id="tab1">{$db.content}</div>  
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<include file="Index:footer" /> 
<script>  

$(function(){ 

	$("#btnAddPoint").click(function(){
		
		var title = "您确定要申请兑换积分吗？此积分不退！";
        swal({
            title: '',
            text: title,
            type: 'warning',
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "Yes"
            // confirmButtonColor: "#2eb661"
        }, function() {
            var id="{:I('id')}";
            var num = $("#buycount").val();
            var ext=$("#ext").val();
            $.addPoint(id,num,ext);
        });
	});
 
})
	
			   
</script>
</body>
</html>
