<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{$shoptitle}</title>
    <include file="Index:header"/>
</head>

<body>
<include file="Index:bar"/>
<?php
$so=($sort=='desc'?'asc':'desc');
?>
<div class="container pdt5">
    <div class="saixuan">
        <ul>
            <li><a href="{:Uu('Product/lists','id='.$id.'&order=1')}"
                <eq name="order" value="1"> class="selected"</eq>
                >Default</a></li>
            <li>
                <eq name="order" value="2">
                    <a href="{:Uu('Product/lists','id='.$id.'&order=2&sort='.$so)}"
                    <eq name="order" value="2"> class="selected"</eq>
                    >
                    <eq name="sort" value="desc">
                        <span class="down">Price</span>
                        <else/>
                        <span class="up">Price</span>
                    </eq>
                    </a>
                    <else/>
                    <a href="{:Uu('Product/lists','id='.$id.'&order=2&sort='.$so)}"><span class="">Price</span></a>
                </eq>
            </li>
            <li>
                <eq name="order" value="3">
                    <a href="{:Uu('Product/lists','id='.$id.'&order=3&sort='.$so)}"
                    <eq name="order" value="3"> class="selected"</eq>
                    >
                    <eq name="sort" value="desc">
                        <span class="down">Sold</span>
                        <else/>
                        <span class="up">Sold</span>
                    </eq>
                    </a>
                    <else/>
                    <a href="{:Uu('Product/lists','id='.$id.'&order=3&sort='.$so)}"><span class="">Sold</span></a>
                </eq>

            </li>
        </ul>
    </div>
    <div class="clr"></div>
    <div class="splist">
        <if condition="!empty($noSearch) && empty($list)">
            <br/>
            <br/>
            <h3 class="tc">{$noSearch}</h3>
            <else/>
            <ul>
                <volist name="list" id="vo">
                    <li id="js_goods_{$vo['id']}" data-id="{$vo['id']}" data-price="{$vo['price']}" data-stock="{$vo['stock']}"
                        data-indexpic="{$vo.indexpic}" data-name="{$vo['title']}">
                        <div class="good_box">

                            <div class="list-good-img fl">
                                <a href="{:Uu('Product/view','id='.$vo['id'])}">
                                    <img src="__PUBLIC__/img/grey.gif" class="lazy"
                                         data-original="{$vo.indexpic}" alt="{$vo.title}" width="100%"/>
                                </a>
                            </div>
                            <div class="list-good-title fr">
                                <div class="good-k">
                                    <a href="{:Uu('Product/view','id='.$vo['id'])}">
                                        <span class="g_title" >{$vo.title}</span><br/>
                                        <span class="clo9">Unit:{$vo.unit}</span><br/>
                                        <span class="clo9">Preservation:{$vo.storage}</span><br/>
                                        <span class="clo9">Origin:{$vo.origin}</span>
                                        <notempty name="vo.brand">
                                            <!--<span class="clo9">Brand:{$vo.brand}</span><br/>-->
                                        </notempty>
                                    </a>
                                </div>
                                <div class="spjg">
                                    <div class="fl">
                                        <i class="price num-item">&yen;{$vo.price}</i>
                                        <if condition="$vo['price1'] gt 0">
                                            <s class="num-item" style="color: #999999;font-size: 13px;">&yen;{$vo.price1}</s>
                                            <else/>
                                            &nbsp;
                                        </if>
                                    </div>
                                    <div class="fr g_btn">
                                        <div class="cat_cart_num hide fl" onclick="prepGood('{$vo.id}')"></div>
                                        <div class="num fl tc hide" id="js_goods_num_{$vo['id']}">0</div>
                                        <div class="add_cart_num fr" data-id="{$vo.id}"
                                             onClick="addgood('{$vo.id}',event);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </volist>
            </ul>
        </if>
    </div>
    <div style="text-align: center;color: #999999;margin-top: 20px; ">www.waifood.com </div>
    <div class="fybox">{$page}</div>
    <div class="clr"></div>
</div>
<include file="Index:footer"/>
<script>
    window.weixinJs=function(){
        wx.share={
            title:"waifood share",
            img:"http://www.waifood.com/Public/img/404.png",
            link:window.location.href,
            desc:"waifood share"
        };
        wx.wxshare();
    }
</script>
</body>
</html>
