<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>{$shoptitle}</title>
<include file="Index:header" />
<js href="__PUBLIC__/Home/member/js/jquery.swipe.js" />
<js href="__PUBLIC__/Home/js/jquery.idTabs.min.js" />
</head>

<body data-subscribe="{$subscribe}">
<include file="Index:bar" />
<div class="container">
  <neq name="gallery|count" value="0">
    <div class="pro-img"> <a href="javascript:void(0);" id="tapPrev">
        <img src="__PUBLIC__/Home/images/tapprev.png" alt="" width="20"/>
    </a>
      <div class="tapSwipe" id="tapSlider">
        <div class='swipe-wrap'>
          <volist name="gallery" id="vo">
            <div>
                <a href="{$vo}" class="touch" onClick="return false;">
                    <img  src="{$vo}" alt=""  />
                </a>
            </div>
          </volist>
        </div>
      </div>
      <a href="javascript:void(0);" id="tapNext">
          <img src="__PUBLIC__/Home/images/tapnext.png" alt="" width="20"/>
      </a>
    </div>
  </neq>
  
  <div class="pro-wrap" id="js_goods_{$db['id']}" data-id="{$db['id']}" data-price="{$db['price']}"  data-stock="{$db['stock']}" data-indexpic="{$db.indexpic}" data-name="{$db['title']}">
    <div class="pro-info">
      <div class="pro-title">{$db.title}</div>
        <br/>
      <div class="pro-price fl">
          <span class="price num-item" id="ProductPrice">&yen;{$db.price}</span>
          <if condition="$db['price1']  gt 0">
              <span class="price1 num-item">&yen;{$db.price1}</span>
          </if>
      </div>
        <div class="fr g_btn">
            <div class="cat_cart_num hide fl" onclick="prepGood('{$db.id}')"></div>
            <div class="num fl hide tc" id="js_goods_num_{$db['id']}" >0</div>
            <div  class="add_cart_num fr" data-id="{$vo.id}" onClick="addgood('{$db.id}',event);" ></div>
        </div>
    </div>
      <div class="goodinfo">
         <span>Unit:</span>  <span>{$db.unit}</span><br>
         <span>Origin: </span>   <span>{$db.origin|default='null'}</span><br>
         <span>Preservation:</span>   <span>{$db.storage|default='null'}</span><br>
         <notempty name="db.brand">
             <span>Brand:</span>   <span>{$db.brand}</span><br />
         </notempty>
      </div>
    <div class="pro-detail">
      <div class="detail-box" style="border: none">
        <div class="view-title">
            <a href="javascript:void(0);" rel="#detail-info" class="viewselected">Description</a>
            <!--<a href="javascript:void(0);" rel="#detail-comment" class="hide" style="display: ;">Comment （<span class="fc_blue" id="COUNTALL">0</span>）</a>-->
        </div>

        <div class="db-info">
          <div class="detail-info" id="detail-info">
          <div id="Property">
          <p class="cs">
                <notempty name="db.notice">
                <br /><strong>Notice:</strong>
                {$db.notice}
                </notempty>
            </p>
          </div>
          <div id="LoadInfo"> {:str_replace(' src=',' src="__PUBLIC__/images/grey.gif" class="lazy"  data-original=',$db['content'])}</div> </div>
          <div class="detail-info" id="detail-comment">
            <div id="LoadComments">
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div> 
    </div> 
    <div class="clr"></div>
  </div>
  <div class="clr"></div> 
</div>
<include file="Index:footer" /> 
<script>

var npage=1;
var isOpen=false;
$.getResult=function(page){
	npage=page;
	var id="{$db.id}";
	var id1=arguments[1];
	if (id1!=undefined){id1="&id1="+id1;}else{id1=""};
	$.ajax({
	  url: "__URL__/comment/id/"+id+"/p/"+page,
	  cache: false,
	  success: function(html){
		$("#LoadComments").html(html); 
	 
	  }
	}); 
};
function rendPriceInfo(){
	var $test = $("#priceinfo").val();
	var str=""
	var arr1=$test.split("¤");
	var arr2;
	for(var i=0;i<arr1.length;i++){ 
		if(arr1[i].indexOf("￠")>-1){
			arr2=arr1[i].split("￠"); 
			str+=getTemp(arr2[0],arr2[1],arr2[2],arr2[3]);
			 
		}
	};
	
	if(str!=""){
		var lastrow=$("#extinfo span").last();
		$(str).insertAfter(lastrow); 
	} 
}
function getTemp(){
	var p1,p2,p3,p4;
	p1=(arguments[0]==undefined?"":arguments[0]);
	p2=(arguments[1]==undefined?"":arguments[1]);
	p3=(arguments[2]==undefined?"":arguments[2]);
	p4=(arguments[3]==undefined?"":arguments[3]);
	html = "";  
	html = html + ("<span data=\""+parseFloat(p2).toFixed(2)+"\">"+p1+"</span>");
	return (html);	
}

$(function(){
    window.weixinJs=function(){
        wx.share={
            title:"Waifood",
            img: "{:C('DOMAIN')}"+$('#tapSlider img').eq(0).attr('src'),
            link:window.location.href+'?to=share&hd=specific',
            desc:"{$db.title}"
        };
        wx.wxshare();
    }

    //rendPriceInfo();
 	$(".btnDeduct").on("click",function() {
		var minbuy = parseInt($("#buycount").attr("min")); 
		var num = parseInt($("#buycount").val()); 
		if(minbuy!=0){
			if(num<minbuy){
				jTip('Sorry, this product requires a minimum quantity of '+minbuy+'.');	
				$("#buycount").val(minbuy);
				return false;
			}
		};
		return false;
 	});
	$("#btnAddCart").click(function(){
		var id="{:I('id')}"; 
		var num = parseInt($("#buycount").val()); 
		var stock = parseInt($("#stock").val());
		if( stock<num ){
			alert("Sorry, Inventory shortage."); return;
		}
		var ext=$("#ext").val();
		$.addCart(id,num,ext);
	});

	$('#attention').click(function(){
		$.addFav("{$db.id}");
	});
	
	
	$('#btnMore').click(function(){
		var obj=$(this).find("i");
		if(isOpen){
			isOpen=false;
		obj.removeClass("up");
		$("#detail-info").css("max-height","200px");
		}else{
			isOpen=true;
		obj.addClass("up");
		$.resetInfo();
		$("#detail-info").css("max-height","none");
		}
		
	});
	 
	$("#extinfo span").on("click",function(){
		var obj=$(this).parent();
		var id=obj.attr("data");
		var price=$(this).attr("data");
		obj.find("span").removeClass("viewselected");
		$(this).addClass("viewselected");
		$("#ProductPrice").text(price);
		var txt = $(this).text();
			txt = (txt=='标配'?'':txt);
		$("#"+id).val(txt);
	});

})




</script>
</body>
</html>
